
---
title: "War"
---



<div class="image-container">
<picture class="chapter-head">
    <source
        media="(min-width:800px)"
        srcset= "/images/books/valkyriextruck/chapters/chapter10/heading.webp"
        />
    <source
        media="(max-width:799px)"
        srcset="/images/books/valkyriextruck/chapters/chapter10/heading-s.webp"

        />
        <img
           src="/images/books/valkyriextruck/chapters/chapter10/heading.webp" 
           alt="delivery truck"
           decoding="auto"
           />
        </picture>
</div>
<div class="chapter-divider"></div>

# Chapter 10: War

Violet streaks burst against the black sky. Ash and thunder descended onto the cobalt-colored truck. The wail of the engine sang a discordant harmony above the grumbling of the earth. Max stared out the window, watching the ceaseless lightning reflect from the surface of the lake. Water lapped at the mound of dead fish laying on the shore. A rotting stink filtered through the vents. 

“Exterminate us? What are we, ants?” Max growled. His hand slid down to the door panel and tapped just above the lock controls. Runa leaned back against her headrest. Her hand lifted from the wheel, and touched her brow. Her hawk-like eyes slid toward him, with her blue irises shining in the pitch.

“Yes,” she stated. 

Her word cut as deep as the engine’s wail. His stomach heaved, forcing him to twist toward the dash. 

“One. One could annihilate your entire species.” she said.

“If you’re so powerful, why do you need us, then?” Max barked. His fingers rapped hard on the plastic. 

“Countermeasure,” she said.

“No, it’s not enough, not this time,” Max growled. “Why do you ‘venerate’ men?”

She slid back to the road and tipped her head downward. Her knuckles turned white as she gripped the wheel.

“A Countermeasure against escalation.” she stated.

“Against what?” he sneered. 

“Ourselv…”

“I already know that,” Max snapped. 

Her nostrils flared. Her breath, like steam, hissed from her mouth.

“Let’s say you are fighting. First you have a stick, then they find a sword, so you pull a gun.” she explained. “Everyone is preparing for the Final Battle.

“Why not take everyone, then?" he asked.

Runa shook her head. Her hands relaxed their grip. 

“You’re a fool,” she muttered.

“Better than a liar,” he replied.

“What do you want?” she growled.

He paused. His finger curled in the air, as his mind raced. A flash caught his eye on the horizon.

The truck accelerated, shoving him back in his seat. 

“What’s happening?” he asked. 

“Signal,” she said. Her foot slammed down on the accelerator.

“Survivors?" he asked. His body pressed back into the seat as the truck accelerated. 

“Worse, it might be disaster relief,” She stated, before looking back to the blackened horizon behind them. Her hand lightly twisted the wheel, sliding the tires against the ash. The vehicle lurched to the side as pitch black drifted into view. Max’s stomach churned. Blood drained from his face. 

“You can’t be serious about going back,” he said, feeling the phantom rawness of his throat and the ever present itch of salted glass on his skin. “What do you have against disaster relief?”

“Or mil…” Runa started as an explosion rocked the side of the truck. “That’s not disaster relief,” she stated, as she jerked the wheel to the side. The truck twisted beneath him. Tires slid against the ash, as she swerved in the field, heading toward the flashing light.

“No kidding.” Max groaned.  Rubber squeezed against his palm, his head and arm swayed with every rapid turn of the truck. He tucked his head tucked between his shoulders, barely registering as another flash zipped past. “Runa, stop!” he screamed, reaching for the wheel. 

Runa’s widening eyes snapped to Max’s approaching hands. She slammed the brakes as another shot rocketed over the cab. She reached under the wheel and the wailing engine stopped. 

“STEP OUT OF THE CAR.” The voice blared over the air again. 

“Not good,” she muttered and undid her seatbelt, “You should let me handle the driving.”

“You were going to get us shot!” Max yelled. He threw open the door and stepped into the ash.

“MASKS OFF! HANDS ABOVE YOUR HEAD!” The tin voice called again.

“We would be gone already if you didn’t interfere,” Runa said, lowering her mask. “We could have just run them over.” 

“Yeah, we’d be dead.” Max said as he held his arms aloft. “You can’t run over that thing.”

A loud rumbling drowned out Runa’s response. Out of the light appeared a massive angular vehicle with a large gun on top. It stopped, and its ramp thudded into the ash. A half-dozen camouflaged soldiers poured out the back, with steps muffled by the gray powder. The large men took position around Max and Runa, shouting commands and pointing their rifles. One approached, yanking Max’s arm painfully behind him.

“Watch the shoulder.” Max growled through gritted teeth. His arm jerked downward, and with a rapid zip, his wrists cinched together. His hands yanked upward, as he was hauled to his feet. Shouting stung his ears as they dragged him into the vehicle. The man spun Max around, drilling him with teal eyes set behind a thick set of glasses, and an orange armband wrapped around his arm.

“Sit,” the man barked, before shoving Max into his seat. Another soldier stomped onto the metal flooring and pushed Runa down beside him. The door thudded shut, after the rest of the troop piled in. Only a soft light illuminated the cramped enclosure with humid, sweat laden air.

The metal boxes slid along the floor with the jangling of hooks on the webbing and side. The steel frame of the chair prodded his back. A bump tossed Runa’s leg into his. 

Her head stood perfectly still in her tossing seat. Her eyes glared across the vehicle. Max followed her line of sight, landing on the large soldier with the glasses. The soldier stared downward at the rifle between his knees. A bump tossed the bay, and the soldier’s gaze lifted to Max.

“What do you want?" he growled. 

Max’s eyes bolted to the floor.

“Maybe she’s tired of fooling around with a kid,” A soldier across from Max said, chuckling as he pointed a finger. He pursed his lips together, smooching the air at her. Max’s arms and legs curled in his seat.

“Oh, shut up, Miller,” the man on Max's side called.

The taunting lecher tossed a middle finger at the soldier.

“Trent, I swear one of these days I’m gonna stick you,” he sneered.

“Thought you wanted the blonde!” another jeered. The vehicle erupted in laughter. 

His body curled as they laughed. His muscles drew taut, and he shrank in his seat. A finger brushed his side. Runa’s hand grasped toward her exposed holster. She glared at the bespectacled soldier, with her emotionless expression.

“Maybe when you’re done with glasses…” Miller started. Glasses barked, silencing the crew. He stared back at her with a gruff expression.

“You creep the hell out of me. Look somewhere else,” Glasses ordered.

Runa remained fixed, studying seemingly every stitch and movement of the man. He pointed beside Max.

“Bag her,” he growled. Sweeping his finger to Runa. 

“Seriously?” Trent responded, raising a brow. He reached under his seat, and pulled out a black bag. Her eyes bolted upward as the sack descended. Her arms jerked forward, popping plastic, and stopped. She glimpsed at Max, then grabbed her own wrist. The bag covered her head.

The vehicle stopped with a jerk. Metal clunked, and the rear slammed into the ground. As if practiced a thousand times, the men bolted upright in unison and yanked Max out of his seat. 

Ash descended on an endless procession of tents. Canvas sides slowly rippled in the air. Yellow and orange lights dotted their crests, glowing defiantly against the broken black and gray sky. Ropes and stakes intertwined between the tents and narrow corridors split in every direction. Idle chatter permeated the frigid air. The sulfuric breeze carried a tinge of sickly sweet. A boot slammed into Max’s rear, sending him stumbling forward.

“Eyes ahead,” the soldier commanded. The paths converged, leading to a large courtyard, with a tent in the back. Two guards stood out front, and opened the flap as a soldier shoved Max into the tent. He tumbled to the ground, landing on his right shoulder. Pain rocketed through his arm. Runa was shoved into the room, with her arms behind her back.

“Max, are you there?” she whispered, twisting her bag covered head. “What’s in here?”

Max grit his teeth and rolled onto his back. Sucking a quick breath, he scanned the enclosure.

“Some folding chairs, a desk and a filing cabinet,” he said. 

“Guards?” she continued.

“Outside,” Max replied.

Runa’s hands swung upward, and removed the bag from her head. She glanced around the room, before hauling Max to his feet.

“Why didn’t they bind you?" he whispered.

She regarded him briefly, before pointing him at the chair. 

“You gonna break my cuffs?” he asked, twisting at the tight plastic cutting into his wrists.

Runa walked around the desk and peered inside the drawers.

“What do you think they’ll do?” he asked.

“Sit,” Runa responded. She pulled a pen and set it on top of the desk.

“What’s the plan? Talk to me,” he hissed, taking a seat. Her gaze swept to the filing cabinet.

A familiar, piercing voice called out above the rest. 

The flap of the tent opened, and a uniformed man stepped in, wearing aviators and a blonde mustache. Runa’s hands snapped behind her back.

“At ease, civilian,” he sneered. 

The officer’s voice crept in Max’s ears. Tremors rolled down Max’s spine as the officer stepped further into the room. 

“Who? What? Why are you here?” Max stammered. 

Runa leapt across the desk, before hurling a kick at the officer’s head. His hand bolted upward, catching it as a loud clap burst through the room. Her eyes widened. She leapt off her remaining foot, spinning in the air, as her leg careened toward the back of the officer’s skull. His arm snapped out, bouncing the limb backward with a crunch. He released the foot, letting Runa fall to the ground as his knee soared upward into her gut. The air snapped. She gasped, and tumbled off his knee into the ash covered dirt. His foot slammed down afterward, smashing into her gut. Her eyes bulged in their sockets. Spittle erupted from her mouth. The officer dusted his boot off on her shirt.

“You just don’t listen, do you?” he growled. He readjusted his aviators, covering his ice blue eyes. “Two strikes, you’re out.” 

Max froze in his seat. His hands pulled against his restraints as the officer stepped toward him. A rapid beat pounded in his ears as his eyes darted to Runa, coughing on the floor. She spat, spewing spittle into the ash. The officer towered over him. The officer’s foot rocketed upward, catching the edge of the chair, and spilling Max onto the floor.

A black leather boot crunched the ash next to his head. Sweat poured down his brow as the officer’s arm soared backwards. Sally’s smile flashed in his mind as the fist plummeted downward. Agony spread across his rippling flesh and crunching cartilage. The hand stopped, and retracted robotically. Blood flooded his nose and mouth, choking him. He  rolled, coughing and spitting crimson onto the gray dirt.

“Or was it three?” the officer said, chuckling loudly. He pulled a card from his pocket, and swiped it in the pooling blood. He turned, facing Runa as she struggled upward, still gasping for breath. His foot lashed out, kicking her in the face. Red splattered across the canvas of the tent. “Not good enough, little bird.” His boot slammed down on her hand. He crouched, and pulled a pistol from a holster. He slammed the tip into her right hand. A gunshot tore through Max’s ears, followed by Runa’s scream. “There we go,” he said, before pulling another card.

“Now for the penalty game,” he said, straightening. He stepped around the desk, and pulled out orange and yellow armbands.

An unseen eye loomed over Max, peering through clothes. Its gaze crept up his body, leaving no crevasse unsearched, no pore unscoured. Max scanned the room, past his own coughing and spitting form, for anything to conceal him. His eyes landed on the armband.

“It’s simple, really. Get your truck back. You already have the rules.” He chided. He sat on the desk, and casually swung a foot, hovering it above her head. “Watch out though. It’s a war zone out there.” He forced a loud chuckle, before slamming his foot into Runa’s face. His heel scraped across her brow, as he slid onto the dirt. He strolled to the exit, forcefully chuckling, and stopped just before. “Last thing though, if you see my friend, make sure to say ‘hi’,” he added.

A hand parted the tent door, and he stepped outside.

The glare crept through Max’s skin and clawed through his muscle. The invisible pupil twitched. Its gaze cast an ethereal roll of film across the floor. Max's body shook. He wriggled along the ground, toward the shining blackness in the center of the room. He watched, as pictures emitted upwards. 

Max sat by himself, performing multiplication tables. He turned, spying eyes peered in from the window behind him. He excitedly stood and was stopped mid-wave. Almost green microscopic bits floated from his fingertips. Disintegration swept down his hand, consuming his room, body, and friend.

He writhed on the ground as its gaze crept into his tendons. Ash brushed against his skin as a phantom image rose from the tape.

Max stood on top of a mound, with a ball of snow in one hand. He tested it in, and scanned the hillside. His father bolted upward, and Max hurled the ball with everything he could muster. The ball stopped in the air, as the gaze consumed the ball, hill, and his father.

His hand touched the edge of the desk. The eye loomed above him, with teeth-like spindles swirling. The roll emitted a new image. A baby sat in his tiny arms. Her Hazel eyes seemed to drink his own.

“Ruda, Helb!”

A fiber tore at his wrists, before a loud pop burst in his ears. His hand darted toward the shadow’s embrace.

Runa’s celeste eyes stared back at him. Blood trickled from her brow, pooling against her tear duct. Her battered and swelling face concealed the seemingly perfect bone structure beneath.

He coughed, and every bone in his body rattled. Like a hundred jagged shards, pain cut across every nerve in his face. Blood pooled in his mouth, threatening to drown him. Another cough sent a tumult of boney knives through his head.

Her fingers pinched his nose. He emitted a gurgled scream. She yanked. Every bone in his head shuddered and clicked. The copper flow slowed. She wrapped the sash around the front of his face. Her own contorted as she strained to stand. Her legs swept from view. A soldier’s glance peered through the tent, before snapping forward. 

“Fug,” he said, before spitting onto the floor. “Whad’s he doing here?”

“I don’t know,” Runa groaned. Her eyes darted frantically, seeming to focus on everything and nothing.

“You know someding,” Max growled. He swallowed, quenching his dry throat.

“I…” she started. The cabinet in the corner shook, drawing the back guard’s gaze.

“You regognize him, basdard,” he muttered.

“Yes,” she replied. A loud snap burst against his ears, before a metal cabinet handle landed next to his feet. “It’s locked.”

“Warnding would beened dice,” Max groaned, slumping his head to the ground. Liquid pooled at the back of his throat. He turned and spat. 

“He was imprisoned before I was born. I’ve never seen him before,” she said.

“Bullshid, ids da same officer,” Max grumbled.

“Was he?” she asked. “Why didn’t I recognize him as my own?”

“Whad does he wand?” he said, spitting more blood into the dirt.

“The Fool’s plans are unknowable,” Runa stated. “Something smells sour. We need to leave.”

“And dis gameb?” he said.

“An oath,” she explained, "you will wear that armband until we get the truck back.” She rounded the desk, and knelt beside him. 

Her eyes snapped upward, and darted in thought, before drifting back to him. “It’s not enough. You have to weave.” She stood and strode to the entry, parting the flaps with her blood covered hands, before striking one in the back  of the head. His body slumped downward, as her left arm wrapped around the other’s neck. He croaked, just barely, before his neck cracked. She turned.  

Pain fled Max’s mind. Teal eyes stared at him, paralyzing him. The man’s upturned brow and open mouth gaped after him. Max’s hands trembled. His mind screamed to turn away, but his body failed to obey its commands. His head remained frozen, staring as the light fled the sunken eyes. 
The body plummeted to the ground. She knelt, and drug the other past the entrance. Velcro ripped. A white bandage emerged from a pouch. She wrapped her crimson stained hand, before diving back into the red sack.  Pulling out a small packet, she dragged the body over to Max.  

“Swallow,” she said before slamming pills into Max’s gaping mouth. A hose chased after it, flooding his throat in warm liquid. Her hand clamped over his lips and forced his head back. He kicked against the ground and  grabbed her steely forearm. His eyes darted between her swollen face and the dead man at his feet. His lungs burned within him and forced him to swallow the sloshing fluid. Her hand released and he gasped for breath. Spittle flung as every cough rattled his skull.

“Wha…”

A fibrous ball rammed upward, scratching lines like acid through his nostril.  He twisted to scream as a second scraped into the other.

“What the fu…”

“Max,” Runa stated, cutting off his thought. “Weave. Burn the camp to get me a vehicle,” and dropped a pen onto his lap.

“What is wrong with you?” Max hissed.

“Weave,” she commanded. A silver sheen glinted a knife from the body, and glided out of sight.

Max braced himself against the desk.

“I… give me…”

“We don’t have time,” she replied. She strode back to cabinet. With a slam, she beat the back of the knife into the lock, then tipped the cabinet forward. The drawers coasted out. She snagged a folder, and tossed it onto the desk.

Papers slid outward, bumping Max’s fingers. He flipped a page to its back. His pen hovered over the paper.

“Max,” Runa stated.

His eyes drifted upward. Runa held the filing cabinet over her shoulder. Her body lurched backward under its awkward size, as her mouth moved.

“Duck!”

His eyes widened as her torso tipped forward. She stepped, and with a smooth motion hurled the cabinet past his head. Crashing metal muffled a man’s surprised cry. She sprinted forward, vaulted the desk, before slamming into another man, and driving him out of the tent.

Successive gunfire erupted from outside, then silence. Tremor’s worked their way down his hand. Sirens blared in the distance, followed by explosive pops. Ash crunched behind him. A hand slid against his arm and pressed the pen to the page.

“Hurry,” Runa hissed into his ears. The trembling ceased. Her warm hand slipped away, followed by a quick succession of steps.

He scratched the tip against the paper, pyre, fire, wheel, steal. Quickly, a poem formed.  With the strike of the last period, the paper was torn from the desk. He turned, to see Runa quickly light the paper and toss it onto the bodies. A sizzling white light blinded him. He turned away, blinking as burning metal clung to his copper stained mouth. Deep shadows pressed themselves into a whitewashed canvas. 

Runa grabbed his collar and dragged him to the side of the tent, before pulling him through a cut slit. Orange lights littered the dim encampment. The siren’s blare pierced his ears. Men shouted in every direction as they ran. A hand reached out of a tent, grabbing Max by the arm. The fabric of his shirt ripped as Runa sprinted into the distance.

“What’s happen…” The man started, before his gaze darted to the yellow armband. His blue eyes widened and he jerked Max upward. His voice boomed. “Spy—”

A knife slammed into his neck. The light faded, and his body tumbled into the dirt. The dead soldier's hand laid next to Max’s fraying canvas shoes, seeming to grasp at his leg. His heart weakly thrummed in his ears. The ground beneath him quaked. His head spun as he stumbled backwards, crashing into the side of a tent. His breathing accelerated, before a hand covered his mouth. 

Runa’s ghostly blue eyes slid into view, with a finger pressed against pursed lips. Her hand slid from her face and pried the knife from the man’s neck.

“Move,” she stated, before dragging him to his feet.

An explosion boomed in the distance. Orange flecks ascended into the ash-filled sky. Gunfire ripped through the air sporadically, as more pops burst behind them.

The bones of her palms shifted under the bandage. Her fingers twinged with every step. Men’s silhouettes draped across the tents in front of them. Runa ducked behind a plastic barrier, dragging Max in behind her.

“Something’s off, the tents are too close,” she muttered, before checking the chamber of her rifle.  Her eyes snapped up. “When I signal to come. Come immediately.” Runa stated. She placed a hand on his chest, holding him in place, as her head poked around the corner. A leg stepped into view. Her blade snapped out, slicing the man’s ankles. He collapsed, striking his head on the ground. His short-lived scream ended with the plunging of her dagger. Runa stabbed the knife into the ground, before lifting the man, and hurled him over the wall. She seized her blade, and charged directly after the flying body. Screaming erupted around the corner, followed by the crack of bullets. The flash of their muzzles illuminated her shadow across the tents.

Max poked his head over the barrier. A blackened trail meandered along the ground. Several men lay scattered in the path. Runa stood in the center of the dead, and snapped her rifle toward Max. Fire erupted from the tip. The plastic barrier shook. The air punched his face. He dropped below, curling his head between his shoulders.

Runa leaped over the barrier, smashing into the ground next to him.

“Never do that again,” she hissed. “I fight, you write.” Her vice-like grip hauled him to his feet. Her fingers dug into his exposed shoulder as she dragged him into a tent’s shadow.  She released him and bolted across an intersection. Gunfire ripped out. Green tracer fire ripped across her body. Ash and dirt erupted with a thump and snapped around her.  She rolled, and threw a grenade to the right. A burst of air tore against Max’s ears, followed by the screams of men.  

Runa slid next to a tent across the divide, before snatching a lantern and smashing it into the ground. Darkness enveloped her. Her arms reached out from the black, beckoning him across.

Short shallow breaths punctuated Max’s panic. His eyes darted to the dark trail at his feet.  Taking a gulp, he ran. Every breath burned against his brain. His legs seized, refusing to move. The golden demon stood, looking upward. The blue of her eyes burned as a lamp in the dark. 

She sprinted into the intersection. Max felt the press of her weight against his side, before finding himself soaring through the air. He landed in a heap against a tent, as she rolled and aimed. Several shots snapped out from her barrel, bathing the intersection in yellow light. Her head twisted to either side, before she sprinted back across. 

Amber flakes descended from the black sky. Heat washed over them, as the orange glow grew. Flames peaked above the tent’s tops, scattering searing ash onto Max’s exposed chest. He hissed as it burned his skin. Burnt hair tainted the blood in his mouth. Runa snatched his hand and hauled him away.

Her rifle snapped to the right. Pressure slammed against Max’s face as light erupted from its tip.  She sprinted sideways, slamming and shoving him into the ground.

He fell against the cragged rocks and ash. Acid sizzled through his veins, forcing a cry through his lips. His tattered shirt draped around his waist. 

Her gun blazed as she darted past him. The air snapped and whistled. Yellow light cast thick shadows across the canvas. Shafts of amber light peered through the tents' bullet holes. He crawled forward, poking his head around the corner as Runa hurled her rifle out of view. She ducked into the dark, pulling a knife. Her gaze flicked up, and she wagged her finger at him. She cut the fabric of a tent and crawled out of view. 

The orange glow beyond her grew. Heat swept away the bitter cold. A roaring blaze peaked over the tents. The smell of ash and sulfur overcame his copper tinged nose.  Distorted screams echoed over the tents.

“Get up!” Runa yelled. Max ducked below his hands, finding scant solace in the chaos. Her hand gripped his left shoulder and hauled him to his feet.

He ran. Smokey amber light cast their shades along the ground. The tents peeled away, leading to dozens of vehicles in a large gravel lot. Her step quickened. Max’s lungs burned with every movement. His feet screamed in protest, barely keeping him upright. 

Men shouted, pointing and hauling  buckets back to the roaring blaze. The smell of melted plastic and burning fabric coursed through Max’s mouth. Runa opened the back of a vehicle, before tossing him in. His pulse throbbed. Darkness crept in from the edge of his vision.  His dry mouth and throat burned with every rapid breath. The vehicle lurched forward, pressing him into the seat. 

Above him, black straps dangled. Red glinted in the fading glow. His head shook as a teal hole poked through the gray-black clouds above. He grabbed his face, ignoring his throbbing nose and covering his eyes. Phantom carcasses painted the back of his eyelids, as the shadow of death pooled around his body. They called for him, for weapons. A hand reached from the bodies, grabbing him by the shoulder and jerking from his seat.
Blue eyes soared into view. A swollen, scrunched face of a woman glared back at him. Her mouth moved as black shapes swept past her golden hair.  She squeezed harder, drawing him in. A bone in her palm snapped. She winced, as it jutted upright in her bandage. 


“Max, look for weapons,” she stated between gritted teeth.

His pulse slowed. Black receded into the edge of his sight. The vehicle bumped along the ground. Red and green stippled lines swept across the sky. Distant thunderings pounded against his ear as purple flashes of lightning streaked the sky above. Her hand twisted the wheel, as gravity pressed against his body.

“Max, look for weapons,” she reiterated. 

He set a hand on the console beneath him, as his other gripped hers.

“Ok,” he said.

Runa released his shoulder. He collapsed downward, barely holding himself upright with his weakened arm. He slid into the back, and scanned the seat.

“Two rifles,” he called, before looking at the blood stained harness. His skin recoiled as he gripped the straps and failed to haul himself into the turret. 

He slumped back into his seat, shivering, as the frigid wind howled past the turret.

Runa glanced backward, before bringing the vehicle to a stop. She leaped from the driver's seat, and popped open the trunk.

His muscles quaked, failing to drive out the encroaching freeze. Numbness crept through the tips of his fingers.

The door swung open. Runa’s hand gripped his ankle. He yelped, and she dragged him into the cold night, before slinging him on her shoulder. Warmth pressed into his abdomen. She walked to the other side of the vehicle, then laid him in the passenger seat. With a flick of her hands, she unfolded a silver sheet and laid it across his shivering body. Her hands tucked the blanket beneath him, before she shut the door. She climbed into the driver seat and the vehicle accelerated. Her eyes darted as she drove. The Humvee rocked rhythmically, as the crack and snap of gunfire drew nearer. Her face blurred and he closed his eyes.

“Max, you need to stay awake,” she stated.

His eyes opened and focused on her gaze.

“Look,” she said, pointing out the window into the hillside. 

Max’s head lolled to the side, seeing a dead bush poked out of the ash.

“Snipers,” she continued. “Artillery is being used as well.” 

He rolled back to her, seeing the red and green lines streak across the blackened sky sporadically. 

“This conflict escalated too quickly. Many will die at this rate,” she finished.

“Why are they fighting?” Max croaked.

“It doesn’t matter,” she stated. The rubber of the wheel squeaked under her grip. “You need rest, and I need my hand.”

His gaze drifted down to the red sash curling away from his neck, and wrapped around her right hand.

“It’s pointless,” she muttered. Red flashed across her eyes. Her brow furrowed as she slid back into her seat. 

“What’s pointless?” Max drawled.

“Shut up and stay awake, or it really will be,” she growled.



<div class="button-spacing"></div>

<script>



</script>

<style>
.button-spacing {
height: 10rem;
}
picture {
display: block;
width: 600px;
}
h1 {
text-align: left;
    @apply text-xl; 
}
.chapter-head {
height: 500px;
opacity: .8;
position: absolute;
top:-150px; 
right:-75px;

}
.chapter-divider {
margin-top: 200px;

}
.image-container {
position: relative;
}

</style>
