
---
title: "Endless Night"
---



<div class="image-container">
<picture class="chapter-head">
    <source
        media="(min-width:800px)"
        srcset= "/images/books/valkyriextruck/chapters/chapter8/heading.webp"
        />
    <source
        media="(max-width:799px)"
        srcset="/images/books/valkyriextruck/chapters/chapter8/heading-s.webp"
        />
        <img
           src="/images/books/valkyriextruck/chapters/chapter8/heading.webp" 
           alt="delivery truck"
           decoding="auto"
           />
        </picture>
</div>
<div class="chapter-divider"></div>

# Chapter 8: Endless Night

The world howled, quaking, mortally wounded. The fading, colorless light descended into pitch. A pungent mix of copper and sulfur scents pulsed through vibrating dashboard vents. The headlamps flashed the gray ash against the black, with sputtered hints of violet lightning. 

“You bitch,” Max growled. His voice melded with the earth’s unyielding throes. Its deafening moans clawed his earplugs and rattled the window. He glared at his captor, at her dead, expressionless face. “You left her!” He screamed and shook against her concrete form. 

“Shut up," Runa shouted without lifting her eyes from the treacherous road.

Rage boiled within Max. He threw a punch and she barely shifted. His hand glanced off her shoulder and landed in her waiting grasp. Her steely grip crushed down between his knuckles before casually tossing him back in his seat. 

Max cradled his hand, feeling the remnant force of each of her stone digits. Fuming, his eyes bulged in his head, as her callous gaze drifted back to the windshield. He buried his face under his arm. His scream melded with the tumult in his ears. Every thought drowned in the constant rumble. A press to his shoulder brought his addled mind to the present. 

“What now?” Max groaned. His voice dissolved in the constant roar. He rolled his eyes as her hand gently pushed him again. With a shove, he turned from the window to her, shouting, “What now!” 

“Clear it off," she yelled and pointed her hand to the ceiling.

His grumbles ceased as he caught the sight of the mounting ash on the window. His eyes darted around the cabin.

“How can I clean the roof?" he shouted.

“Ice scraper!” Runa replied and pointed past the partition.

The vehicle bumped and tossed under Max. He stumbled past the partition, head snapping in every direction. Jars and boxes jostled soundlessly against a metal retention bar. Above them, an ice scraper poked out from a shelf. He snatched it, and moved back to the cabin. He knelt on his seat, cracking the window open. The roar pierced his ears. Sulfur scents flooded into the truck. He coughed, repulsed by a spray of ash. Runa grabbed his shoulder, and spun him back.

“Mask," she yelled, “Any liquid. Doesn’t matter,” and directed him to the back.

Max stumbled past the door, grabbing the first clear jar and shirt he could find. A sickly sweet smell poured from the container and his throat recoiled.

“Not that, that’s worse!” Runa shouted from the cab. 

Frantically, he rifled through the shelf, before grabbing a yellow liquid. A bitter smell erupted from its mouth as he opened the lid. He doused the shirt and wrapped it around his face, before returning to the cab. Runa twisted and turned the wheel as she fought to maintain control. The truck slid in the gray muck. The air stung his ears and vibrated against his chest, as he rolled down the window. The coppered sulfur air mixed with the bitter root smell of his mask. 

The wind knocked him rearward as he leaned out the window. The blast of rotten gasses clawed at his mask. Concrete particles hammered his face. He set the scraper on the roof and pushed against the ash, barely budging it. Growling against the quaking air, he moved the rod to the rear of the vehicle. He shoved, barely moving any ash. His hands felt weak. His stomach churned as the ground seemed to rise to catch him. He pulled himself back into the cab and rolled up the window. The lines of the dashboard swam in his sight, slowly coming to a still. 

“I can’t get it off fast enough!” He said, steadying himself against the window. She didn’t budge. He took a deep breath, before screaming. “I said I can’t get it off fast enough!”

 “Then take the wheel!” She replied, before motioning to his mask with a hand. 
 
He tossed his soot-covered face rag to Runa and grabbed the wheel. She slipped the makeshift mask on, before nodding at him. He climbed over her, taking command of the vehicle. She glided to the passenger seat and exposed the cabin to the deafening roar.

Broken billboards and abandoned cars littered the blackened street. Light snagged Max’s attention, as a barely lit stadium emerged from the pitch. The wheel slipped in the ashen slurry, veering the truck to the right. Electricity poured through his hands and head. His eardrums pulsed, as they fought the thunderous howl. The wheel pulled as he gripped, turning into the slip and straightening the truck. His heart pounded, barely contained by his chest, as he slowed the vehicle. Beside him, Runa rolled up the window, granting slight relief from the omnipresent roar.

Her thumb shot upward. Her outstretched fist wiggled it sideways and an index finger sprouted forward, pointing at the steering wheel. Max glanced at her confusing gestures, as he fought the wheel.

“I… I don’t know,” he responded, with sweat pouring down his brow.

“Switch," Runa yelled, before grabbing the wheel. The truck danced under her white-knuckled grip. Max slid under her and she glided over him. She sat primly in her seat and fixed her attention to the road, before slamming the gas. Acceleration pressed his body into the seat.

The dead cars flew past. Dimly illuminated buildings faded in and out of the pitch. The vehicle vibrated against his skin. A pair of supporting pillars stood ahead as a flag, with the on ramp sweeping down to a side. Below it, toppled cars and broken concrete lay scattered in their path. Runa eased off the gas, threading the truck through the debris. The columns faded against the darkening black as they approached. The vehicle bumped along the uneven ground, before pulling to a stop under the ramp.

A curtain of gray flakes danced in the headlights, releasing a myriad of microscopic ruby and sapphire swirls as they tumbled through the air. Max snatched the scraper and with a hesitant glance toward Runa, leaped out of the vehicle. The air vibrated violently against his body. The rod shook in his hand. Pain seared his ears despite the earplugs. Arduously, he scraped gray muck from the roof. The rocks and ground vibrated under his feet as he worked. The constant tremors rippled through him, churning his empty stomach. Bile climbed his throat and his control failed. Vomit sprayed through his mask as the lines of the truck began to twist, doubling and drifting away from itself. The ground rose to meet him. Asphalt rattled against his head, driving any thought away, and gravity yanked his body in every direction. 

A hand dragged him back into the truck. Slowly, the world around him reformed, coalescing into the lit delivery bay. Runa leaned close to him, blankly staring. In a fluid motion, she brushed wild strands of soot covered hair back under her cap. Her lips hovered next to his ear.

“Stay inside,” she commanded, still straining to beat the ambient roar. Her voice lingered in his ear as she glided upward and strode out of view.

His mind drifted, overwhelmed by the constant rumbling and unable to find an anchor. The truck vibrated against his back, and the jars and boxes clattered along the shelf in deafened silence. The volume peaked, then Runa slid back into view.

“We need supplies," she spoke into his ear, “I don’t know how long this lasts,”

His muffled groan amplified the growing pain in his eardrums. Her scent dulled the sulfurous air. A hint of worry caressed her brow, and her waiting eyes gazed into him, carrying a hint of his mother’s blue. Her worried pleas brought whispered memories of Granny’s kind words. The painful roar echoed the incessant growling of his father. Runa repeated her supplication as his mind weaved together his thoughts. He turned and lifted his head to her temple.

“I have an idea,” he said. Reaching a hand into his pocket, he produced a pen and pad.

As a demon possessed, he scratched the tool against paper, outlining his simple craft. The rumble rattled his skull. Pain seared his ears, but his pen moved, as with a will of its own. Ink stained pages scattered against the ground as each attempt drew more words, more vigor from his mind. The threads of thought intertwined, coalescing into a coherent prayer. His hand snapped the invocation upward, leveling it with Runa’s eyes.

“That won’t work," she yelled.

Max recoiled and poured over his paper, before shoving it toward her face.

“It will," he snapped back, “It’s equal.”

She crouched down next to him, hovering as her eyes scanned the page again.

“Impossible," she countered flatly.

“Possible," he insisted, “They don’t need stuff, a prayer works.”

Runa stared at the boy before brushing the poem aside.

“You wove it. You get it,” she replied. Phantom bile climbed in Max’s throat. His head swirled as the air shook against his ears and tremors from the metal floor crawled up his shaking legs.

“I can’t leave," Max replied as he stilled the baleful feelings, “You get it, recite it exactly as written here.” he pointed at the second half of the poem.

A hinted glare broke through her stoic face. She snatched the paper between two fingers, crumpling it slightly, and slid into the cabin. 

The truck jerked forward. The acceleration flung him backward. His arms lashed out, gripping at the shelf as he fought against the inertial pull. His feet trembled against the growling floor as he stood. Supporting himself against the wall, he stumbled to his seat. 

Runa sat in her chair and her eyes pointed forward. His crinkled eulogy laid crushed into the dash. Max’s eyes bore into the side of her head, and hand darted to the poem.


“Don’t mis…” He shouted.

A burst of red and blue erupted through the side mirror. He craned to see outside, and raised a hand to protect his eyes. Two pale golden headlights emerged from the pitch, growing larger as they approached. He felt the truck decelerate and turned to Runa, seeing her pull a wallet from her pocket.

“Police?" he shouted. 

“I don’t know,” she responded, setting her wallet on the dash. 

“You think they’ll pass by us?” Max asked, turning back to the side mirror. A burst of white light erupted from beside the headlamps. He covered his seared eyes, as the afterimage blotched his vision. “Ow," he whined soundlessly against the vibrating air. The truck slid to a stop. “What would they want?" he shouted.

“Traffic stop," she yelled. Her hand slid to her holster and recoiled slightly at her pistol’s absence. Max unbuckled his seatbelt, and leaned across the divide. 

“Are you kidding?" he growled incredulously, “You think you’re getting pulled over in this?” He pointed to the desolate black in front of them. She blinked, before turning to the approaching light. Her gaze lingered, before pulling down on his collar.

“Okay,” Runa admitted, “But we haven’t seen anyone else alive.”

Max leaned back into his seat. His eyes drifted to the black as the realization of his isolation poured in. Fear welled within him. 

“No. Someone has to be alive,” he shouted. The pit in his stomach grew as he watched the prismatic ash fall behind her. 

A bright flash of light snapped him back. An officer stood on the other side of the window. His shaded aviators glinted in the spotlight’s beam.

“Roll down the window,” The officer gestured with his free hand. His voice cut through the window and roar. 

Blood drained from Max’s hands. His legs pounded with throbbing heat. He recognized the policeman’s voice. Reaching over Runa, he slammed down on the lock. She pushed him back to his seat and rolled down the window.

“I thought we—” she started.

“Do you know how fast you were going?” The officer flicked a flashlight into her eyes, forcing her to squint. 

The rumbling wrenched Max’s guts. Runa’s response melded with the outside tumult. The painful drilling noise crashed through his ears. 

“Forty-five. Too fast for this visibility," The officer’s voice sliced past his throbbing ears. Runa’s fist clenched by her side. She yelled at the officer, but the words mixed with the rumbling. 

“You failed, you should be at St. Helen’s now,” The officer shifted his head, focusing his shaded gaze on Max. “I’ll give you one last shot to get your gun. Kill the kid.”

The painful drilling flooded his senses, his vision twisted and blurred as Runa’s ice-laden eyes descended on him. Her form split, drifting away from itself as her melted limbs swept toward the edges of his vision. The pressure cut slightly, and Max heaved. The window rattled his skull as her body congealed. The truck bumped as Runa drove. Her deadpan glare flicked between Max and the night. Her right hand twitched just above the empty holster. His stomach churned, threatening to spew its contents as he steadied himself against the door. Her cold eyes settled on the black, and the free hand glided up to the wheel.

Max glanced to the side mirror, seeing nothing but the red trail of ash spiral behind them. His gaze turned downward, at his dimly lit legs and body coated in crusty gray. His attention turned to Runa, and her blue eyes met his.

“Why didn’t you kill me? Isn’t the plan to do it anyways?” Max shouted. She wheeled silently back to the front. He grabbed her shoulder and jostled it. “Who is that?” Her unerring gaze fixed ahead, ignoring his plea. “Are you still going to shoot me?” Max said, jostling her. Pressure built along his spine.

“Yes,” Runa stated. “That’s always been the plan.”

“Then what’s the difference?” Max shouted. His voice slipped. His muscles tensed and fingers dug into her shoulder. 

“I need my gun,” Runa stated. 

“Answer my damn question!” Max screamed. A flutter caressed his throat.

“You're no good to us dead,” she yelled back.

“That makes no sense," he growled into her ear, “You shoot me and I don’t die?”

“It’s difficult to explain: veneration versus death," she said, her loud voice barely a whisper above the constant roar.

“What is any of this? Why are you doing this?” Max shouted. “What is going on?”

“This isn’t the time,” Runa began. Her eyes shifted between his and the void. Slowly, her gaze drifted back to the black. Her arm laid on the door’s rest. Her mouth sat as it always had been, but now a slight drag touched the corner of her lips. Her chest deflated, and shoulders sagged. Her sigh melded soundlessly, and she beckoned him closer with a hand. “The end of our era, the death of my people.” Her voice was barely audible, as if she recited a mantra. “The Final Battle and the death of humanity.”

“Final Battle? I’m sorry, slow down! What are we fighting that could kill all of us, and why?” Max asked.

“My people," she stated, “It was wove.”

“Don’t leave it at that! Why?” Max demanded. The tickling sensation is his throat grew.

“It doesn’t matter, it happened long ago,” she argued.

“So what is it then? Your people will kill themselves, and we get caught in the crossfire?" he questioned.

“Yes," she stated flatly.

“That’s bullshit," he growled. Her hand swept from the wheel, and drew his head down to her lips.

“Your existence led to the death of Bolard.” Her shouted statement pierced through the rumbling. Max cocked his head at the strange name, narrowing his eyes. 

“What? I’ve never even heard of him," Max shouted. 

“How could you?” she retorted. “He died before I left the birthing crystal.” Her brow pinched, with subtle wrinkles forming around her chin. Her monotone voice carried only a hint of tremor. “Eight. His murder led to eight of my sister’s deaths.” 

“How’s that my fault?” Max growled.

“You don’t understand,” she said. Her hand released him, drifting back to the wheel. Her head fled to the side, concealing her face.

“People die all the time!” Max shouted as his throat began to burn. “Hell, my whole family is dead. What’s one more on the pile?” 

A rhythmic string of guttural words rumbled from her throat and mixed with the earth’s roar. Her head drifted back and her eyes narrowed.

“You die. We did not," Runa said. She brushed back stray strands of hair behind her ear. “The Fool,” she uttered a word, “he murdered Bolard for disagreeing with him.”


“So what do I have to do with that?” His voice rasped as he shouted. Her brow twitched.

“Not you. Humans," she stated, before turning back to the wheel. Max’s gaze drifted downward, seeing the empty holster at her waist. His eyes darted in thought as he leaned back in his seat. “We couldn’t agree on what to do with you, so we created our own destruction.”

The truck bumped under them as they drove. The constant roar seared his foam-plugged ears, threatening to toss out any reasoning.

“It makes no sense,” Max muttered. His eyes swept upward to the black. The gray ash danced amongst the glittering, spraying shards. He gripped the pen in his hand, feeling the plastic press against his palm. His thumb rhythmically clicked it, resting against his thigh. A bump stabbed the tip into his leg as he clicked the pen open. His eyes beheld the void. The earth wailed in his ringing ears.

“This… We’re all going to die, aren’t we?” Max asked.

“This is a volcanic eruption,” Runa stated, “Humanity will recover in time.”

“No, Runa, this has to be the end. Just look at this," he responded, and motioned into the black.

“Disasters come and go," she said, “But death comes for us all.”

“How can you be sure?" he probed.

“The end-signs have been showing for 200 of your years," she explained, “But it is close. The oath I made carried the message of another sign.”

“How many signs are left then?" he growled. Pain welled in his throat with every word. “You know, don’t you?”

“My father’s death and the arrival of the nail-ship," she stated.

“That’s it?" he asked. His legs grew weak, as he sat in his seat. The tips of his fingers numbed. “Just two?” 

“Yes, but my father’s Motvȧg is bound,” she responded.

	“Mo…” His voice slipped, falling into silence against the thunderous roar. He pinched his burning throat, squawking as he struggled to vocalize. Every futile attempt tore through his vocal cords.
	
Runa’s gaze wandered to him. With smooth movements, she untied the sash from her waist and tossed it into his lap, before pointing at him. Her hand twirled in the air before resting at her neck. Max mouthed a question as the burning grew in his throat. She pointed to the sash, then repeated the earlier motion. Realization dawned on him. He grabbed the cloth and messily wrapped it around his neck. Warmth radiated from the sash, soothing his throat.

Runa returned to the wheel, sparing an occasional glance to the poem. Max leaned back in his seat, pressing his fingers to his chin. The jackhammer of noise rattled his skull.

The vehicle slowed. Ahead, a large metal streetlight hung low over the top of two trucks, covered in broken concrete. A military truck lay parked next to a capsized semi. Runa shot a finger at the poem, then gave a thumbs up. She snatched the sheet and hopped out of the truck.

Max rested his chin on his hand, watching as Runa cautiously approached the vehicles. She slid along the truck and waved an arm across its rear opening. A light blinked on the inside. Her legs coiled beneath her, and she exploded upwards into the vehicle. Flickering white spots sputtered in the ashen air. The entrance dimmed as the small bursts ceased. 

Ashen snow fell on the wipers. They flicked, casually tossing the heavy material onto the rumbling ground below. Max leaned forward in his seat, trying to peer past the thick veil. Runa hopped out. In her hand, a long stick glinted in the pitch. She swept to the side of the semi, flicked open the roll door, and sprinted back to the truck.

The door popped open, and the groaning earth drilled into his ears. As a gray mass, ash coated her form, save for the piercing blue of her eyes. She lifted a wet, tar-covered rifle into the vehicle and tossed it onto the metal flooring, past the partition. The liquid from the weapon splattered onto the floor. She pulled down her mask and leaned into his ear.


“No good, write a different poem," she yelled.

“What happened?” Max shouted. He recoiled, touching his hand to his throat. Smooth and soundless words slipped like butter past his vocal cords.

“Ambush!” she stated, “We need a new poem.” Max’s gaze drifted upward, focusing on her mask.

“A trap how? How wo—” He started.

“Always in danger now. Do your job,"Runa commanded. She pulled the crumpled poem from her pocket and tossed it at him. It bounced off him and rolled onto the floor. He picked it off the ground and unfurled the mishandled page. It trembled in his hand as hate and despair coursed through him.

“You bitch,” Max muttered, soundless against the constant roar, before glaring at her, “This will work!” he shouted and threw open the door. The vibration pierced his ears. The sickening and tumultuous fluids stirred in his stomach. He walked out into the darkness, screaming the page’s words into the storm of ash and splatters of muddy rain descended on him. A car-shaped mound of gray emerged from the pitch. Tires poked just above the ground. Ash brushed against the base of the door. He wiped the window, revealing a couple, barely illuminated in the truck’s headlights. He took a breath and tested the handle. 

Leaden snow turned to rain. Fire coursed through his open wound. The paper melted under the acidic precipitation and quickly disintegrated in his hand. Max pounded uselessly against the glass and an arm grabbed his burning shoulder. The fingers dug into his flesh and spun him around.

The truck's headlights cast a shadow across his attacker’s face, barely revealing slow moving, muttering lips. The man’s whisper pierced through the unceasing tumult as a discordant jumble of incoherent thoughts and words. The grip squeezed harder as the attacker glacially lifted a pistol and pressed it against Max’s head. Max’s eyes widened as its finger squeezed down on the trigger.

Light erupted in the pitch. The man’s shoulder exploded, sending a tarry fluid splattering over Max’s face. The gun turned to the side, and cracked out. A ball of flame lit the attacker’s sunken face. Black fluid dripped from his eyes and mouth. Light coated his too pale skin in amber. More blinks emerged from the black. The side of the head detonated, twisting the man, and sending chunks and spraying viscera backward. A thick scent of rot overpowered his sulfur-stained nostrils. The attacker’s hand fell away, and Max collapsed downward. His ears burned. The truck’s lamps silhouette the dead man’s fractured skull and dark fluid glinted as it poured from the wound. 


The world began to gyrate. Twisting further as his sense of direction melded with every push and pull of the environment. A dark shape blocked the drifting image of the man’s gore. Something tugged his body, before pressing into his gut. The pressure waned and waxed as his eyes wandered through the twinned and twirling image. The light increased, and noise subsided. 

Every nerve across him screamed in agony. Acid etched in every pore. He curled in his seat, scraping inflamed skin across the fabric of his cushion. His ears writhed in his skull as his pierced shoulder wept sulfur infused crimson. His vision slowly drifted to a still. The volume spiked, and a hand shoved him into the divide between the seats. 

“Into the back” Runa shouted after slamming the door shut. Max didn’t budge. She tossed a blue package over his body, before lifting him from his fetal position and dropping him into the back. The steel floor banged against his bones, and the cold surface soothed his skin. Freezing water doused him, washing away the pain. A thin black fluid spread across the floor, then the cold water stopped.

“Never do that again. We are always in danger now,"she yelled. With a casual toss of the empty jug, she glided back to the cabin. The pressure in his ears spiked, then faded.

Max felt the gun pressed against his head. The image of the hollowed man’s eyes flashed in front of him. The black of the man’s tears rippled across the metal floor. The sickly sweet scent of death clung to his nostrils. He curled up on the floor, in the puddle of cool water, and closed his eyes.

But sleep would not come.

He covered his ears, scarcely blocking the earth’s roar. The air rattled against his skin. Rage filled him, but his arms refused to budge. Heat sapped into the cool water, as his muscles shivered. The pressure spiked again, before a box slammed down next to his head, splattering the tainted water across his face. The vehicle lurched forward, as slush and rocks slammed the bottom of the bed. The floor bounced against his skull, and he felt the cling of disintegrated paper in his palm. He pressed against the floor, rising from the muck, and stumbled back into the cabin. She leaned toward him as he sat down in his seat.

“Good work,” Runa shouted. “I was wrong.” Her gaze flitted from him to the rain filled pitch.

“What was that?” Max blurted. 

“A fetter’s thrall," she stated and motioned toward the back. “Bandages and clean clothes.”

“Fetter? You mean the necromancer?" he inquired.

“No, a Fetter creates those creatures,” she stated.

“Just explain it! What was that creature, what is a Fetter?" he shouted.

“I don’t know," she yelled, “They create thralls and Void-Anima. The Fate hasn’t told me anything else.”

Max’s arms trembled. His fists clenched as he struggled to contain the fear and rage that screamed through his veins. Every fiber of him screamed to slap her, in spite of her violent strength. She slowed the truck under the on ramp and parked it, before signalling to the back.

“You need a new bandage," she yelled. Max felt a hysterical, broken laugh rise through his tired body. He lurched forward, gripping his sides. “Calm down," she shouted, before moving into the back, and returned with a bandage in hand. His body spasmed in his seat, thrashing as she tried to work the dressing around his shoulder. A slap cracked across his cheek.

“Max, stop it!” Runa yelled.

His cackle rampaged unabated. Breath failed him. She screamed directly into his ear. Her voice traveled to him like a distant memory. She sat in his lap, wrapping her arms around him and pinning his thrashing limbs to his side. Her foot swept backward, stopping his kicking legs. His hands spasmed under her grip. His frantic eyes glued to her deadened stare. Her face hovered mere inches from his own.

Max’s laughter ceased and his wailing mixed with the earth. Her head crashed forward. Pain exploded from his forehead. The light dimmed as a multitude of fizzling stars flashed in his sight. Mouthed words rose to the surface. She twisted her head, leaning close with an ear.

“...ake it stop. Please make it stop. I just want to go home,” Max muttered.

“It’s gone, Max. I can’t give it back," she replied.

“I’m sorry granny. I’m sorry Mom. I’m sorry Sal…” He choked, as his throat snagged the word from his tongue. 

Like a sled driven across gravel, the floor of the truck shook. The vehicle lurched, and the seat swayed underneath him.

“Something’s wrong," she stated. Her head swept to the front, taking her warmth with it.

His groans grew. His sobbed words edged with hysteria. Her eyes returned and brought her icy calm.

“I have to go, don’t hurt yourself," she commanded, before standing and gliding to her seat.

His mental mooring popped. Thoughts listed freely in her absence. The grasping of his hands felt foreign, and the tug of acceleration echoed through him. As if in the air, the vehicle listed and sailed sideways. It braked, jerking the vehicle upright. Runa slid back into view, rapidly tapping the side of his cheek with a finger.

“Max, I need your help," she swiftly spoke into his ear. 

With a yank, she pulled him by the good shoulder into the cab, before tossing him into his seat. The night met him, consuming the glints of ash-filled rain in the headlights. His head lolled to the passenger window, seeing the ground flow beneath them. 

“We need higher ground. I can’t make it up the on ramp," Runa stated.


His addled mind swam, enraptured by the liquid earth below. Sharp pain exploded in the side of his head. He grabbed his temple, feeling heat radiate into his hand. His gaze drifted away from the flowing mud, seeing Runa’s hand retract to her side. 

“Stop it. Write something," she shouted into his ear and shoved a pen and paper into his hand. The truck floated upwards as the muck climbed up its side. The river of gray sludge pushed them along. She slammed down on the accelerator, splattering mud across the windshield.



His gaze caught her as she wrenched the wheel to either side. His ears heard the engine’s rumble crested over the world’s throes. Runa reached below the dash and flicked a switch. 

An unearthly wail clawed through his mind. Like nails on a chalkboard, the call scratched through his ears, piercing through the thunderous rumble. Still the truck sailed backwards.

“Max!” She shouted, “Weave!”

He grabbed the pen. His memories drifted as his hand worked robotically. A terrible torrent of woeful words crept from the pen, soundlessly breaching his lips as the ink stained his palm black.

“Are you insane? Don't weave that!” She yelled. Her hand flew from the wheel and ripped the paper from the pad. She tore it to shreds and scattered it across the floor. “Do it again.”

His pen never left the pad, drenching its pages in vile thoughts. Runa snatched the pen away, before tossing it to the back. She glanced at the wheel, then leaped across the cabin. Grabbing the sides of his head, she wrenched herself into view. 

“Stop it," she commanded as she scanned his sullen face. His stare fled to the black floorboard. Runa pressed her forehead into him. A void lurked in her pupil, crushing her blue iris into a thin ring against the white of her eyes. “You only have one life.”

Silent mutterings drifted from Max’s mouth. Warmth radiated from her head and hand. Her clear gaze dispelled the mire. 

“Weave, as agreed, or we’re dead," she reiterated before returning to the wheel.

His sight wandered to the empty pad in his hand, his thoughts turned to the rolling pen in the back. His eyelids sagged, yet sleep failed to claim him. His mind scattered, melding with the storm. The pad fell from his hands as he sagged against the door.

Runa glanced at the boy and the fallen pad at his feet. A twinge of fear crossed her brow as she slammed the accelerator and twisted the steering wheel. With a shove, she flew from the wheel and snatched the pad. Pressure built in her sinuses as she retrieved the pen from the back. Returning to her seat, she pressed the butt of the pen into her eye socket, redirecting the mounting pain. The tip hovered above the page. Her eyes darted to the boy again, as his gaze drifted to and from saliency. She returned to the page and painstakingly scribed words across its surface.

He watched as the girl struggled with her pen with an empty head dissolved of thought. Her occasional pinch of nose and skin, shift and adjustment in her seat, belied her stoic demeanor. She tossed the pad onto the dash and revved the engine in futility before returning to her poem. The swaying truck slammed, rocketing Max off his seat. He landed in the divide as his head bounced off her side. He gripped his nose as he leaned against the seat. His gaze travelled upward, catching Runa’s stare.

“Give me the pad,” Max muttered silently against the roar. He lifted his hand, offering to take it. She pressed the pad into his hands. He closed his eyes, feeling the gentle toss of flowing mud and scratches of passing metal. His breathing steadied.

“Weave!” Runa shouted.

His eyes sauntered open, and the pen scratched the page, undeterred by the crashing of debris against the truck's surface. He set the pen down beside himself, before handing up the pad.

“It’s the best I have," he muttered soundlessly.

Runa snatched the pad from his hand. Her eyes darted across its surface before placing it on the dash. The unearthly wail of the engine pierced his ears, whining without ceasing. His vacant mind filled with tumultuous discordance. She kept the accelerator pressed as the vehicle bumped along a serpentine path. 

The tire caught, and the truck lurched forward, driving upwards and pulling itself from the muck. Cresting a mound, the vehicle stopped. Runa leapt into the rain, bringing the scraper with her. Max laid down on the floor, closing his eyes as she worked outside. She entered the cabin and tossed the scraper backward without looking. Cold metal smashed into his nose. He reeled backwards, grasping his face.

“Would you pay attention to what you are doing!” He yelled. Standing, he kicked the scraper into the bay before sitting in his seat. The knot of the sash caught on the headrest, choking him. “Damn this thing," he shouted and tore the fabric off, before chucking it at the woman. “What is that cloth anyways A magic sash?”

	She cast a blank stare before tying it around her waist. Her hand flicked upward, turning off the truck. 
	
	“Healing sash," she yelled back as her head perched comfortably against the rest. Her arm drooped against her side and a hand gently toyed against the steering wheel.
	
“Why didn’t you use it on my shoulder?” Max shouted.

Her hand glided to her waist, with a flick she opened her holster and pulled a small tube from the pouch. Golden light flooded the cabin. She held the cylinder upright in her hand. A shimmering liquid emanated from the center. Its crystalline prison halted its outward flow as the substance folded out of view. She rolled it down into her palm and returned it to her holster.

“What the hell was that?" he shouted. He leaned forward, peering at her holster.

“Can’t fix," she yelled, gesturing toward him with her wheel-bound fingers. With a click, the engine stopped. Her free hand drew the blue cap over her eyes before clasping the other in her lap.

“What is it?” Max yelled. He reached across and shoved her shoulder, provoking no response. “How can we fix it?”

“Sleep," she responded, before bowing her head to her chest. 

Max gave one last shove and returned to his seat. Ash danced in the headlights, stabbing brilliant sparks against his eyes. They snapped shut, and the world groaned against his ears. His teeth rattled. Frost bitten air radiated from the window. He opened his eyes, seeing Runa reach for the scraper.


“It's impossible to sleep,” he replied.

She leaned in close, silhouetted by the dash’s red.

“Get the windshield wipers, I’ll clear the roof," she said and withdrew from her seat. 

The pressure spiked in his sinuses. He touched his tired eyes, feeling every crack of dried skin as it painfully dug into his eyelid. A shadow shifted beyond the headlights, dancing just out of view. He opened the door, put his mask on and searched for Runa. The constant vibration rattled his head as he wrapped around the car. Every step on the ashen surface tugged and scraped at his shoes and soaked his feet in biting fluid. Each stride threatened to throw him into the sulfur muck. 
Runa quickly flicked bits of ash from the roof of the truck, spilling them into the red glow of the tail light. The shadow lurked just beyond her, writhing unseen against the headlight's shine. Max pointed toward it, with one hand, and waved with the other. She looked up, then her gaze darted into the black, lingering, as ash fell around her dark form. Her finger darted toward Max, then pointed at the roof of the truck.


The black lurked behind her, flitting and twisting between the splotches of gray that fell on her. His head spun, as pain drilled through his ears. He gripped the side of the truck, steadying himself with a hand to his head. The skulking darkness approached, enveloping around the headlamps glow. He pointed with a hand, before he was caught. 

The world twisted around him. His sight-stripped eyes darted frantically in the pitch. A red glow passed overhead before black consumed it. His body tossed and turned, as disparate forces tugged and pressed against it. He landed with his back pressing against a surface, as his body danced in every direction. Slowly, his senses returned. The pain in his ears rescinded to an unpleasant sting. His body stilled as gravity pinned him to the bed of the delivery bay. The sound painfully spiked, followed by Runa’s call.

	“Sleep.”
	




<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>




The clock blinked twelve for the ninth time. Day never returned. The roar never ceased. Prismatic flecks of gray ash plummeted across the headlamps. The wheel vibrated in Runa’s grip as she ignored the unyielding pain in her plugged ears.

“Oh God, I’m going to get it!” Max screamed. His arms flailed wildly in the seat, hitting surfaces with abandon. Runa set the truck into park and jumped across the cabin, pinning his arms to his side. “Me got it’s!” Max shouted, “Don’t kill!”

“Stay still," Runa spoke into his ear. 

“No! I’m swimming in its mind! I’m everywhere!” He screamed. “Please stop! No. Touch me!” his face paled against swollen purple eyelids. His bruised arms struggled weakly against her hand. 

He slumped in his chair as his screaming suddenly ceased. His hands relaxed their grip on the seat, before his eyes shot open, mouth uttering deafened words. Teary, swollen eyes dripped down his face. Runa released him. His hands grasped toward her, brushing her arm as she turned away.

 She stepped out of the vehicle, sinking into the fresh, cold ash. Meticulously, she moved around the truck, scraping a thin layer off its surface. The click of a mouth pierced the roar, her eyes bolted upward, darting as she scanned the pitch. Her foot slid backward as she prepared to turn. She slipped.

Frigid glass-filled ash smothered her brow, slicing and burning as she lifted her head. Her hands pressed downward, sinking into the sulfuric quagmire beneath her. She rolled to her back, curling her legs above her, then launched herself upright. Pain burrowed into her left leg as she landed. 

Black night peeled into blinding white. Purples and greens squeezed around her, before coalescing into a green field with spiraling alabaster towers, stark against a velvet sky.

Runa assessed the familiar scene, feeling a dull twitching sensation near her ankle. She looked down, seeing the plain white hem of her tunic. A woman stood in front of her, nearly Runa’s mirror image, except for the ink crawling downward from her hair, spilling over silvered armor. The woman’s arm raised upwards, leveling her pistol with Runa’s face. Runa dropped to the ground, sweeping with a kick as her right leg collided with the air. A pop reverberated up her side. 

The idyllic world peeled away, forming back into endless black night. Ash fell around them. The endless roar blared painfully in her ears. The scent of sulfur tore through her nostrils as she felt a squirming tendril under her boot. Reaching down, she grabbed the black-on-gray coil, and pulled. The cord writhed in her hand, resisting her clench. Orange eyes floated into view. She heaved the limb upward, spinning it, before hurling it into the pitch. 

She sprinted back to the truck and opened the door to Max’s screams, barely audible above the ambient roar. His arms thrashed again through the air. 

Runa leaped into the driver seat. Tires skidded and gripped the ash below them before rocketing the truck forward, propelling her down a slope and onto the flat plain of ash. Small mounds of ash-covered civilization emerged, only to fade in the mirror behind her.

The truck crept across the field. The dust cloud spread in her tail lights, vanishing in its red tinged glow. The clock blinked one as a hand grasped her shoulder. She pounced on it with a grab, crushing it. Her head snapped to the side, only to be met by Max’s tired, pleading eyes.

“Please, It makes me stop!” He shouted with arms and face battered from his thrashing. Runa released his hand. The roar quieted, barely sounding above the engine’s song. Max’s eyes widened. His fingers plunged into his ears, tearing out the foam plugs. “I’m Silence!” he shouted, leaning backward into his seat. He cupped the sides of his head, as he stared with a smile scrawled across his lips. His eyes rolled backwards, then snapped sideways. He leapt forward, grabbing and yanking the steering wheel toward himself. The truck spun, fighting against her grip. She tore his arm from the wheel and threw him to his seat.

“Attacking! The void is anima” Max shouted, pointing a hand out the window behind her.

“Sleep," Runa commanded and punched him in the jaw. His head bounced against the door with a thud.



<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>


<div class="button-spacing"></div>

<script>



</script>

<style>
.button-spacing {
height: 10rem;
}
picture {
display: block;
width: 600px;
}
h1 {
text-align: left;
    @apply text-xl; 
}
.chapter-head {
height: 500px;
opacity: .8;
position: absolute;
top:-150px; 
right:-75px;

}
.chapter-divider {
margin-top: 200px;

}
.image-container {
position: relative;
}

</style>
