
---
title: "Gun"
---



<div class="image-container">
<picture class="chapter-head">
    <source
        media="(min-width:800px)"
        srcset= "/images/books/valkyriextruck/chapters/chapter20/heading.webp"
        />
    <source
        media="(max-width:799px)"
        srcset="/images/books/valkyriextruck/chapters/chapter20/heading-s.webp"
        />
        <img
           src="/images/books/valkyriextruck/chapters/chapter20/heading.webp" 
           alt="delivery truck"
           decoding="auto"
           />
        </picture>
</div>
<div class="chapter-divider"></div>

# Chapter 20: Gun

It was like a siren’s call. The air cooled against Runa’s skin. Max’s panicked words fell into a ringing noise. The pitch seemed to crawl through the windows, with black tendrils that beckoned her closer. Her feet stepped toward the void. Almond shapes peeled from the mass, with an orange that narrowed into a smile.

Liquid washed around her. Copper flooded her nostrils. Runa’s eyes snapped downward to a pool of crimson washing against her boot. Warmth returned to the air. The sound of vomit and coughing filled her ears, followed by a man's shouting. The elderly woman collapsed to the floor, with blood continuing to pour from every orifice. 

“Max!” The pharmacist shouted.

Runa's gaze returned to the window, seeing a glistening orange trail led into the night.

“You, girl!” He screamed.

She turned back to the pharmacist, brow furrowed.

“Help!”

Runa scanned the pool then stepped toward the convulsing woman.

“She’s dead,” she stated. “Max, we need to go.”

“We’re all dead,” the Pharmacist growled, before setting her on the ground. “It’s only a matter of time.”

Max was frozen with a face as pale as snow. Runa stepped in front of him and his body began to quake.

“Max,” she said, grasping his right arm. 

His eyes darted to her, with a glaze covering them. She shook his shoulder.

“It’ll be okay,” she said.

His eyes slowly registered her. The trembling ceased as his body began to move. His gaze swept downward before he jerked away from the dead woman.

“Wha… what happened?” he asked. 

Runa dragged him away from the counter.

“Didn't you need something?" the pharmacist asked as she moved away.

Runa pulled Max out of the building without a word, avoiding the oily orange slick along the ground. 

“Max, we need a plan,” she stated. The door closed behind her. She turned, seeing him mutter out the broken window. “Max!” she shouted. He jerked, at her shout, then yelped and grasped his hand. 

His eyes began to move, as his thumb pressed into his arm.

“I’m almost relieved that it’s not normal,” he whispered. He looked up, seeing the bony spires protrude above the buildings. “Th…” he paused, squeezing his wrist. “The Void-Anima. It’s here.”

“I know,” Runa said. Her hand twitched above her holster. “It called me.”

Max scanned her. His right hand moved to touch the black vein under his collar.

“It can’t—”

“I know,” she replied. “I need my gun; I need a plan.”

He returned to the scarlet drenched pillars.

“We need more information,” he muttered.

“We may not get the chance to weave if we approach,” she retorted.

“Weave,” Max scoffed. “My hand is brok—”

Runa clasped her hands around his arm, with eyes gazing into his green.

“I will scribe, you dictate,” she said and pulled the pen and paper from his pocket. The tip scratched a black line into the page. She raised her brow, bringing him into the corner of her eye.

“You’re all grown up,” Max chuckled to himself, wiping his face on his sleeve.

“Ma—,”

“Equivalent exchange. There’s only one way to get your gun back,” he started. His gaze descended to the floor. “I’m already spoken for, so it has to be your truck.”

The pen hit the floor. Her eyes slid upward. The frame was twisted slightly, with glass shards protruding from the rubber stripping. Bullet holes peppered every panel, and bore through the floor and roof. She glided out of her seat. Her finger traced every divot as she pinched the tip of her nose.

“There has to be—”

“There isn’t. We don’t even know if we’re going to get inside, if it’s even inside,” Max explained. “We have to twist Fate’s hand.”

“I hate this,” she said, sitting on the wheel well.

“I do too,” he muttered, then chuckled. “Except for the engine’s noise.”

“Shut up,” Runa whispered.

Max fell silent. Light bled through the holes, illuminating the empty, broken shelf in red.

“You’re not dying,” she grumbled into the floor. The gentle, iron breeze stilled. She stood, and punched a dent into the side of the bay. “You owe me a new truck,” she growled toward the front.

Max sighed, shaking his head.

“Let’s get started,” he said, pointing to the driver’s seat.

She sat, and picked up the pen from the ground. Her lips pursed as she glared with laser focus on the sheet.

“I’m ready,” Runa said.

Words spilled from Max’s mouth. She scribbled across the pad, before stopping, breaking Max’s trance-like state.

“What’s the matter?" he asked.

“Labyrinthian, I don’t know the word for this.” She said as she turned the pad around. A subtle smile crossed his lips.

“I can’t help, if it isn’t English,” he said.

“Oh,” She muttered, before transposing the word.

Max pinched the bridge of his nose as his smile grew.

“You write like a kindergartner,” he laughed.

Runa reflexively snatched the paper out of sight.

“What is a kindergartner?" she said, as she glanced over her shoulder.

“A child,” Max said. “Enough wasting time.” 

Max started his recitation. The words flowed like liquid and dripped onto Runa’s page. The disparate crowds faded around them, and flames silenced their tumult. The scarlet clouds fell away, as the boney pillars fled from view. His trance closed swiftly, flicking its last to the page. Max leaned against the door as the noise returned.

“One last thing,” he muttered as Runa glanced from the page. He started before she was ready. “Two birds, in a nest. A flock called before snowfall, cut the thread of fate.”

Runa stopped as she reached ‘thread.’

“Max, what's your plan with this one?" she asked as her pen tapped the page.

“Don’t fight. Go home.” Max stated.

“I hate this.” Runa growled. She quickly scribbled on the pad before discarding the page onto the floor board.

“The weave’s been wove. We both know our adventure together is about to end.” He said and covered his face, “Keep surviving.”

She tossed the pen in the cupholder.

Max looked forward towards the scarlet light. 

Resting atop the floorboard, childlike letters shined from the dirt stained paper.


<div class="poem">


Two birds in a nest.

A flock calls before snowfall

Cut— the threat of fate



</div>

“Buckle in.” Runa commanded and slammed the accelerator. The tires squealed in ecstasy. The truck spun, pointing directly at the mountain of blood and shadow.  Wind flapped through her kept hair. Her heart thrummed to the beat of her engine’s dirge.

Runa accelerated faster. Her eyes scanned the mount’s encroaching base. Buildings and cars coalesced against the shifting form. Worshiping, prostrate forms laid scattered across the parking lot. In the center of them stood a large round opening, propped open with steel beams.

“Aren't we going to scout?” Max yelped. He clenched, his jaw nearly biting his tongue, and gripped the door. 

The truck bumped, deaf to their cursed pleas. The hole seemed to swell, growing in size until it engulfed them. They slammed into a skin-like substance. Runa rocketed forward against her belt. Max grunted in pain, grasping his broken hand. A layer of slick red-brown flesh peeled over the cabin. Mucus flicked onto her face as she crunched the gas pedal. Black veins writhed within its stretching skin. Golden light poured from under the hood.

The membrane snapped, hurling them into a monstrous cavern. Crimson light stretched endlessly to either side. Runa spun the vehicle, slamming into the opposite wall.

Metal screeched. The flesh-like substance pressed around the frame on Max’s side. 

“Runa! The wall is—”

“Shut up.” she growled. The vehicle lurched forward, flying down the venous path. 

“The wall ate the door.” Max shouted.

Her head snapped to the side, seeing the panelling barely attached to the frame. Movement caught her eyes. The walls seemed to flex and shift, rolling inwards and constricting like a throat. Millions of tendrils reached out, licking the vehicle. Scraping tore through their ears. The paint, then the frame, peeled away under the fleshy touch. Runa’s gaze darted to the pack and rifle in the bay.

“Max, take the wheel!” She shouted, leaping from her seat. She snatched the pack and rifle. The rear door folded outward as the villi licked away metal.

Runa leaped backward, landing in the cabin. Max grasped at the belt buckle frantically. 

“Why aren--” She started. A red mass crawled along his seatbelt. Pustules formed along its surface, threatening to burst as it reached toward his hand. 

Her gun snapped up and fired. Max shouted. The tendril continued its descent, stretching out toward the tip of her barrel. She dropped the gun on its sling, and tore the belt. Lifting Max out of his seat, she turned, to see the window frame buckle under the pressure. She jumped, Max in hand, onto the hood of the truck. The walls closed in around her. The engine burned against her back. The vehicle jerked to a stop.

Her arm slammed into a rock. She slid along the cragged surface, until the sling tugged her straight. Max slipped further down the corridor. A viscous slime clung to her clothes. The engine screamed. She turned on the ground, pushing herself up as the truck crumpled. The golden light  pierced the closing gap, until the last of the truck vanished. A thump echoed through the tunnel, sending a ripple beneath her hand.

Her lips cinched, stifling her tremble. She lifted herself and the sling jerked against her. Small tendrils wormed up the barrel, dragging it into the floor. Runa snapped off the strap.

“Max?” she said, looking around the cavern. 

He writhed on the floor, gripping his sash-bound hand. He wept as he groaned in pain. She glided up to him, and grabbed his wrist. Peeling back the gooey fabric, revealed a dark spot under the bandage. She replaced the sash, and lifted him onto her back.

His pain drilled into her ear. The ground, sloshed and clung to her boots. Metal twisted behind them.

The smell of game hung in her nose. Burnt tin layered across her tongue. Whipped phlegm glued her boots to the floor. The air grew thin. She marched on, as the crimson light faded to black.

Her eyes snapped open. She laid on the ground with a kelpy web pulling her into the floor. A creamy orange fluid pooled against her shoulder, with white fang-like rocks encircled her laying form.

Max coughed behind her. She grabbed the webbing with her hand and heaved, ripping it from the floor. She dragged Max back up with her. Her eyes wandered.

An endless procession of long, interlocking teeth jutted from the flesh wall. Red crystals protruded near the top, between each of the oval-shaped mouths. 

“I don’t think scouting would’ve done us any good,” Max grimaced. Runa shifted him on her back. “Any idea what this is?” he asked.

She shook her head, and slowly marched down the corridor. The hall seemed to stretch and shift. The teeth clicked together as they passed.

“Runa, do you think you can still make it out?” he whispered. His injured hand dangled in front of her, with the dark spot slowly swelling.

“Yes,” she responded.

“How?”

“I’ll call, then we’ll jump through as soon as it shows up,” she responded.

Max chuckled in her ear.

“Straight to the end, you never explain anything.” he muttered.

Teeth relaxed open, revealing an orange yolk inside. A sour gas poured outward, before the fangs retracted back, folding like a zipper.

“A gun,” Max said. “There’s a gun on the inside.”

Runa crouched.

“Get off,” she said.

She pressed her hands in the gap between the bones, and pried them apart. A thick, clear membrane rested just beyond, with circuitous shapes scrawled into its surface. An orange light seemed to shine through the gap. A hand slapped the inside. Runa jerked backwards, and the teeth shut tight.

“There’s something in there,” Runa muttered as she stepped away.

“Did you try knocking?” Max retorted.

Runa glared at him, before wheeling back to the mouth. She exhaled slowly before kicking in the bottom fang. The ground rumbled, growing in strength as she broke each tooth. A fibrous membrane laid past the broken teeth, concealing the orange just beyond. Her fingers dove between the lids and wrenched it apart.

Orange liquid sloshed in a clear, egg-like container. A man hung suspended inside, with a rifle slung by his waist. Runa kicked the bottom of the egg, pouring the yolk into the mucus below. The man, slipped out, with his rifle, untouched by the floor's tendrils.

“Not my gun,” Runa stated and leapt away from the mouth. The lid snapped shut, with the broken teeth attempting to zip closed.

She lifted the slime covered rifle, and shook off the muck. With a quick snap of her wrists, she checked the chamber and racked the carbine. Max pointed to a spot on the floor.

“Runa, look,” he said. Beyond the yellow yolk, the tendrils curled around the ejected round.

“Let’s keep moving,” she said, and walked further down the corridor.

“This isn’t how they’re made,” Max said. He held the head off the ground. The face shifted, seeming to scream and gnash, laugh and snarl. “Just what is going on here?”

“We don’t have time,” she said, before grabbing him by the arm.

“Yeah, yeah,” he said and dropped the head back into the muck.

Air pressure pressed against her, then pulled her forward. A large thrum beat against her ears. A massive flap emerged from the ceiling, slamming down on the path ahead. The hall shifted, unfurling a tunnel that swept below.

The red slime-covered rock stopped, with a crimson stained bone protruding from the mass. It traveled into bronchial hallways. Her foot slipped on the osseous surface, then jerked to a stop.

“Well, on the bright side, if we starve we won’—”

Runa hushed him, pressing her finger against his face. Her head craned, listening to a mutter above the noise of the structure.

“Hear something?” he asked.

“Shh.” she hissed. Two men spoke casually down the hall. She crept along the ground, with her footsteps not even leaving a whisper. Red crystals shone along the walls, leaving no place for a shade. She peered around a corner, then snapped back against the wall.

“Myrh?” she called.

“Runa, shouldn’t you be home?” a deep voice echoed off the rib-like protrusions.

She stripped off the backpack and tossed it into the corridor. A bolt of cerulean blue light flashed and pierced the bag. Runa rolled to the ground, letting out a stream of gunfire toward the red-lit figure. Tracers zipped around his sprinting form. The barrel of his gun—her gun—bore down on her prone position. She kicked against the floor, bolting herself upright, as a blue dart bit between her arm and chest. The wall quaked behind her. She snatched the bag, digging and grabbing out a small canister. A blue line disintegrated the pack from her hand. She sprinted forward pulling a pin, and was caught by Myrh’s titanic grip.

Myrh jerked her from the ground before swinging her downward. Runa twisted, coiling up his arm, with her head curling upward. His clenched fist slammed into the floor, shattering the surface. Her legs wrapped across his chest and stretched his arm. He grunted. His bicep swelled, pulling against her body, drawing her closer, into his oncoming fist. She dropped the cylinder.

Blinding white light seared her eyes. The boom jostled every liquid within her. She slammed against the floor. She staggered, barely able to stand. The room tossed under her feet. Myrh’s form warbled in front of her. Her foot kicked out. The air snapped and Myrh’s head detonated across the room. 

Her vision blurred. She collapsed on her back, feeling the electricity pulse within her. Her hands flew to her head, grabbing tufts of gold and ink hair. She vented through closed teeth, as her whole body quaked.

“I won.” Runa declared and breathed a sigh of relief. Her hands slumped to her side.

A step echoed in her ear, followed by the slide of plastic.

Max stood above her, holding her gun. Its familiar cerulean steps glowed dimly in the crimson light.

“Yeesh,” Max said. His green eyes peered above the pistol’s blue lines. “Glad you never turned me into sausage.”

Runa jumped to her feet and yanked her gun from his grasp. Her hands shook as she tested the grip. The soft material relaxed against her palm. She pressed it into the holster, flicking it out, and spinning with it, before leveling the barrel with Max’s face.

His eyes widened glacially. The long dead burn in his shoulder returned. His arms rose to protect his face, ignoring the searing break along his palm.

“Oh, shoot!” he yelled. Runa’s tremor-filled smile shone just through his arms. The shot didn’t come. His limbs lowered. Her gun trembled in her hands with tears streamed down her face.

“It’s the only way,” she pleaded to her whitened finger.

His eyes wandered down to the wavering barrel. He closed his lids, seeing the massive orange slit peel open in his mind. He grabbed the barrel, and pressed it to his brow.

“Do it. Now!” He shouted. Her finger, as if commanded, squeezed.

Like a curse, a voice crawled through his ears.

“Whispered woes wounds woman's weapon.” 

The gun clicked.

Max spun to see the source of the words. A mustached blonde man stood across the room, garbed in a strange silver clothing. A figure, human in shape, hovered beside him. Even the red light seemed to flee its blackened form. It watched him, like the widow watches a fly.

His mind clicked. The metallic scent faded. The structure’s ambient heat vanished, leaving an icy chill along his spine.  His bones began to quake within him.

“Run,” he whispered, almost soundlessly.

“Here they are, though I don't know what you want with them,” the voice of the officer called.

Runa retracted the gun. A fibrous mucus trailed down the back and side. She wiped it and squeezed the trigger. It clicked. 

The figure seemed to turn to the officer. It spoke, uttering a discordant noise that made the ground and walls recoil. Bone scraped against bone, as even the structure twisted to avoid its path.

“Run,” Max repeated.

She scraped at her gun again, before holstering it.

“Worried whelp winces with wilted wound” the rotten thing's voice curled a shockwave of rippling flesh along the floor. Max’s feet slipped from underneath him, sending him tumbling to the ground. His broken hand slammed onto the boney surface, firing barbs through his arm. He writhed on the floor, as it lurched ghoulishly toward him. 

Runa dashed forward. The air cracked with her spinning kick. Her force was met by acrid words. The ground wrenched beneath her, sending her tumbling to the floor and  slamming her head.

Its words glued to Max’s ears, entrenching a searing venom across his brain. The room flashed before him, with his hands curled around Sally’s fragile throat. Another flash, and Runa’s beaten and battered body laid on the ground beneath him, her pistol in his hands. He opened his eyes, seeing the thing tower above Runa.

A glint of blue poked from her waist. The creature reached down, and seemed to clasp a hand over her skull. His brain burned within him. It lifted her from the ground, hauling her high into the air. Her feet dangled below her. Its words dripped their toxins within him, as his eyes widened.

“Woman’s weapon wounds whispered woes” Max yelled “Runa—”

As if puppeted, her hand bolted to the weapon, drew, and fired. 

Blue light flashed, piercing its blackness. It flicked bile words and slammed her downward. The boney ground swelled and burst, sending shards ripping through her skin.  Blood splattered across Max’s face. Runa laid motionless on the ground. The creature’s hand coalesced around her head.

“Stop! I’ll go, please just stop!” Max pleaded.


As if commanded, the creature released her. The pitch within it seemed to curl back into a smile. Its foot landed inches away from his nose, and wrapped the hand around his face. It lifted him into the air, and whispered into his ear.

“Bind battered boy, boy battered now bound.”

The malediction wormed in his ear, grasping into the stem of his brain. Every muscle drew taut,  obeying only the lingering words. An acrid, rotten appendage squeezed into his throat and dragged him along the ground.

His hand screamed with every bump. The septic, rotting taste of the limb forced him to heave. Max choked, with his bile spraying into his nose.

Sticky rock-flesh turned to hard, smooth stone. Max opened his eyes, seeing a creature floating among the clouds. Its fingers closed inward like a bulb, before disappearing. Deadened trees obscured his view, and covered the last remnant of the sky. The world darkened, as stone curled around him, leaving only a soft blue light.

Stitching rubbed against his throat as the creature's hand slid out. Fingers wrapped around his scalp. It lifted Max to his feet, and approached the light, hiding in his shadow. Wisping blue and diffuse white bled inside a frame of bone and stone. Powerful hands wrenched Max’s head towards the portal. He  flailed, twisting his head as his right eye drank strange spiraling geodesic shapes.

“Looooook.”

He looked. Before him lay an endless stream of planets, each populated with billions and trillions of people. He contorted as an endless stream of faces and experiences converged within him.

“Looooook.”

He looked. Before him lay vast ships swarming planetary systems as trillions of gnats. Each transported millions of beings, whose individual cries would shake the earth to its core. 

“Behooold the Tyrant king.”

Max looked. Before him lay a single being so brilliant, the sun would cast a shade. A singular, authoritative vision emanated from its mere essence.

“Looooook.”

He looked. And saw as each of these gods were snuffed out by an encroaching darkness. 

“Loooook.”

The screams of hundreds of billions of trillions of people torrented through his mind.

“Noow you knoow.”

Max’s body slumped in the giant's grip. His right eye fractured like glass, with each recursively smaller image playing exponentially brighter fragments of the image. They swirled within him, blending together with each distinctive pain, each minor splinter slicing into his retina. 




<div class="button-spacing"></div>

<script>



</script>

<style>
.button-spacing {
height: 10rem;
}
picture {
display: block;
width: 600px;
}
h1 {
text-align: left;
    @apply text-xl; 
}
.chapter-head {
height: 500px;
opacity: .8;
position: absolute;
top:-150px; 
right:-75px;

}
.chapter-divider {
margin-top: 200px;

}
.image-container {
position: relative;
}

</style>
