
---
title: "Fettering"
---



<div class="image-container">
<picture class="chapter-head">
    <source
        media="(min-width:800px)"
        srcset= "/images/books/valkyriextruck/chapters/chapter15/heading.webp"
        />
    <source
        media="(max-width:799px)"
        srcset="/images/books/valkyriextruck/chapters/chapter15/heading-s.webp"
        />
        <img
           src="/images/books/valkyriextruck/chapters/chapter15/heading.webp" 
           alt="delivery truck"
           decoding="auto"
           />
        </picture>
</div>
<div class="chapter-divider"></div>

# Chapter 15: Fettering


Submit or Perish.


Five tumultuous days of the world’s deafening roar could not have prepared him. Every one of Max’s limbs tensed, unable to brace himself against the thunderous words. Blue-hued light descended from above. His body clammed, tightening into a defensive position. The light burst through muscle and bone, passing through him as if he were glass. His skin evaporated, as though tossed into the furnace of the sun. The light faded drenching him in horrid, twisting darkness. Burnt hair filled his nose. His hand brushed the butt of a rifle.

Cold water crawled up the fabric of his shirt. A trickle echoed in the dark room. The air shook in his ear as a diesel truck drove past. His arms pressed against his head, radiating heat into his burnt face. He stretched outward, recoiling as the sash grated his skin.

“Runa!” Max screamed. Only the echo of his voice responded.

He wiggled and writhed, squirming free of his cloth entombment, ignoring the popping pustules scattered across his right arm. His head lifted slowly, seeing the intricately adorned font. He jerked backward. His pulse spiked. Water trickled from a small hole, falling down onto broken debris. His muscles relaxed. He scanned the empty room, left with only his soaked backpack and gun.

“Runa?" he called, as he wrapped the length of his right arm in the wet sash. He gathered his rifle and bag and walked up the stairs. A dim, gray light flooded the hallway. Permanent, twisting shadows lined the floor and walls, dripping their corruption across paintings and symbols. Ink covered every burnt desk. In the center laid a camouflaged man, with the front of his face caved in. Black liquid seeped from his sides, concealing the feet of the desks and chairs. 

Max’s eyes snapped toward the exit, feeling the remnant heat emanate into the room. He reached into his pocket and pulled out a sopping wet notepad.


<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>


“She’s over here!” a soldier shouted. 

The heavy thumping of a diesel engine grew closer. Runa leaned against a warm brick wall, breathing heavily. The man’s arm pointed directly at her position, just in view through the ash-filled fog. She dropped the rifle, catching it upside down with her legs. Flicking a lever, she  shoved the launcher upwards and dropped an empty canister to the ground. Her right hand reached into a pouch, pulling out a grenade and shoving it in the tube. Her left arm slung limp by her side, bleeding. Black tendrils curled up and down its length.  A truck’s grill emerged from the gray. She twisted on a foot, and squeezed, before breaking into a sprint. The turret burst, flinging the gunner backward on to the roof of the vehicle. Shouts and commands echoed through the fog. Blood and oil hung in the air. A subtle grin spread across her stone face.

Shots rang out as Runa moved. Bullets grazed her form, gliding past without a scratch, and exploded into the ground behind her. She rolled, landing behind a car as large caliber gunfire tore chunks from the fence beside her. She slid the last of her grenades into her gun. 

Boots walked into view as the mounted gun sang out. Holes blasted through the car landing all around her, spitting chunks of asphalt into her face. She fired, twisting rapidly to strike each of the feet, before executing the falling bodies. The large rounds drew closer, biting next to her skin. She scrambled sideways, coming back into view of the large truck, and fired the grenade into the face of the gunner. His front detonated, leaving only the screams of the dying men as his body slipped inside.

Runa rose to a knee and scanned the environment. Gray fog covered the blood soaked battlefield. The smell of rot wafted through the air. Ash crunched under her foot. She sprinted to the vehicle as thousands of needles coursed under her skin.  

“I hate fighting Fetters.” She muttered under her breath.


<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

The pad flopped onto the ground. Water splattered across the marble floor, mixing with the pitch. Black wicked from the tar, staining the paper black. A thin trail flowed outward, touching the sole of Max’s boot. He tossed over a desk, reaching in only to find ash. 

His breathing quickened and heart pounded. He dashed to the front of the classroom and searched the teacher's desk. A stack of char sat in a tray of melted plastic. He lifted the burnt pages, thumbing through as ash floated away. He set down a few, mostly carbonized, pieces of paper onto the desk. His pen flew from his pocket, scratching invisible lines across a page. He slammed the tip into the desk and wrote again. It refused to yield ink. He snatched a blackened pencil, and it disintegrated at his touch.

A diesel engine broke the silence. His eyes bolted to the door, waiting, as the sound grew louder. He crept toward the entry, watching, as a large armored truck passed the opening. The black tires drug gray ash upwards in its tread, before fading into the  fog. His nose curled upward at the stench of rot and burnt plastic.

“Runa,” He muttered. His gaze drifted backward, landing on the thrall’s ink fluids. He gulped against his dry throat and stepped toward it, extending a finger.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

“W… Wait, I have a family!” pleaded a man. He sat in the back, with his shaking hands beside his head. Sweat dripped down his brow. With barely a glance, Runa raised her rifle and squeezed. She dragged a body from the front seat and tossed it into the ash. She stepped in, ignoring the gurgling man slumped in his own blood behind her.

The door slammed shut, and her face reflected in the mirror. Searing Black veins crawled glacially up her neck. Her hand brushed the tip of a rifle. She pulled it out of the back seat, past the bleeding remains of the turret gunner. A suppressor sat at its tip, and a second optic rested on top, labeled ‘FLIR’.

“Thanks, Max.” She said, and started the truck.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

Max’s right arm seized, searing flame burnt in his veins. He gripped it, digging into the sash with his pitch stained fingers. Cool water trickled along his arm, squeezed from the cloth. 

“Focus,” He seethed quietly. Dead trees stood across the street, with gray cloaked buildings just beyond. A large sign stood off to the side of the tracks, covered in ash, revealing only two letters: ‘VA’. 


With perked ears, Max strode into the open. A diesel engine rumbled in the distance.  He sprinted to a wall, and leaned against the brick. The truck’s growl drew closer, passing by the building as his back glued against its surface. Deep measured breaths calmed his screaming legs. The sound grew distant and the truck faded out of sight. He slid along the structure, peering around the corner. Several large buildings lurked in the fog, with a field of ash between them.

“There’s no cover,” Max muttered to himself and turned toward a wall of shattered glass. A sea of car roofs laid on the other side of the building, with larger military trucks  beyond. The wind shifted, carrying with it the scent of death. He sprinted, ducking between the civilian cars, as the smell grew stronger.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

The truck bumped along the ash covered road. Runa sat hunched, staring down her rifle’s scope. Light flashed in the distance. Ripping into the front of her truck. Smoothly, her hand fled to the door handle and yanked it open, tossing herself onto the jagged ash below. The truck rolled into the gray as more shots ripped into it. She scrambled to her feet and sprinted. Several cars whipped by her as explosions pounded into their metal frames. She spun on a heel, bringing the rifle to her eye as a white smear atop a gray humvee flowed into view.

The rifle rocked backwards. A snap tore through the air and the white smear dropped inside the turret. 

“If only we had more weavers,” Runa muttered. She twisted the rifle, and another white splotch wafted into the image. It ran forward, finding cover alongside the parked humvee. She lifted her rifle, staring down the optic as she hobbled toward the truck.

“2… 3… likely one in the driver seat.” She whispered, before laying down in the ash. The reticle rested on the opaque window. The rifle kicked backwards. The round snapped as it left the barrel. A black shatter appeared on the pristine window. The white smears scattered, pointing black rifles in every direction. Another kick, another snap, another smear fell to the earth. The white splotches ran for cover, and fired in every direction. Calmly, Runa moved from target to target, systematically removing each of the white stains she found. 

She stood and sprinted toward the truck. Her rifle flicked down every corridor. Dead men laid on the ground, leaking red pools in the gray. She swept past them, and yanked open the driver’s door. Her rifle darted upward, finding a young man dead in the seat. His face wept scarlet as his hands drooped to either side. She dragged him out of the seat and tossed him into the ash below. Her rifle rested on the dash, as she watched through the optic. Slamming the gas, the truck rocketed forward. 

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

Like hundreds of ants, soldiers marched. They moved silently, save for the crunch of their boots on the ash. The rot filled air rumbled as dozens of military vehicles started. Max knelt between two passenger cars, peering over an ash covered hood. Enshrouded, brick buildings towered over the flowing ants, with tattered flags hanging from the banisters. 

The first of the trucks moved, forming a procession on the road. Max slid downward. The ground shook. His hair rose across his skin. Sweat dripped down his furrowed brow. Discordant voices clawed through his ears as dozens of blackened eyes seemed to pierce through his scant cover. Each of the vehicles passed, rolling out into the gray fog. The diesel engines faded into the distance, taking their gaze with them. His hands relaxed, and he peered over the dozens of cars, seeing the empty lot beyond.

“Amidst desolate car’s den, vehicle started again,” he muttered. “It has to be around here somewhere.” He darted from car to car, slowly making his way to the brick buildings.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

Red and orange glinted in the fog. Runa slammed the brakes as dozens of cars emerged from the gray. Rot hung thick in the air. She hopped from the vehicle, flicking her rifle down the street, and sweeping it across the mess of vehicles. Inching forward, she crept her way through the blockade. She flowed into the funnel, clearing the backs of every vehicle as she passed. 

Her right arm sagged, weighed down by the gun. Her feet screamed with every step. Ice flooded through her veins as she moved from point to point. Her left arm jerked backwards, followed by the supersonic snap of a bullet. She dropped to the ground, watching as a renewed flow of crimson fled from her arm. Her right hand slid to her medical pouch and pulled out a tourniquet. She rolled into the side of a car, and cinched down on her bleeding limb. With a breath through her gritted teeth, she peaked above the cover. 

A box-shaped flash erupted from the gray, punching a hole in the hood next to her head. She slid down and crawled through the ash, leaving a pitch and blood trail behind her.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

The roof of the hospital emerged from below the parking lot. Max turned, seeing a multilevel building built into the side of the hill. A parked car hovered just in view.  He stepped toward the edge of the lot. His gaze swept down the side of the building and toward the hospital below. A large glass opening stood on the first floor of the hospital, pointed directly toward the garage. A wicked smile crossed his lips.

“Vehicle started again.” He whispered to himself.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

Jagged asphalt gouged her arms. Rough fabric scraped her skin. She propped herself against the tire of a vehicle, peering over, with the tip of her rifle. Her sight’s picture centered on a boxed, gray-on-gray shape.

Liquid dripped from her open wounds. Her ragged breath shook the rifle in her hand.  Cold air wicked away her heat. The sound of diesel engines rolled in from behind her.

The rifle kicked, the bullet snapped, and spray erupted in the center of the optic.  She dropped her weapon, and sprinted through the cars. Every aching step burned as a freshly burst blister. She slid into a crawl next to a car, and flicked her rifle back to the window.

The splotch quickly cooled against the wall, leaving a light gray stain across its surface. She breathed, a sigh of relief. Black spirals crawled into her face, toying with her blue eyes.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

Boots echoed through the frigid air. Wind whipped past him, barely dragging away the scent of rot. A glint caught Max’s eye from inside a pickup truck. He stopped his search and approached the side of the vehicle. Keys dangled from the ignition. He raised his rifle above his head and thrust downward, smashing out the window. 

An alarm blared loudly through the lot. He froze. His eyes snapped to the building. Pitch lurked behind its motionless glass. He tore open the door and sat on the glass shards. He twisted the key, then the engine roared to life. His hand helmed the wheel, as he twisted it and approached the exit. The hospital entrance slid into view. A wall of glass, with brick pillars on either side. On its flank stood several garage doors, underneath black windows.

Max spun the wheel, aiming the front of the truck toward the glass entrance. He slammed down the e-brake and grabbed an ice scraper from the back. He pressed the gas with the scraper.

A shrill squealing filled the air. Burnt rubber flooded his nostrils. The vehicle lurched forward, slowly inching toward the entryway. The door opened as a soldier stepped into the gray. Max’s hand grasped the brake release and pulled. The truck rocketed inexorably toward the building. Smashing into the man and driving him into the back. A thump reverberated from the black, rippling across the ash covered roof. It plummeted, crashing down through the building as ash flowed out from the second floor.  

Max yanked a grenade from his bag and sprinted across the street, quickly approaching the side of the building.  His hand trembled at the pin’s ring for a moment, before yanking it. He stopped, and swung his burnt arm, loosing the grenade. It soared, landing within the pitch stained window. His hand hung in front of him for a moment. The second floor exploded, sending flames crawling up the side of the brick building.  He sprinted to the entrance. His rifle trained forward across the small parking lot. His pulse beat against his ears, as he breathed deeply, steadying his gun.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

A crack ripped through the air. Runa fell to the ground, slamming her right arm into the ash. Flesh peeled away as every fiber of her body screamed. She twisted on the ground, and raised the rifle to her eye. A white smear stood in a window, holding a black rifle. 

Kick. Snap. Drop. 

The shape lurched out, before plummeting to the ground. His body squelched against the pavement. Runa groaned, lifting her eyes from her optic. She leaned on her rifle, moving to stand when her leg folded under her weight. Her eyes bolted downward, seeing her snapped calf, poking through her blood-stained pants. The pain rocketed through her leg, like a lightning bolt incinerating a tree. She gritted her teeth, muffling her scream. Her black veined hand dove for the medical pouch. Snatching her last tourniquet, she bound her thigh, wrenching it and stemming her blood’s flow. She rolled into a prone, seeing the ink web covering the torn flesh of her arm. Her good leg kicked downward, pressing through the pain as she crawled toward a chain link fence. Like a light descending from above. Blue split the gray fog. Her good arm stretched out, pulling and straining as she tugged her body along, toward her truck.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

Gunfire cracked above the constant roar of flame. The man in black, the Fetter, fell forward, almost doll-like as bullets shredded into his body. Max rose, stepping toward the black-clad body, and pressed the rifle against his head.

“Die,” he growled and squeezed the trigger. The Man’s head exploded. Bits of flesh scattered across the ash covered lot. Blood poured from the headless form. Armed men collapsed to the ground behind him. Their limbs thrashed and wailed violently, scraping across the concrete floor. Then all at once, screams of unified rage reverberated in Max’s ears. The sound split, descending into an agonized cacophony of disjointed growls. His hairs stood on end, his skin crawled away from their noise. Flames grossly illuminated their writhing, silhouetted forms. Their shadows stretched, chaotically creeping  along the floor and crawling toward his feet.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

A bullet pierced the air, followed by terror. Runa propped her rifle on the truck’s dash and peered through the optic. Distorted Black shapes darted amongst white smears. Lights flashed across the gray cars as ink descended upon the ghostly shapes. Ivory shards scattered across the gray, staining the pitch forms. Runa set down the rifle. She flicked on the engine, drowning their screams in the vehicle’s golden song. She slumped into her seat, feeling every inch of venomous pain through her body, every bullet wound that tore through her flesh. Black tears flowed from her eyes as she backed her vehicle away.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

The twisting shadows coalesced. The men’s dissonant screams organized into a flood of rage. Max aimed the rifle and squeezed. The gun clicked. His eyes darted toward the chamber as the men crawled to their feet. One in the back leaped forward, clawing into the man in front of him. Another wheeled to the attacker and lunged, tearing at the man’s harness. 

Max reached behind him and zipped his bag open. The ash crunched with his backward step. The men stopped, and in unison turned their heads toward him. Concrete slabs plummeted downward. Wind blasted past his face, leaving a pile of rubble in the building's entrance. Rot hung in the air. Sweat dripped down his burnt brow. The rifle rattled in his hands. A tug drew his gaze to the ground. 

A soldier grasped the cuff of his pant, dragging it toward his face. Max stumbled backward, sliding across the jagged ash and scattering his bag’s contents. He grasped a magazine and stuffed it into his gun. A shot cracked out, and the man fell limp. Max’s breathing slowed. He closed his eyes, and turned away from the warped face of the soldier.

His eyes opened, and beheld a book, whose cover shone darkness. His hands lifted it from the pooling blood. Its symbols and words scrawled, as though a black snake, left a trail of etching acid across his eyes. The pages turned under his fingers before an echoed howl stopped his finger on a page.

“A Fetter’s weave?” Max asked. He flipped through the pages, scanning every paper, studying every stroke of the fetter’s design. “It’s intricate,” he muttered. “Every detail since the motel,” He paced past the body, as black covered the gray fog. “Why didn’t he kill me?” he asked. His hand wandered to the dried sash. “Did you reach the truck?” he whispered. His thumb slid to the side of the page, revealing a poem.

<div class="poem">

A new ashen world. 

A bird failing to take flight. 

Break— the circle of gold

</div>
Dread filled Max. He flipped through the surrounding pages. “Of course she was always the target,” he muttered under his breath. He pulled his backpack off and dug out a wet map. 

Incomprehensible lines covered the page. Its surface contained every conceivable detail. His finger followed the map's perimeter until he found a reservoir.

 “I think this is where we split up, but how did we get into town?” He traveled along the side of the map, checking circles, until he landed on one encompassing a structure labelled ‘VA’.

“Ok, now, where’s the airport?” he muttered, as he scanned the paper.

“The closest is the one to the north, but south is larger,” he said. He tapped a pen to the page, stopping, as the thump reached his ear. He stared at its tip, eagerly hovering over a blank space in the black book. It moved, scrawling in brief lines, forming directions as a nursery rhyme.

Max packed the book into his bag, muttering the weave into the freezing air. Ash crunched beneath his boots. He stared ahead in his path, oblivious to the shadows that skulked from the ever darkening fog. Gunfire rolled through the gray as the screams of men drew nearer.

A snap flew over his head. He blinked, stopping mid-word, before steeling himself and continuing.  His measured step fell in line with the rhythm of his tongue. The darkness engulfed the gray. More snaps and shouting blasted out. Muzzle flare burst from the black. One scream silenced and another took its place. The shadows haunted the edges of his vision. His recitation drowned their cries, and the path covered their forms.  

A box emerged from the black. A painting of a hot dog covered its surface. Max turned to the right. The shots grew louder, more frequent with every step.  A figure crept into his view, standing proudly on a pedestal of stone. Large brick buildings loomed on his left side. Their windows flashed intermittently with the sound of gunfire. He turned to the left placing the figure behind him and marched down the street. Snapping rounds filled the air. Horrified echoes crawled out from the building as silence clawed them back in. 

Max’s whispered words drowned the echoes. The snaps diminished, replaced by the lonesome howl of wind. Ash crunched beneath his boots, as he walked in silence. The buildings fell into nothing behind him as he followed the black path ahead.

The back of a truck slammed Max’s face. He gripped his nose, stumbling backward. The sound of chewing flowed from the pitch, beyond the truck ahead of him. His hand flew to his rifle, lifting it, as he peeked. Dozens of cars blocked the road. He stepped forward, still muttering the chant. A body laid behind a car. Bite marks covered its skin. Bits of flesh laid scattered all around the mangled form. The sound of mastication swelled as he approached. He knelt next to the body. 

The chewing stopped. Max felt his pulse quicken. His breath cut his words short. Ash crunched ahead, as a large figure loomed into view. Its teeth held a hand, barely attached to its own shoulder. Its face streamed pitch from its sockets, darker than the night surrounding it. 

The creature broke into a sprint. The hand squirmed in the grip of its teeth, trying to escape. Its jaw clamped down, freeing the limb as it reached toward Max. The creature opened its mouth, dropping the bit flesh. A cacophony of gleeful, angry breathing filled the air. Its rapid footsteps tore through the ash.

Max fired, and ripples crawled up its form before bursting its head. The creature fell forward. Its limbs convulsed as it plummeted to the asphalt, reaching as though to claw for breath. Adrenaline poured through Max’s veins. He screamed. Emptying his magazine on the creature, he rushed forward. His fist collided with its chest. Squelching fluids poured around his hands. He punched it again, over and over, as lifelessness returned to the creature’s body. His rage subsided, and the chant returned to his lips. He stepped back to his path and left the soldier’s corpse behind him. 

A chain link fence emerged from the pitch. A smear trailed through a hole to tire tracks beyond. Max crawled through and his incantation ceased.

“Got you,” he muttered. His step quickened as he followed the path. The blue truck shined in the fog, covered by a collapsed jet way. His heart sank. He sprinted forward and yanked the driver’s door open.

Runa’s battered and broken body laid in her seat. Pitch crept across her face and neck. Her shattered leg slumped next to the gas. Strands of golden hair tumbled down from her blue cap. 

Max yanked off the scarlet sash, and wrapped it around her face. His hands shook. His legs trembled. He leaned against the side of the truck, as his strength fled his arms.  He looked up, and forced himself to the back. 

“Yarrow, I need yarrow.” He growled, popping open the door.

Colored boxes lined the shelves, filled with an assortment of powders and creams. He dug through them, checking, then tossing them into the ash outside.

“It was orange, right?” Max said as he cleared the shelf. The glint of her golden hair drew his eyes. His stomach knotted as he scoured another shelf. His hand brushed leather. He pulled it out of the shadow, revealing the fetter’s black book. He stepped backward in shock, dropping it to the floor. Her golden hair shined past the partition, with her ink stained hand dangling beside it.  His gaze snapped up to the shelf, seeing no orange. 

The book was opened by his hand, drawing him down into its weave. The words were drunk by his eyes with each page turned. The blood drained from his skin.


<div class="button-spacing"></div>

<script>



</script>

<style>
.button-spacing {
height: 10rem;
}
picture {
display: block;
width: 600px;
}
h1 {
text-align: left;
    @apply text-xl; 
}
.chapter-head {
height: 500px;
opacity: .8;
position: absolute;
top:-150px; 
right:-75px;

}
.chapter-divider {
margin-top: 200px;

}
.image-container {
position: relative;
}

</style>
