
---
title: "Ragnarok"
---



<div class="image-container">
<picture class="chapter-head">
    <source
        media="(min-width:800px)"
        srcset= "/images/books/valkyriextruck/chapters/chapter23/heading.webp"
        />
    <source
        media="(max-width:799px)"
        srcset="/images/books/valkyriextruck/chapters/chapter23/heading-s.webp"
        />
        <img
           src="/images/books/valkyriextruck/chapters/chapter23
/heading.webp" 
           alt="delivery truck"
           decoding="auto"
           />
        </picture>
</div>
<div class="chapter-divider"></div>

# Chapter 23: Ragnarok

It was like a bird, the last of its kind, had summoned another from the grave.

Mountains floated in the sky above. Golden lightning arced across granite surfaces. The pitch sky enveloped the broken ivory tower of Runa’s home. The eviscerated walls burned in the fog at the foot of the crushed giant. Everywhere was decay. Everything was death.

Putrefaction hung in the thin air. Runa’s fingertips brushed the grip of the gun. An age passed between each frantic beat of her heart. 

The wrinkles of age pressed deeply within Max’s cheeks. His graying hair dripped past his ears like a cowl. The burn on his chin ascended upward into the melted flesh of his eye socket. The lines of his clothes, as black as the sky, were broken only by the red fabric sticking out of his pocket. 

He stared through her, seeming to scan the tower beyond.

“Max?" she ventured, lifting a hand toward him.

“Fly, little bird,” he said, continuing his march toward the entrance. “Come back in the morning.”

Runa grasped his hand as he passed. He jerked his arm, attempting to throw her grip.

“Don’t,” he growled. He wrenched his hand. “Let go!” he shouted.

His words stiffened her muscles. His arm broke free.

“I’m the last,” she blurted, unable to hold back her sobs. “Everyone is dead.”

“I know,” Max said. He walked past her, entering the hanger. “Welcome to the club.”

The dead marched after him, flowing toward the hanger. Each tattered hand brushed her shoulder. Ragged grooves trenched through every agonized, shifting face. Their nails dripped the black ink of their own viscera. A boot kicked her rifle, pressing its woody grip against her hand.

She snatched it and fired into the horde. Soothing light shone through every orifice, before the bodies collapsed lifeless to the ground.

Motion stopped.

 She rose, whipping the rifle toward the hanger. A sound, vile as sewage in her ear, echoed from inside.

“Chained chase with checked choke.”

The horde instantly turned on her, hands grasping, probing, as the mound of bodies buried her.  She squirmed, wrenching herself free, only to be grabbed by another set of hands. Her finger pulled on the trigger. Like a spiral cone, the light  burned through the mound. Runa scrambled through the motionless pile, smelling every iota of rot clinging to their decaying bodies. She burst outward. Corpses clambered above, reaching toward her.

Her finger squeezed the trigger. The paired, blue light soared upward, striking a man in the chest. He burst in soft light, before the bolts darted from thrall to man. The bodies tumbled downward in a heap, released from the noise of their torment.

“Max!” she yelled, clawing her way out and sprinting toward the hangar. 

He stood at the doorway, staring, with folded arms.  

“Stop,” he barked. 

Her body froze, but lips still moved.

“Don’t leave me!” she screamed. 

His right lid trembled below the molten flesh.

“Someone… You have to survive,” he stated.

“I don't understand,” she pleaded. Her legs jerked forward.

“Too close,” he muttered before a foul speech spread from his mouth like a horde of stinging locusts.

“Sundered surface swallows silent swan.”

The ground split at his feet, thrusting  open a ravine beneath Runa. She fell, as bodies floated beside her. Her fingers clawed into the wall. A thrall’s chest plummeted into her shoulder, and bounced into the shaft below.

“Too much rides on this Ru—” his jaw clamped shut. His hand swept to the side, and the gap began to close.

The rocks rumbled under her hands. She climbed, scurrying and squeezing through the gap. Max wore a snarl. His body trembled.

“You can't understand,” he yelled, with his words oozing like sludge. “Everyone will die!”

Runa cocked a brow as her stomach clenched.

“Everyone is dead,” she shouted. “Skoldr, The Eld—” 

“Silence,” he spoke, cutting her word short. “Words cannot capture the number of people out there. You must warn them.”

“Of what?” she demanded.

“The stitched—Me,” he said.

The Hangar’s entrance encompassed him in black, with only his head and red cloth showing. Runa’s mouth opened to speak.

“The pluck of weaving calls as a spider's web.” Max said, cutting off her thought. “You must warn them.”

Her brow cinched.

“I don’t und… I don’t care about that." Runa said. “Max—”

“Foreboding fist fulminated frightened fawn.” 

His clenched knuckles rocketed into her chest, sending her tumbling through the air like an ant. She slammed into the ground, coughing and gasping for breath. Her hand gripped the pistol and bore it down on Max. Her finger pressed into the too-light trigger.

Max extended his neck subtly. His brow pleaded. Runa lowered the pistol.

“Damn you,” he muttered, retracting his head. He hissed horribly, hewing her hoped harm. The pistol split in her hand and clattered onto the floor.

Runa jerked her hand away, testing fingers. Her gaze darted back to Max. He turned to the hangar, concealing the red in his pocket.

She dashed after him, wrapping her arms around him.

“Let go,” Max growled. She squeezed him tighter. “Damnit let go!” he yelled.

“It’s ok,”

His muscles tensed and pressed against her.

“I’m here now,”

He writhed in her grip.

“You’re safe,” she completed.

“You aren't!” he cried.

A terrible torrent poured from his mouth. His arms snapped sideways, throwing her embrace open. His knee soared upward, striking her in the gut, and lifting her from the ground. 

Curses clamored across the dirt, rattling the floor until a gun fired. The bullet clipped the corner of her breastplate, rotating her in the air.

His rage roared. The air trembled. The dead shifted below her, crawling away from his feet. A launcher slid.  A rocket launched into the air, slamming into her chest. It failed to detonate, then twirled through the air behind her. She crashed into the ground, choking, as Max’s vast venomous violence violated the vocal victim. He was already on her, punching his fist into her chest.

She gasped, barely sucking wind as his fist soared above her. It smashed downward again, sending a crack through her armor. Air burst from her lungs. Spittle erupted out of her mouth. His fist raised, and trembled.

“Stay down,” he muttered.  His hand beat against her, before lifting near his head. “Runa, please.” He weakly touched her burning chest. “Don’t follow.” She coughed in his face, and swallowed her spit. Runa grasped the sash in his pocket, and pressed it against his bleeding knuckles.

Tears dripped down his nose.

“It’ll kill you too,” Max whispered. Like a wraith, he drew away, disappearing behind the hangar’s ivory teeth. 

Every breath ached. Bones shifted through her torso, sending a ripple of clicks through her chest and back. She groaned, as a laugh echoed in her head. She clutched the sash.

“I don’t care,” Runa groaned. She rolled to her front, and crawled toward her rifle. The ceramic of her armor disintegrated  as chunks stabbed through the mail. Her fingers brushed the rifle, and curled around its grip. She coughed, spitting out the rotten air. The cackle in her head grew, until it escaped her lips, and released an exasperated laugh. “I’ll kill him.” 

She leaned against the barrel, trembling as she stood. Her hands knotted the sash around her waist. She sucked a large breath through her nostrils and shuffled into the maw.

 The ever present decay hung in the air. The ivory hallway, once suffused with a warm golden glow, now was barely lit by her crystal magazine. The walls, root-like, curled down around her with tendrils that grasped for her ankles. Not even her footsteps echoed. 

The roof had collapsed, crushing the sapphire encrusted throne and war table. The viewing window framed the twig encompassed bowl where the watchtower had been. A black draped across the landscape, with even the stars refusing their light. Its quartz glass lay shattered across the floor.

A door lay open at the end of the hall, with soft golden light emitting from inside. Runa crept forward, each step more hesitantly than the last, until seeing a white pedestal. A ghost’s touch brushed up her spine.

The armory.

She worked her way forward. The floor was gone. A trail of golden lights descended into pitch. Runa pressed against the pedestal, attempting to raise the lift, but no call came from below, and the lights, only grew dimmer.

She gulped, flexing her already straining fingers, feeling every ache along her chest and spine. Her jaw clenched. She jumped.

Her head slammed into the pit's side. Her fingers scrambled around the golden tube. Runa dangled on the fixture, looking downward. She released, plummeting again until her hand caught another lamp. Her skin burned, scraped by the fixture's edges. Her head throbbed, devoid of thought.

She let go again, falling time after time as she descended through the tunnel. Sweat dripped down her face and back. Her hands screamed with every yank. 

Runa grasped a light and slipped. Her torso bounced against the wall and rotated away. Air rushed around her with a deafening roar.

Her leg slammed into the bottom, before her body smashed into it. Fibers tore and bones cracked within her.

A groan, like a wounded bear, rumbled from her lungs.  Her eyes snapped open, seeing her left boot pointed toward her face. An icy gasp gripped her lungs as her gaze swept down to her inward folded knee. Then pain, as a heated knife thrust into her leg, and carved through the flesh of calf and thigh. She screamed. Her hands trembled as they gripped her limb. Her body quaked as each fiber within her burned. She pressed it down.

A sound like cracking vegetables coursed through her. Sliding bones sent a ripple  into her core.  Her breath shallowed. Blackness crept in through corners of her vision. She clenched and ground teeth as her leg swung back into position, then bent more. Her calf folded. Sending a shudder across her body. Her head felt numb and light. Her vision swayed until she collapsed back onto the buoyant pad.

A noxious noise nestled in her ear. She gripped her brow, gasping and groaning, with tears streaming down her face. She rolled onto her front, and a cascade of clicking bones rippled across her body. More groans forced themselves from her lips. Her head drooped and eyes strained to stay open. She gripped the rifle in the brook of her elbows, with every ache burning across her body, and crawled.

Her eyes widened. Every weapon rack laid bare. Absence, filled the space where every extra set of glimmering armor had been. Baleful babbling drew her gaze to a shaft of light.

A doorway that should not have been, yawned open past the empty arsenal. The sinuous fabric of the door curled upward, as though to flee a sinister speech. She crept past the room, down a blue hued hallway. Vile vitriol seared her eardrums. The walls rippled away from every dire dictation.

Cerulean light refracted throughout a large cylindrical arena. Golden tubes travelled in every direction. Seeking shelter from the center.

Two figures stood, with their bodies consuming light. They spoke with each other, and the tile floor twisted with every syllable.

 She crawled up to the railing, coughing and groaning with every swing of the gun. A staircase flowed to the side, with each step curling upward like retracting claws.

Runa propped her rifle over the edge, training the sight onto each target.  Her finger squeezed the grip as the scope travelled between them. The details were too small, the bodies too dark.

Her finger tapped the trigger as she swept from man to monster, and monster to man. The rhythm of her finger drowned their woeful words. As a beat, it drummed the tune of the Dödesängest. With each loss, and every kill, flashing in her eyes. Her jaw clenched, silencing her rattling teeth. Her brow furrowed, cinching down her fraying nerves. The sun’s terrible heat swept through her. It spilled into her mouth and fused in her lips.

“Silent swan snipes stitched snake.”

Her tongue spat sparks. She squeezed the trigger. The rifle’s entwined bolts tumbled through the air, leaving streaks of unerring energy in its wake. They punched into, then through a blackened figure, before spiraling into the wall.

Sound ceased. The corpse rolled to the floor. She trained her rifle again.

She tasted the blue light, smelled the grainy texture of stone. A shard of granite echoed along her tongue.

Max’s scent lingered in her ear.

Footsteps clopped along the air, carrying the smell of a whisper. A touch of sliding branches lifted the acrid scent. A click rolled in her sight. 

His hand brushed her eye.

She tumbled through his scent. Landing on her tongue, with a stab cutting the ringing in her ears.

Innumerable stars, like the grains of sand on a beach, shone above her, piercing a midnight pitch. The walls bent outward, unfurled like a lily.  A hand shook her shoulder, as she silently gazed into the infinity above. It shoved her gently, with brown and gray hair quaking in the edge of her view.  Max’s voice trembled, weak, as though on the edge of life.

“You bitch.”

<div class="button-spacing"></div>

<script>



</script>

<style>
.button-spacing {
height: 10rem;
}
picture {
display: block;
width: 600px;
}
h1 {
text-align: left;
    @apply text-xl; 
}
.chapter-head {
height: 500px;
opacity: .8;
position: absolute;
top:-150px; 
right:-75px;

}
.chapter-divider {
margin-top: 200px;

}
.image-container {
position: relative;
}

</style>
