
---
title: "The Void"
---



<div class="image-container">
<picture class="chapter-head">
    <source
        media="(min-width:800px)"
        srcset= "/images/books/valkyriextruck/chapters/chapter16/heading.webp"
        />
    <source
        media="(max-width:799px)"
        srcset="/images/books/valkyriextruck/chapters/chapter16/heading-s.webp"
        />
        <img
           src="/images/books/valkyriextruck/chapters/chapter16/heading.webp" 
           alt="delivery truck"
           decoding="auto"
           />
        </picture>
</div>
<div class="chapter-divider"></div>

# Chapter 16: The Void


Emptiness consumed her. 

Rocks kicked against the bottom of the load bay. The engine purred. Glass clinked and cardboard slid across metal grating. Runa’s sealed lids strained open.

The familiar compartment surrounded her, distant, like a long forgotten memory. Her limbs slung by her side, sore with the feel of fresh bruises spread across her skin. A dagger of pain stabbed through her center, feeding a stir deep within her. Her abdomen strained, unable to bring her upright. Above her, haphazardly stuffed boxes lined the shelving. The steel floor thumped the back of her skull, and she rolled her head to the side.

Black, silken strands tumbled into view. Her hand touched it, as she felt the tug against her scalp.

The grain of fibers between her fingers faded. The pain of pulled hairs on her skin dulled despite her rhythmic jerking. Heat crept away from her hand, dissipating into nothing. Her stomach spoiled within her as a numbness trickled down her wrist.

An unfamiliar malady crawled through her throat, spreading past her tongue and lips. Her shrill terror blasted through the metal tomb. 

“Runa?” Max’s voice called from the front. The truck jerked backward as it slowed to a stop. He leapt from the driver's seat and froze in the partition, staring at her. She clawed through her golden hair, broken by tufts of an abyssal black.

“What’s happening?” Her voice quivered, as she yanked at her mane. Rapid footsteps clopped on metal, and Max’s verdant eyes slid into view. He reached toward her, then recoiled.

“Sorry,” he said as his face hung above her head. “I’m so sorry.” His words struck her as a melody, and her gaze rested on his foreign, yet familiar face. Tears flowed from his deep set eyes and dripped down his sweeping nose. His angular, trembling jaw bore a burn just left of his chin’s dimple, and clawed upward into his cheek. Another scar traveled along his temple, and down to his strong brow. His thick hand reached upward and wiped his face. “Rest. I’ll explain,” he said. He grasped her hands, and gently pulled them away from her hair.  He stood and walked to the front, closing the partition behind him.

The truck bumped and swayed beneath her. The jars clinked in their cardboard containers. A cold drip trailed along Runa’s face. Her hand trudged upward, and she touched a finger against the dried stream. A rock skipped underneath her. She rolled to her stomach and pressed against the floor. Her palm slipped, and face slammed into frigid steel. A tired, bemoaned sigh escaped her lips, deafened by the rumbling ground. The truck slowed, before coming to a stop. The partition opened and steps echoed through the metal.

“Runa?” Max whispered, as his finger brushed her shoulder. Her skin crawled. She rolled onto her back, fleeing downward into the cold floor. The man’s green eyes rose into view. Flecks of hazel stared at her, as though piercing straight through her. Her face shot to the ceiling.

“Don’t look at me,” Runa hissed. His gaze lifted to the shelf above her.  Tension eased across her aching muscles, but failed to calm her throbbing gut. “I need to eat something,” she grumbled.

“Okay,” Max said, “I found us a place to stay for a while, until you recover.”


“Where are we?" she asked.

“Outskirts of John Day, a small town in Oregon,” he explained. “You’ve been unconscious for four weeks,” Her brow upturned sharply.

“A month?" she asked. A glint of blue reflected off a jar, bringing the phantom call of gunfire and screaming. Ethereal bites and burns crawled across her skin as the blue light faded from view. Her hand gripped the messily tied sash at her waist as sweat beaded on her brow.

“The… the Fetter,” she stammered.

“Dead,” Max stated. “I killed him.” Her gaze fell from the ceiling, meeting his emerald glare.

“Dead? How?" she asked. 

“A trap. He thought you were weaving. I was a footnote,” he replied. She barely registered his response. Black and gold strands floated in front of her eyes, calling an emptiness beyond her stomach.

“What is this?" she muttered. Her stomach grumbled, drowning her words. 

“You should eat first. I’m sure you’ll be back to normal soon,” Max said. “Tom said tonight is burgers.” The phantom scent of grilled meat and cheese assaulted her nostrils, causing a torrent of liquid that forced her to gulp. Her pained abdomen strained upward. Max leaned forward and extended a hand in front of her face. She fled backward onto the floor, shrinking between her shoulders. 

“Runa?" he asked, with his hand hovering midair. She spun to the wall. Her eyes glanced over her shoulder briefly, feeling his gaze. Her skin crawled, repelled by his supplicant digits. She breathed deeply, calming her fried nerves, and turned back to him. The nails and flesh of her fingers seemed to curl backwards as she reached up and grasped his warm hand.

He heaved her upward to her feet, and she crumpled under her own weight. His right arm cupped her back as his left foot slid behind her. He lifted, resting her cheek on his collar bone. His breath whispered above her. Heat radiated from his neck and chest. Her hand brushed a pulsing cord beneath the shirt. The tips of her fingers tingled as though dozens of needles touched them. The sensation crawled down her hand, leaving behind his slowing pulse. His cold skin squeezed blood through the veins until, finally, the beat stopped. Her eyes darted upward, catching the glint of his green. Her palm burned cold, like a hot iron on ice. She screamed, jerking against his grip and pressing away from the furnace of his chest.

Max released her, and stepped backward. She flopped against the steel like a wet bag. She curled on the floor. Like a horde of ants, the tingling climbed along her body. The truck’s vibrations failed to reach her deadened skin. The frigid surface clung to her without texture. 

A hand grasped hers. A warm liquid flowed along her hand. She pulled weakly, feeling the hundreds of mistimed pricks squirm toward the newfound heat. Her wrist jerked upward, and gaze snapped to her fingers. Red flowed down from the tips, streaming down the tips of her fingers. She moved to strike with her offhand and weakly landed on the side of his arm. He clasped her hands together restricting her yanking to tugs. Her fight drained from her limbs, and she fell limp in his grip. Pain seared her shoulders. His brow pinched above his wide eyes. His mouth whispered unheard words to her ears. 

“Make it stop,” she groaned. Max lifted her and slung her right arm around his shoulder. Her head slumped to the side, seeing the clawed flesh of her left arm hanging below. She winced, feeling the slice of her nails along her skin. Her feet scraped along the floor as he dragged her into the cabin.

The jagged teeth of sapphire mountains clawed against the heaven’s Gold. White fields swept through the valley below, encased with fertile green. Her eyes widened, soaking in its beauty. Max turned to the passenger window, bringing into view a Mahogany colored house, nestled amongst pine. Dried yellow grass covered the lawn.

A man sat on the porch, reclining in his seat. His foot rested on the banister, bouncing slightly as he swayed. His pipe shifted to the left side of his mouth. He turned a page of the book in his hands, and glanced upward.

“I… I,” Runa stammered. Her voice sang a strange noise in her ears. A pressure increased in her head. She reached toward the handle, twisting Max toward the partition as her hand waved fruitlessly near the door. 

“Runa. Stop,” Max said, forcing her body away from the handle. She groaned, as her arm slumped to her side. He leaned over and popped open the door. The scent of cow manure flooded inward. Her nose curled as she buried her head in her shoulder. Bitter cold swept into the vehicle. 

The man stood from his chair, jogging forward as Max dragged Runa past the seat

“You didn’t strike me as the punk rocker type,” The graying man said as he approached.

“Never said I wasn’t,” Max chuckled. A patch of gray hairs on his head drew Runa’s gaze. A hand gripped her arm and lifted it upward. Her head slid to the left, seeing the angular nose and inward sloping chin of the man. Wrinkles covered his tan face, and gray hairs poked outward from under his ball cap. 

“I’m surprised they let her out of the hospital like this,” he said. His brown eyes glanced occasionally toward her as they walked toward the house.

“She was feeling better. She just couldn’t get out of her seat,” Max replied. He reached forward and pushed the front door open. Sweat and pine flooded her nose. A couch butted up against a counter, and was book ended with recliners. A small coffee table sat in the center of the room. The man let go. Max laid her across the couch. Her head rolled to the side, seeing a large bay window illuminated the rustic space. The vast blue of the sky laid just beyond the cobalt color of her truck. Max stepped in front of the window and knelt down next to her.

“How are you feeling?” he asked. His eyes scanned every inch of her face.

“I don’t know,” she replied. She shifted her head slightly, looking back into the blue sky.

“Can I leave you here?” Max asked, “Tom needs help in the kitchen.”

Her mouth salivated at the thought of food. She glanced at Max, before retreating  into the couch.

“Yes,” she said, muffling her voice with a cushion. His silhouette moved from the window, and her hand followed, catching the seam of his pants. He stopped, briefly meeting her eyes, before brushing it off. She turned back to the window, watching as the brilliant blues  deepened. Crimson, looming flames spread across the sky. They tumbled and spewed, warped and twirled as the light faded. Behind her, meaningless speech fell on her ears. 

“...Runa…” Her name snapped her attention to the kitchen. “Do I really need to explain chopping onions again? I’ll be finished before they're in the pan.” Tom’s chiding voice echoed over the counter, followed by several steps. 

“Good enough. Let's fry ‘em,” Max said. Her gaze flowed up from the window, seeing the waltzing shadows of the two chefs play on the ceiling.

“The root’s still attached! At least cut that off.” Tom shouted. Metal scuffed on wood despite his protest. Utensils scraped the pan, and clinked against a porcelain plate. 

“Alright, what's the next thing I can ruin? Potatoes?” Max chuckled.

“Just go sit with your girlfriend, I can't take this anymore.” Tom lamented.

A shadow left the ceiling, moving to the side of the room. Max stepped into view and sat down in the chair at her feet. Her eyes followed for a moment before resting on the familiar velvets of the evening sky. A welcoming glint of alabaster reflected from the sill. Her gut sank, seeing the primitive wood that framed the window, and alien furniture that rested beneath it. Her hand reached upward, grasping at the ephemeral purple.

“Beautiful, isn’t it?” Max commented, “It’s been like this since the ash dissipated.” He perched his head on top of his hands, staring as the last flicker of light faded into night. Her arm lowered, brushing against rough spun carpet.

“Dinner’s ready, you two love birds,” Tom’s voice boomed from the kitchen. In an instant, he was rounding the counter, holding out a plate with the burger. The scent of fried meat and cheese rode her tongue. Her mouth threatened to drown her.

“You going to take it?” he said, reoffering the meal.

With trepidation, her hands floated upwards and scooped the burger from the plate. The scent of crisped bacon flooded her nostrils. Her mouth clamped downwards and the savory taste of garlic and cheese exploded in her mouth.  A thrill rocketed through her tongue, and coursed through her veins. She swallowed, and moved in for another bite.

“Take the plate too, and don’t make a mess,” Tom said. He set it on the coffee table next to her, before handing Max his own. Runa swallowed the last of hers and licked the grease off her fingers. Her gaze shot across the room to Max’s untouched food.

“I’ll make another one, I guess.” Tom remarked. He stared as he walked out of the room.

 “Don’t worry about it,” Max said, “She can have mine, I’ll get a sandwich.”

“You sure?” Tom asked.

Max waved a hand and offered Runa the burger. She snatched it from the plate and shoved it in her mouth. He stood from his seat and strode into the kitchen. Tom entered the room with his plate. 

“Have you ever eaten?” Tom asked, sitting down on the seat at her head.

She let out a satisfied sigh. Revitalizing energy flooded through her muscles. Her head rolled to the side, seeing Tom’s brown stare. His eyes, like ethereal daggers, pressed into her. Her gaze snapped back to the ceiling.

“Unreal,” Tom murmured. Runa rolled away, pressing her face into the couch.

“Look somewhere else.” She snapped. The pressure faded, followed by the click of a plate on glass.

“I didn’t mean to stare.” Tom apologized, He lifted his burger from the plate, stopping, just before it reached his mouth. “So, where are you from?”

The rough cushion fabric scratched at the back of her neck. Strange spackling coated the ceiling, masking the smooth white paint. Porcelain and metal clinked strangely in her ears. Her nose curled upward, and she turned into the back of the couch.

“Home,” Runa responded. His brow shot upward as he finished his bite.

“Uh, where is your home?” he asked.

“I don’t know,” she stated.

“Do you need a map?” Tom grumbled.

“I think it's a language issue,” Max said, materializing over the graying man’s shoulder. He strolled by and sat on the other chair. A subtle shift swept across Tom’s chest, as his body slid from Max’s path. 

“Language? She sounds like an American.” Tom said. 

“Why don’t you say something?” Max offered, gesturing toward Runa. Tom’s gaze followed as both pairs of eyes fastened a vice-like grip on her. Her legs curled beneath her. Her face pressed into the cushion. A slow tick caught her ear. Each strike of the clock’s hand pounded into her,  driving her further into the couch. A chime snapped the silence.

“I want out,” she yelled into cushion.

“Out… side? Out where?” Max asked.

“Out, away, gone, vanished. I don’t want to be here.” Runa rattled off.

“No.” Max snapped.

“Where?” Tom asked, “unless you plan on camping in the woods.” She groaned into the couch. “Though I would like to know who’s staying here, now that there are two of you.” Tom continued

“I explained it.” Max said.

“No.” Tom interjected, “She should be on crutches or a wheelchair.”

“They don’t have anymore,” Max lied. His eyes darted rapidly in thought as he held the last bite of the sandwich near his mouth.

“You’re a terrible liar,” Tom said, squinting his eyes. 

“Can this wait until tomorrow? She just woke up.” Max asked. He plopped the last of his sandwich in his mouth, and comfortably reclined in his seat.

Tom’s eyes flicked between the two before settling on Runa’s empty holster, barely poking out from under her sash.

“Where are your guns?" he asked. 

The ghost of a crisp trigger played on the pad of her finger. The lingering taste of ozone, caressed her nose. Her icy eyes darted towards Tom. Her hand slid to her side, grasping at the empty air near her sash. A searing heat soared upward through her arm. She screamed into the couch, with every word that flitted into her mind. Max shrank into his chair.

“What in the…” Tom started. He stood from his seat as a plethora of incomprehensible noises and broken English tore through the air. She pressed against the couch, attempting to sit up. Her weak limbs collapsed onto the cushions. Her muffled, angry cries turned to sobs as weakness lapped away her rage. She quieted and the tick of the clock returned.

“Are you ok?” Tom asked. 

Runa ignored him, his gaze, and his clock as she smothered her words with the seat.

“She's been like this since she woke up.” Max said, “I’m completely at a loss.”

“She needs a therapist,” Tom responded. He sat back on his chair, and placed hands on his knees.

“I think the only therapy that’ll help her is getting her gun back.” Max replied.

“Sure, right after you pass out knives at the mental clinic,” Tom scolded. His gaze left the muttering girl and landed on Max. He held up a finger between them. “One night, explain it tomorrow, or you’re out.”

“Thank you,” Max said. He stood, and hauled Runa to his shoulder.

“Give me the keys to the truck.” Tom pressed, “I'll give them back tomorrow.”

Max stopped, meeting Tom’s gaze as he subtly twisted his hip away. Runa grunted. Without lowering his glare, Tom emptied his pipe onto the coffee table’s glass. His teeth ground on the stem. Max lowered his eyes to his side.

“Fine,” he replied. He pulled the keys from his pocket and tossed them across the room. Runa strained her left hand upward, before her arm collapsed back to her side. Curses sputtered from her babble as she dangled limp across his shoulder. Gold and black hair spilled downward, hiding her flowing tears. 

“Let's get her to bed.” Tom said, stuffing the keys in his pants. He grabbed Runa by the other arm. Her cursing faded in and out of English as they dragged her down the hallway.  “At least it’s not all a lie.” he grumbled and pressed open a door. “Don’t forget, we have cows in the morning,” The door clicked closed as Max guided her into the room. 

Runa tumbled onto the bed. She laid supine, staring into the spackled ceiling. Black and white pictures lined the walls and shelves, with a vast array of colorfully bound books. Her back pressed into the soft bed. The call of sleep calmed the muttering words.

“Can we talk?” Max asked. He stepped to her side, and his shirt blended with the blackness of the window. Her lids pressed downward, as her gaze slid up. He stared at the floor, gripping the covers with both his hands. White spread across his knuckles as he tightened his grasp. “I did this to you,” he muttered. The weight lifted from her eyelids. She shifted in the bed, attempting to fully face him.  “I had to,” he continued.

“I don't understand,” Runa said.

His gaze lifted from his hands. He leaned forward, and knelt at the edge of the bed. His green eyes shone against the pitch of night.

“I took…” he started, before catching himself. “A piece of you and replaced it with my own” His words echoed through her, agitating an emptiness crawling just beneath her skin.

“I don’t know what that means,” she said.

“I’m not entirely sure either,” Max admitted, “This is my fault.”

“But why?” Runa asked.


“You were dying!” He snapped. “You were going to leave me stranded in this hellscape.” His jaw clamped shut as the cover curled under his grip. “I won’t let you,” he hissed.

His words fell into nothingness. The sheets sapped her warmth, leaving a creeping cold within her. She curled on the bed. The comforter tugged at her seemingly distant skin. 

“Make it stop!” she cried. Her hands closed around a veil. Her muscles spasmed, thrashing against a pudding-like surface.  A hot hand pierced her own. Her eyes snapped to its source. Green shone in her blackened sight. 

“If I do, you’ll die,” Max’s voice growled. The eyes looked downward. “Your death was woven.” Her stomach roiled within her. A prick touched the edge of her gut. Ice spread through her center, muting the complaints of her shrinking stomach. 

“How?” she asked. 

Max brushed the top of his left pocket before his fingers recoiled.

“No, we need to focus on killing the Void-Anima.” he stated.

Her stomach pushed its contents to her throat, then seemed to vanish within. She swallowed, over and over, as her breathing stuttered over ethereal bits. Black spread across the room. His burning grip tightened on her numb hand. 

“I have a plan,” he said. A brief silence filled the air. A touch seared her shoulder, shaking her creaking bones. “It’s ok,” he whispered. The words breathed air into her lungs. Her esophagus clenched, swallowing the contents. Her muscles quieted as she felt the stitching of the comforter. 

Runa set her forearm over her blind eyes. She sobbed, feeling the warmth of his touch.

“Make it stop,” she cried, twisting her face into the crook of her elbow.

“I can't,” Max replied. “Please—sleep, we still have a little time.”

Her fingers tightened on his grip. Her pulse slowed and breathing steadied. She lifted her arm. The darkness receded to the window as the green of Max’s eyes stared into hers.

“Don't look at me,” she said.

Max nodded, rolling his eyes to the side. His gray patch of hair twisted into view, shaped like a shield. Her gaze wandered to his round ear, before travelling down to the scar of melted flesh on his jaw. Amber flashed above his cheek.

“You get to stare?” he quipped.

Runas' eyes bolted to the ceiling. His hand burned against her palm. 

“Let go.” She commanded. Her fingers released. His tight grip sent electric pulses up her arm. “Let go!” She yelled, jerking her hand away.

Max stood and walked toward the door.

“We’ll talk about this tomorrow,” he said. The words sliced through Runa like butter. She stopped, feeling the twisting renew within her.

“Please don’t go.”  she pleaded.

“I don’t want my arm broken.” He said. His voice mellowed as he stepped into the doorway. “It’s… dangerous anyways.”

“It’s not safe to sleep alone, what if we’re attacked?” Runa begged.

“We won’t,” Max said, tapping his left pocket.

He closed the door on the woman and leaned against the wall. Her strange singsong voice toyed in his ear. A lingering heat rested in his palm. He practiced breathing, calming his tingling nerves. Every step through the hallway dragged at him, pulling him back toward her room. He strode through the entryway. 

Tom’s balding head poked out from behind his seat. A thin trail of smoke wafted into the dark room, carrying with it the smell of burnt tobacco.

“Everything ok with her?” Tom asked.

“I’ve never seen her like this.” Max admitted. He slipped the black book from his pocket and strode to the couch.

Tom’s eyes fixed to its cover. His head shrunk barely within his shoulders. The pipe burned in his hand, motionless. Max set the book in his lap. Tom blinked, his body shivered as he stuffed the pipe back into his mouth. He looked at a book on the coffee table, before glancing back to the hallway.

“With a girl like that, you could have ran a rock band or something.” Tom chuckled nervously and leaned back in his chair.

“I’m sure the tour through Utah would have been a blast,” Max grumbled, then paused and laughed to himself. He scanned through a few pages before flipping to the back and pulling a pen from the counter.

“So, what’s this one about?” Tom asked. He glanced up as Max wrote, trying to peer past Max’s folded leg.

“Mooner,” Max responded, “She’s ready to pop after all.”

“A poem about a cow?” Tom said and reclined. He lifted the book from the table’s edge and poked through the pages. “Think she’ll be ready tomorrow?”

“No, the day after,” Max said as he scratched his pen to the paper. 

“Oddly specific. Any reason?” Tom remarked.

“Just a hunch,” Max reassured.



<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>


Velvet chased away the night’s blue. Oranges and reds scattered through the drifting clouds and blanketed the golden fields below. Light, the color of straw, draped across Runa’s sleep-deprived eyes.  Her neck ached. She rolled her head away from the stinging sun, into the warm embrace of a cotton blanket. The faintest hint of lavender softened her aggravated sigh.

A knock sounded at the door. Her head lolled to the side, staring at the wooden frame.  Her drained arm lurched upward before collapsing onto the bed. A second knock sounded.

With the creak of the door, the smell of crisped bacon flooded her nose. The flash of creamy yolk on a porcelain plate sent a flow across her tongue. Eyes peered through the gap in the doorway. Max approached, carefully, and set the dish on the nightstand beside her. 

“How are you feeling?” Max asked. His baritone rolled through her ears like the egg toyed with her mouth. The words clicked. Her tired eyes shot to his, with the whites flashing like knives.

“You don’t care!” she blurted. .

“Don’t care?” Max snapped. His voice grew louder as his growl ascended to a roar, “I watched over your corpse. I fed you. I learned how to bind…” 

Max towered over her, with his fist shaking above her head. His voice boomed against her ears. Her blood froze in her veins, and pressed down into her feet.  Her limbs curled in the sheets as her arms covered her face.

“What have I done?” he gasped. 

Her eyes fixed to his hand as it retreated to his side. Her tense muscles relaxed. He shrank back to the door and touched the handle. Her gaze snapped to his.

“Don’t go.” She whispered, and the door clicked behind him. The scent of grease lingered in the air as she stared after him. The dawn light faded, giving way to an effulgent blue.


<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>



Sweet hints of mayo and ham rode Runa’s tongue. Sweat and fabric clung to her back, and faux leather stuck to her neck. Cold radiated from the window, whisking away the last of the dead fireplace’s heat. She rubbed her shoulders. Her eyes darted to the twist of the door knob. It swung open, bringing a blast of frigid summer air. 

“I hate late season births,” Tom grumbled, stepping through the door. He stopped in his tracks, with his eyes descending on Runa. “You’re mobile?” he muttered, before snapping his gaze to the hallway. Max followed in behind him, and paused. He cast his face to the floor and followed Tom into the corridor.

“Wait,” Runa called to Max. She strained her head upwards to see him. He paused, just before reaching a small side door. “The eggs were terrible, thanks,” she said. 

Max sighed, and sagged his shoulders.

“You’re welcome,” he responded and stepped out of sight. 

Banging metal and ruffled leather echoed from the side room. Tom came down the hallway carrying a strange metal instrument with a chain and a hook attached to them. He glanced at Runa before fixing his gaze toward the exit. Max walked close behind him, stopping as he entered the living room.

“Do you need anything? We'll be gone for a while,” he said, shifting the toolbox from his left to his right arm with ease. 

“I can manage,” she said. “What are you doing?”

“I’m acting as a ranch hand. Just fixing a fence.” Max explained.

“Okay,” Runa said. She leaned back into the couch and stared out the window.

A horn honked. Max spun and sprinted out the door, leaving Runa to the ticking of the clock. The yellow sun faded to scarlet. The blue sky descended into indigo, as crimson flame bled across the heavens. Red drenched the room. The clock chimed. A melodious hum vibrated Runa’s jaw. Her gaze swept to the radio on the opposite side of the room. The tune scratched in her throat as her audible groan echoed off the wall. The door opened. A man stood in the doorway, silhouetted by the crimson sky. 

“I’m worried about her,” Tom’s said, “It’s too cold and the calf won’t survive the winter.” He turned his head, drenching the face in red and black.

“It’ll be fine. Mooner will give birth tomorrow.” Max said, closing the door behind himself. Tom’s back straightened, and he walked past Runa without a glance.

“How would you know that?" he muttered. Max shot him a stare, then walked to the edge of the hallway. “Fine, I’ll whip up a quick meal, then you need to explain yourself.” Tom continued.

“Is there anything I can help out with in the meantime?” Max asked. 

“Not if I want to eat it.” Tom grumbled and slammed a can of baked beans on the counter. “Stick with your girlfriend.” 

Max rolled his eyes, and sat down in his chair.

“Max,” Runa called, “What is your plan to kill the Void-Anima?” He relaxed into his seat and  his eyes drifted past her toward Tom.

“Void Anime?” Tom drawled from the kitchen. Max kept silent, watching Tom work above her.

“I don’t have my gun. How can you kill it?” she continued unabated.

Tom poked his head past the counter, then Max’s gaze snapped down to Runa. He pressed a finger against his brow, before flicking a hand at her.

“Why are you always wrecking my hard work?” he growled.

The harsh words fell into her like daggers. Her arms curled against her chest as she retreated into the couch.

“I just want to know our plan.” she whimpered. Her hands clamped over her ears at the pathetic sound of her own voice,  “What did I do?”

“Timing,” Max grumbled. His gaze flicked up to Tom, expectantly. 

“Void-Enema? Sounds painful,” Tom joked. He rounded the counter, holding a wooden spoon covered in a shiny brown sauce.

“More than you could comprehend,” Max intoned. “Let’s get this over with.” His hand drug a notepad down from the counter, as his left flicked a pen from his pocket. “Come, sit.”

“What’s this? You gonna write a poem?” Tom said. His brow peaked upwards and gaze darted between them. He sat in his recliner, rocking forward with his face otherwise mute.

“You’ll understand soon enough,” Max said. He tore two pieces of paper from the pad, and slid them across the coffee table.

“I’ll give you points for presentation if nothing else,” Tom replied. He lifted his pipe from the table, chewed on the end, and lit it. Blue drowned the red hue, as the sun disappeared beyond the horizon.  Tom grabbed a paper.

<div class="poem">

‘neath a blue moon sky

A man emits breath and smoke.

dance— flame and smother

</div>

“Okay, I read your poem,” Tom sighed. “It’s about like any other thing I’ve read of yours.” The paper burst into brilliant orange fire with his flick. He slammed it into the glass table, dashing its glow into darkness. “What the hell?” he exclaimed.

“Lift the other poem.” Max commanded.

“I’m not impressed by this,” Tom said, eying Max warily, “I’m not here for a magic show,”

“Just read it,” Max snapped, eyes glaring. 

Tom cautiously picked up the paper.

<div class="poem">

A quiet abode

meal denied, yet he did taste 

Smoke most exquisite

</div>


“What?" he stammered and lifted the pipe from his mouth. A char filled the air, beyond the cherry tinge of his tobacco. “I don’t…” He sniffed the air, before jumping to a stand and sprinting into the kitchen. Max’s gaze followed. He tapped his finger lightly on his leg before both men spoke in unison. “The beans are burnt, guess it’s sandwiches tonight.”

The tick of the clock deafened Runa’s every sound. Her stomach churned, threatening to spit her ham into the carpet. Her head curled between her shoulders, and eyes darted to the exit. Tom stepped from the kitchen, carrying his black and red stained spoon.

“How did you do that?” he asked, glaring at Max. 

“Poetry,” Max replied. “Simple poetry. Sit down, I’ll explain.” Tom paused as his gaze fell on Runa. He scanned the inky lines through her hair, before turning and sitting in his seat. “Mooner will give birth tomorrow, and it will be messy. You’ll need any equipment you can get a hold of for a complicated birth,” Max explained.

“So you can tell the future or something?” Tom asked. His hand brushed, then recoiled at the pipe on the table.

“No,” Max said, “It’s more like shaping the future.”

“If you could shape the future, why are you in my living room?” Tom growled.

“Runa and I are on our way to St. Helen’s to retrieve her gun,” Max started and gestured at the holster at her waist.  “Once there, she’s going to shoot me and take me to go fight in some grand war.”

“Wait, she’s going to shoot you?” Tom asked. His eyes drifted to Runa, bringing with them the weight of his stare. “A war? I don’t get any of this,” he continued. She turned away from him, burying her head into the back of the couch. “And this girl isn’t fit for any war, she’s scared of an old man.”

“Runa, do you remember the blue light in the crypt?” Max said, focusing on her. Her skin crawled at the memory.

“Yes,” She said, muffling her voice with the couch. 

“That killed that green creature. I think we can kill the Void-Anima with it as well.” He explained. She turned in her seat, looking back at Max.

“Do you know where another one is?" she asked.

“I looked in every church in town, there’s nothing here, I think it has to be a cathedral.” He said. His eyes flitted to Tom, before returning.

“I don’t know what that is,” she said.

“The big stone building,” he replied, rolling his eyes. “I asked around, and there’s one in Baker city, so I’ve focused my efforts on setting up our fight there.”

She slid a hand to her holster, grasping at the absence beside it. Her boiling rage poured through her clenched fist. Her tired muscles screamed and sapped away her heat. She sighed, and let her arm go limp.

“We should get my gun. Baker is out of the way,” she groaned.

“If we can kill that— thing before St. Helen’s, it’ll make whatever that officer is planning harder,” Max said, ignoring her plea.

“The Fool’s plans are unknowable, you could be walking into a trap,” she muttered. 

Max waved a hand at her, before focusing on Tom.

“So, any questions?” Max probed.

Tom’s gaze drifted from the girl, landing on Max. He leaned forward in his seat, resting an arm on his leg. His eyes squinted beneath his ball cap as he scanned Max’s burnt face. He glanced at Runa, before slowly opening his mouth.

“Void-Anima? Crypts? The Fool?” he drawled. “I don’t understand any of it, So what are you then?”

“I’m human,” Max said. “She’s—Runa. Her people don't have a name for themselves.”

“People?” Tom asked, raising a brow.

“Species, race, I don't know.” Max said. He folded his arms and slid into his seat.” What I do know is she's near indestructible, and incredibly strong” his head turned to Runa. “Anything to add?”

“No,” she replied. 

“So she’s an alien?” Tom asked.

“Humans always have a new name for me,” she stated, slightly regaining her monotone. 

“So what does this have to do with me? I’m still getting the sense you aren’t sharing everything,” Tom probed. His finger rapped against the side of his cheek as his eyes darted between them.

“It’s better if you don’t know,” Max said.

“Then it’s better you don’t stay,” Tom replied and motioned to the door.

“We’re all going to die, you, me, Runa, everyone.” Max stated. “Your town will soon be killed by the national guard.”

“What? Why?” Tom asked.

“They’re under the control of the people we’re fighting. They plan on creating monsters for this battle.” Max explained. “I… I set it up so that they wouldn’t be turned.” 

The pitch of Max’s dilated pupils called to her. Amber flecks seemed to dance within his iris, luring her to their blackness. A click on the table sent phantom bites crawling across her skin. Her gaze snapped to the wood framed window as her stomach churned within her.

Tom’s eyes locked with Max. His nose curled in disgust.

“What do you mean ‘set it up’? Is this some kind of game to you?” he sneered.

“They will be suppressed as a rebellion instead of used as a sacrifice.” Max paused, casting his eyes down toward his pocket. “I wove their deaths.” 

Her muscles stiffened within her, as an unnatural crawling squeezed past her abdomen.  The window’s chill emanated through her chest.  The corner of her cheek tugged upward.

“I have to stop them from becoming those things,” Max continued. 

Runa swung her legs over the edge of the couch.

“So you killed them?” Tom snarled. 

She steadied herself against the cushion as she slowly rose.

“I’m sparing them from my family’s fate.” Max groaned. 

Each of her trembling steps ached.

“I thought you said they died?” Tom asked.

Her arms struggled to hold her upright against the counter.

“They are in purgatory,” Max replied.  

She shambled into the kitchen.

“You’re full of shit,” Tom said and reclined in his seat. He waved a hand at Runa, before snatching his pipe. “Where is any proof for this?” he continued as he chewed on the bit.

“You’ll have it in the morning.” Max replied.

“Do you care about this?" she asked, holding up a can. Both eyes slid to her. 

“They’re beans,” Tom said. 

The can popped in her clenching fist. Baked beans detonated across the kitchen, splattering on the ceiling and walls. Tom’s eyes bolted wide before darting back to Max. 

“Thank you.” Max said, as a sly smile crept across his face. “I’ll clean up the mess.”



<div class="button-spacing"></div>

<script>



</script>

<style>
.button-spacing {
height: 10rem;
}
picture {
display: block;
width: 600px;
}
h1 {
text-align: left;
    @apply text-xl; 
}
.chapter-head {
height: 500px;
opacity: .8;
position: absolute;
top:-150px; 
right:-75px;

}
.chapter-divider {
margin-top: 200px;

}
.image-container {
position: relative;
}

</style>
