
---
title: "Final Battle"
---



<div class="image-container">
<picture class="chapter-head">
    <source
        media="(min-width:800px)"
        srcset= "/images/books/valkyriextruck/chapters/chapter22/heading.webp"
        />
    <source
        media="(max-width:799px)"
        srcset="/images/books/valkyriextruck/chapters/chapter22/heading-s.webp"
        />
        <img
           src="/images/books/valkyriextruck/chapters/chapter22/heading.webp" 
           alt="delivery truck"
           decoding="auto"
           />
        </picture>
</div>
<div class="chapter-divider"></div>

# Chapter 22: Final Battle
The silver cloth stuck to Runa’s back, coated in sweat. Musk and polished metal clung in her nose.  Her breath beat between electric thumps. The controls rattled in her hands, mimicking a sound, like a cackle, roiling in the back of her head.

A clack of metal on metal drew her attention to the right. The Fate stood amidst floating writing tablets, with mechanical hands wielding writing tools like daggers. The Armorer towered over The Fate, wielding a hammer twice his size. Kvass, Gelda, and the others stood further down, armed with their harvesters. 

“Once the Watcher has eliminated The Fool, we charge. Kill everything that moves. Not even the animals escape.” The Armorer ordered. A chant sounded over the earpiece in agreement.

Her hands squeaked against the rubberized grip. Every fiber of muscle quaked. The thumps grew louder, beat faster until her HUD turned off. Every pore stood on its end. Her body rose in her seat, feeling Speer-Anima lift from the ground. Darkness flickered throughout the hanger. Gravity returned, slamming her against the seat. The lights flashed awake as the vehicle lurched downward under its weight.

The blast door shuddered, sending a ripple along the ground. Runa jerked her legs, maintaining her balance as the stone under her shook. Electricity filled the air, blackening the Speer-Anima's amber lights. The vehicle grew weightless. Another shudder tore through the hanger. Lights exploded, drenching the room in near darkness.

The hanger’s maw dropped. A hole, black as night, spread through the heaven-shield. Long bones, like claws, scarred trenches in the fields below. The white helical watchtower swept upward as a tree until protrusions jutted sideways from the center. The top of the tower held a dull blue. Cerulean lines jutted outwards from the tip, intersecting with its own rhomboid shape at increasingly smaller and more regular intervals as it soared away from its origin. Darkness, like mirrors, danced within each shape, hungrily devouring any light passing through it.

A massive keratinous heap loomed in the air beside it, launching bony missiles from the carapace. The tower’s beam snapped shut as the tip smashed into the ground, expunging the front of the floating mass.

A shrill howl scrambled her earpiece. The nail ship plummeted downward, crashing into the broken spire below, and splattering across the field. The air was still. 

Runa’s gut churned. The manic laughter drilled in the back of her head. Her hand brushed the glass covered button.

“The Watcher is dead, yet he smote The Fool.” The Armorers voice cracked over the radio. Runa recoiled and retracted back to the controls. Immediately, the words of the Dödsångest chanted over the radio.

The party exploded into movement. Runa slammed downward with her feet, propelling her forward. Green, flaming meteors plummeted through the crack in the sky, smashing  into the fields in front of them. A red-orange hue erupted through the landscape as fire incinerated her home.

Two white spears dove through the hole. The cabin rocked downward. Outside, the Armorer fell to his knee. A scream of erratic and synthetic noises drilled through the hull, before two fangs pierced the opposite horizon. A crack fractured endlessly through the velvet sky. The ground quaked. The Spear-Anima’s joints rattled. The fangs snapped shut, consuming the purple sky and plunging the landscape into darkness. Two green eyes like slit moons plummeted downward, with a granite snake-like mouth opening to the edges of the horizon. 

Runa’s eyes widened. Her head sunk below her shoulders as her entire body quaked. Her gaze bolted down to the armorer, seeing him lean against the shaft of his hammer. She rolled forward next to him, and extended her web cannon. He grabbed the barrel and stood.

A golden bird swept into the distant sky. A yellow bolt of lightning  erupted from its beak, splitting and spreading fractally as large as the tower above her. Lightning struck the moon, bounced and grew, as its gold flowed down the sky-mountain’s jaw. The serpent twisted upward, chasing after the bird. 

“The Eldest battles with his Motvåg!” The armorer sounded. Chants erupted over the headset.

“Get on!” Runa shouted. He glanced into the cockpit, before letting go. He sprinted down the hill ahead of her. She tossed a hand upward, glaring, as she rocketed past him into the battlements.

Venous erin-green lines crawled across the slithering mountainous sky, bathing the ivory tower. A deafening roar shook the ground as the light grew, before spraying a green glow soundlessly into the vacuum of space. The golden light flashed  like a shooting star, striking its side. It twisted, chasing the burst of yellow.

The Fate stood above the ivory wall, with her head whipping in every direction. The hands floated around her, dancing across her tablets. Green, burning meteors crashed into the field beyond, crushing the remains of the nail ship.

The sky flashed scarlet. Circuitous, stepped lines descended from the slithering granite. The Fate’s head snapped toward the source, with her hands writing in unison. The red lines descended toward them, before The Armor leaped above, with his hammer glowing in white-blue light. He swung,  consuming the lines as they collided with the wall. Around them, ivory tore like tissue paper, carving and dicing the wall and dirt into rubble.

“Knoldr is dead,” Kvass stated in an almost growl. “Smote by the enemy’s cannon.”

The dödsångest sounded over the headset as Runa looked for anything that might resemble the short man’s body.

A golden burst flashed from the source, exploding a crimson spray weightlessly into the sky. The bleeding grew, like a slice carved along the mountain’s body.  The red draped like a curtain across the heavens.

An amber egg, slathered in scarlet filth, crashed into the ground. The top cracked then split, a cragged line across the surface. It unfurled from its tip and spread like petals below. A bullet skipped off the windshield as a man emerged, with a rifle blaring in his hands. Hundreds of thousands of eggs splattered across the dirt, as millions of bullets rained down on their position.

The Armorer leapt between The Fate and the throng. He lifted his hammer forward, pointing it, as the concentrated stream of tracers vanished.

“Thryk is dead,” Kvass growled. “Smote by a foul shot.”

In unison, the dirge called over the headset.

Runa raised herself over the wall, peaking as bullets chipped against glass. A tank emerged from the sea of orange and light. A flame burst from its cannon and at once her body moved. Her eyes glazed over individual targets, Her hands and feet melded with the controls. 

The Spear-Anima threaded the gap between bullets and rockets. It danced under her hand, as blue web eviscerated men, and golden shards split tanks. She rolled forward, shredding her way through the endless waves of man and machine.

“Maiden of spite--” The Armorer stated. 

Her eyes glanced down at the control screen. Bullets chipped off the cockpit as she dodged rockets firing from every direction.

“Why are you out of position? Did you find the Scribelss--”

“I am struck!” Kvass shouted over the radio. 

“Trust the sash. Keep fighting.” The Fate stated.

“Blood will not stop pouring,” Kvass continued. “I am dead.”

The Armorer began the chant, as The Fate followed his lead.

“Someone help him,” Runa shouted into the microphone. A rocket pierced the cockpit, flinging molten copper into the wall behind her. She rolled the controls, diving under a follow-up shot, and pulled the trigger. Prismatic lights melted the man with the launcher, the egg he stood in, and disintegrated the charred grass around him.

Her eyes widened at the crater. Guns roared around her. A rocket skipped off the glass and detonated above her. She rolled sideways, folded out her web cannon, and fired into a squad.

“I am struck,” Runa called over the radio. “Punctured cockpit.”

“The Scribeless weaver?” The Fate responded.

“No,” Runa said. She pressed the controls to the side, flicking a shot of blue web.

“Do not die until—”


“Gelda is dead,” The armorer interjected. “Smote by the enemy’s rocket.”

Runa flicked a shard into a tank, peeling the barrel like a banana. The engine detonated in the back as electricity curled outward from the impact. The gunfire grew louder, more concentrated as bullets bounced off the frame despite her graceful movement. Rockets detonated on the ground at her feet and burst in the air beside her. 

Above, the golden light split the scarlet rain, zipping through the atmosphere faster than the bullets ramming her vehicle. The lower jaw of the serpent mountain dipped through the curtain, with green liquid torrenting from its mouth. The distant forest melted as globs splashed across the surface, leaving a ravine with every drip.
A ball of fire, as large as the mountain’s eye, plummeted behind her, veering at the last moment, and smashing into the fields at the ivory wall. White light shone from its impact, then smoke barreled into the sky. 

“Fight to the end. There is no tomorrow,” The Armorer stated. “Fate, you have command.”

A creature of metal and flame rose in the distance, as a human amongst ants. Its hand stretched outward. An amber blade shot out from its wrist, severing the center of her arboreal home.

“Maiden of Spite. Travel to the base of the watchtower.” The Fate stated.

“Why?” Runa snapped, as she rolled under the shot of a cannon. Her wrist flicked out, splitting the turret from its base. Lightning coursed along the sides, disintegrating soldiers into ash.

“We need to draw the fetters out,” The Fate continued. 

“Fine, I am bait,” Runa responded. She wheeled to the side, careening past the tanks and crushing both man and egg. She tucked her head into her chest, as she danced past the wave of rockets. Her glare rested on the bones scattered around the tower’s base.

Golden light swelled in the scarlet curtain, as yellow lightning travelled along the mountain’s spine. Heat poured through the hole in the cockpit, singing the hair of her legs as she fled the flaming giant.

Every twitch of muscle dodged a bullet. Every adjustment of her controls, sent a rocket hurtling past her cockpit. Her web cannon fired forward, attempting to clear the rain of men from her windshield.


A red light flashed in the cabin. Runa resisted the urge to pinch her furrowing brow. She laughed to herself, tightened her web cannon’s arc and accelerated.

“Fate, I am out of fuel,” she said.

“Make it to the tower.” The Fate responded. “Do not switch to auxiliary.”

Runa swept under a rocket, as a crack boomed through the cabin. Her eyes darted across the screen, then drifted up to the mountain descending on her position.

“Fate, I am going to kill you,” Runa shouted into the headset. No response came over the line.

Runa rolled her eyes as she sped across the field. Her thumb pressed in, extending the shard cannon, as a rocket slammed into its side. Red flashed across the screen. A hole stood in the center of the extended limb. Her gaze darted, and the cabin rocketed upward, weightless, bringing a lone man into view. The glass covered button extended toward her. The limbs of the vehicle tumbled glacially, as the soldier aimed the rocket directly into the cabin.

Runa’s hand snatched the rifle, and pulled the lever under her seat. She ejected, hurtling through the air as the rocket barely missed the cabin, and exploded into the ground behind her. She slammed, pummeling her limbs into the dirt, and driving the breath from her body. Her head snapped sideways, as the telltale splash of rocket propellant burst behind a squad. The missiles traveled like darts, slowly spinning through the vacuum of space.

The explosives vanished, before air burst in the distance. In an instant The Fate stood above her, with a pulsing dagger in one hand, and a harvester in the other. She raised her gun, and fired. A cerulean dart clipped a man in the shoulder, jerking him sideways as his rifle blasted. A bullet hit another in the chest, snapping off the top of a grenade. He detonated, sending his rocket launcher hurtling through the air, before it landed in the dirt, and fired. The missile collided with the turret of the tank, just inside the seam, as it crested a hill. Her gun fired again and again, with each shot cascading into chaos.

Tablets danced in the air beside her, flicking sparks in rapid succession as hands scribbled across them. She swung her knife,  and the air peeled like a cloth. Heads rolled through the opening. Her knife stabbed toward Runa, then swept upward. Heat washed from the tear, with the hangar appearing in the cut.

Runa kicked upward, bringing her rifle to bear on an incoming platoon. A rocket smashed into the ground in front of her, sending her tumbling into the hangar.  Her hand bolted upward to grasp, as the air stitched back together.

“Fate what--”

A light burst from near the watchtower, engulfing everything in white. Runa covered her eyes,  feeling the  burn in her retina. Disjointed screams filled the air. She rushed forward to the door, and aimed down at an oncoming platoon and squeezed the trigger. Ozone rode her tongue. Blue, entwined beams emerged from the tip. It struck the first man. His eyes and mouth erupted in light. The lines jumped, splitting as it cascaded down the hillside. 

Heat poured across her body. The air quaked. The hanger swung from side to side, tossing her against the wall. The pressure threatened to burst her eardrums. She clenched her teeth as the rumbling faded. 

The nail-ship and watchtower were gone. In their place, bones, like twigs, intertwined around a massive hole. Her eyes widened.

“Skoldr…” her voice trailed.

The air warbled, with a wall of scalding heat pressed against her skin. A blade of light and fire soared into the crimson mist above, lurching backward, as if preparing to cleave the world in two. The blade crumpled, folding side to side as a horrendous tumult of twisting metal scratched Runa’s eardrums. Finally, the edge of the descending mountain cleared the red curtain, crushing the metal giant like a used soda. The hangar shook. Cracks traveled across its ivory surface. A wall of dust covered the landscape. The sandpaper grains sliced her fingers. Her body wrenched sideways as the air roared past her. Her hand slipped, sending her tumbling into the back of the room.

 Blackness engulfed her.

Rocks clattered in the dark. It was like a clock, draining the last of its grains. A sickening thing, as a worm coiled within her guts, preparing her body for the grave.

“Armorer, are you there?” she said into her headset.

A cackle echoed in her ear. It crawled through her marrow, and grasped her pistol.

“Eldest, this is Maiden of Spite. Are you there?” she continued. 

The gun slid upward, resting near her head. 

“Skoldr? Anyone?”

It sniffed her brow, savoring the taste of cold sweat.

“Max?” she whispered.

The gun pressed into her temple.

A prick stabbed her leg.

“Runa?” A voice called.

She dropped the gun, and cupped her hand around her ear.

“Skoldr? Runa asked.

“Runa, I survived, but I’m trapped,” It said, with a whispered groan.

“I am coming,” Runa said. She reached for her rifle, finding only air, and darkness.

“Hurry, I don’t have much time,” it called over the static.

Runa frantically grasped in the dark, feeling nothing but rubble and stone. A manic laughter coursed through her. It grabbed her, pinning her to the ground and dragging her across the pavement.

“Runa…” the voice trailed into silence.

She scratched against the stone, as her claws failed to find purchase. It rolled her onto her back.

She kicked against the darkness, feeling nothing but the flex of her knee and brush of the silver mail. It slammed her against the wall and gripped her throat.

“She’s dead, you know.” It said.

An orange slit peeled against jet, widening, as an almost scarlet web slid away from the pupilless center. The almond shape hovered above her nose, scanning her with an otherworldly light. A silty slime curled around her throat, squeezing. 

Like a hummingbird’s wings, her lungs flapped for breath. Every muscle tensed, as the eye probed every crevasse and link of her mail. It closed. The pressure vanished, as tendril-like fingers savored her blackened hair.

“What are you doing in here?” It called. A light flicked on, revealing the Armorer standing above her, with orange irises sitting behind a stern brow. “We’re dying out there, and you’re in here? Are you a coward?”

Runa’s breath calmed, and she reached up to grab his hand. It slid off. He collapsed to the ground as a black mass crawled up her arm. She thrashed as it flowed over her hand, stretching upward, probing her mouth, before crawling down her throat.


Silence dominated the room. Black colored her sight. It wriggled in her guts, spreading through her intestines. Tiny barbed hooks like the teeth of a centipede clawed through her veins and pumped her flesh with toxins.

“Help! Anybody!” She screamed, squeezing down on her abdomen. 

Nothing replied. 

It wriggled past, and gripped her lungs, squeezing them and sucking away the air. Runa’s cries failed to escape her mouth. A tendril hovered in front of her face, curling  and wafting her aborted gasps away.

Her limbs stretched and curled. Tears seared her skin.

Tendril-like fingers clasped her hand. Max knelt beside her, with his orange eyes beaming.

“I can make it stop,” it said as he drew her hand to his lips.

The writhing in her muscles grew. It grasped her heart, squeezing a mistimed rhythm. Her lungs burned in her chest, forcing only broken noises from her gaping mouth.

A fork stabbed her in the cheek.

Her hand gripped a pistol, with a finger squeezing on the trigger. The barrel pressed into her temple, etching the circle of its tip into her scalp. Stone and dust clung to her nose, with the taste of rotting flesh poisoning her mouth. Chittering echoed in the black. She twisted it away and fired. The cerulean dart flew across the hanger, slamming into the opposite wall. A shifting black stain crept toward a door.

She adjusted and squeezed. Blue light flashed, and the beam slammed into empty stone. Her hand flew to a slot on her belt and pulled up a magazine. 

A soft golden glow illuminated the floating dust around her, barely breaching a few paces. Her head snapped to and fro as she paced, until finally landing on the twisting shape of the rifle. She lifted it, and coughed.

“Wish I had an m4,” Runa muttered. She crept forward, hitting a wall, then wrapped around the room.


Howling. A discordant chorus of screaming people pierced the dust-laden air.  Her gun snapped to the side as a claw swiped at her shoulder. The spiraling beam struck a target, carving a ghostly blue face in the black. The shot continued as it penetrated and bounced through men, before fading into the distance.

The dead breeze had sapped away the fire giant’s heat. The airborne dirt cleared from the top of the hill.

A granite mountain emerged from the cloud of dust, with the leg of the giant propped upward as a mechanical foothill.  Rocks tumbled in the stratosphere with yellow lightning bouncing between them.  Acrid rot emerged from the fog below. Static droned  in her ear.

The rifle shook in her hand. Her legs trembled beneath her.

A prick stabbed her ankle.

Runa swept her gaze downward, landing on a white tunic huddled in the grass. She dashed forward and rolled over the one-armed girl.

“Gelda,” she muttered. Wiping her orange, eyes closed.


“You don’t have to be alone,” Gelda’s mouth formed the words.

Runa leapt backward, drawing her pistol. She stopped and tightened her grip, bearing the sight on the ‘corpse’.

“I won’t be,” she snarled and squeezed. Cerulean burst from the tip, and punched through the tunic. Gelda’s body shifted erratically as a glitch made of crumpled paper.

Runa heard the stippling of her grip. Tasted the chorus of screams rolling through her mouth. The sour scent of decay layered across her skin. She saw the crawling tingle travel up her eyes.

Runa twisted, tasting the coiling muscles beneath her skin. An impact, behind her flooded her nostrils. She reached out and heard the non-newtonian fluids crawl across her hand.

Almost programmatically. She lowered the pistol and fired next to her ankle. Orange orbs chittered in the hanger, peeling and closing like a mass of snake-eyed bubbles. A tendril recoiled, sliding back as another snapped outward. Runa rolled, firing. The blue dart pierced an eye, as a man’s howl erupted from the creature. It curled backward, twisting within itself.

Runa lifted her rifle and fired as it fled. The bolts twisted outward, slamming into the creature, and bounced from eye to eye. A cacophony of terrified men, women, and children screamed within it, as blue erupted from misshapen sockets, until a sound, almost a word gasped from its disintegrating form.

Her knees buckled. Her arms reached out, catching her on the ground. She trembled in the shadow of her home as the dödsångest escaped her lips.


She pressed her head against her arms and sobbed quietly and alone.

“As beautiful as in the truck,” Max’s voice sang in her ears. Her head bolted upright with streams running down her face. Her eyes widened and mouth fell ajar.

Max, dressed in black, stood amongst a horde of patient, waiting thralls.

His right eye was seared shut.


<div class="button-spacing"></div>

<script>



</script>

<style>
.button-spacing {
height: 10rem;
}
picture {
display: block;
width: 600px;
}
h1 {
text-align: left;
    @apply text-xl; 
}
.chapter-head {
height: 500px;
opacity: .8;
position: absolute;
top:-150px; 
right:-75px;

}
.chapter-divider {
margin-top: 200px;

}
.image-container {
position: relative;
}

</style>
