
---

title: "Oasis"

---


<div class="image-container">
<picture class="chapter-head">
    <source
        media="(min-width:800px)"
        srcset= "/images/books/valkyriextruck/chapters/chapter5/heading.webp"
        />
    <source
        media="(max-width:799px)"
        srcset="/images/books/valkyriextruck/chapters/chapter5/heading-s.webp"
        />
        <img
           src="/images/books/valkyriextruck/chapters/chapter5/heading.webp" 
           alt="delivery truck"
           decoding="auto"
           />
        </picture>
</div>
<div class="chapter-divider"></div>

# Chapter 5: Oasis

Two days of travel; two days of silence.

The yellow gray of dried grass swept past the truck, stretching endlessly before them, only broken by two lines of black asphalt. The distant jagged peaks of the Rockies jutted out from behind the myriad hills and plains.

Runa eye’s wandered to Max. His were glazed, lost in some distant past. Her gaze drifted back to the  endless straight path that hypnotized travelers into an eternal sleep. Drifting to him again, she broke free of the road's hold and decelerated the truck. The vehicle vibrated as they crossed over the shoulder strips.  

"I lost someone, once." The silence shattered as she spoke. The howl of air gently rocked the cab. The rush of passing vehicles whined as they descended into the Rockies maw. His void eyes stared out the window, unresponsive to her call, "We had worked together for some time," She continued. 
Max's head lolled to the side in lethargic despair. Too much sleep and too little rest wore the thick bags under his eyes.

"Who cares," he grumbled. Every syllable scratched against his throat. Her eye twitched.

"My sister and I had been working on an assignment.” Runa continued with slight emphasis, “A… conflict was boiling over in a distant country. We were sent in to extract some high-value assets." She twisted her head, barely turning in his direction. "We were ambushed; more creatures like the one you saw back there, but there were others as well. I lost my sister and two of the… men under our protection. They ripped her limb from limb as I ran." Her uncaring gaze drifted back to the road, "I don't know why, but you needed to know that."

An ethereal dagger plummeted into Max. His muscles clenched, unable to stop its descent. He drooped his head and leaned against the window. His mind saw Sally’s smile and hazel eyes as the creature curled and grasped her childish form. Amongst the writhing phantom limbs, Runa’s face emerged as the inken tendrils tore the two of them apart.

"I'm sorry," He groaned.

"Don't be, you didn't kill her." She stated, "We are all destined for death."

The wind’s ghostly howl drowned the engine’s rumble. The teal-brown brush failed to cover the barren earth and carried a bitter scent that enveloped his tongue. He breathed deeply, steadying his thoughts against the tide of shadow.

"How did you deal with it?" He asked as he gazed into the waste.

"I don't know." Runa answered. Her blasé voice grew distant. She shifted back to the wheel and accelerated the vehicle.

“Does it even matter to you?” He sniped, before slumping against the glass. Runa silently returned to the rigid, hypnotic road.


<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>

Wisping clouds peppered the bright blue sky. A cobalt and white sign ascended over the horizon, breaking the monotony of gray-yellow hills. 

"Finally," Runa muttered to herself, looking toward the approaching gas station. She pulled onto the offramp and the sudden deceleration woke Max from his slumber. He wiped away the crusted mucus from his eyes. A patch of green and tree sprang from the desolate waste. 

"Where are we?" He asked, failing to smooth his groggy voice.

"Never been here before? It's Little America." She stated and pulled into a stall. The door popped open and she leaped from her seat.

Max watched his blonde captor flit through the side mirror, paying for and filling the truck. The pop of the pump snapped his attention to the large convenience store in front of him. Long glass windows and brick covered the mundane side. The door opened and Runa looked in with the faintest hint of a golden smile on her face. 

"I always stay here when passing through," She said as her expression returned to her usual stone-cold demeanor. "Come, you'll enjoy their ice cream." she offered and closed the door, before gliding into the store. 

A leaden blanket suffocated Max’s mind. Sluggishly, he touched the handle and found himself weighed down by the distant fleeting images of smiles and home. His hand rested heavily, dragging downwards. Slowly the handle popped and he tumbled, scraping past the door’s plastic panel. He steadied himself against the side of the truck as the weight of his body crushed his trembling legs. His foot drug across the pavement. Each pebble of the asphalt grasped the rubber of his shoe. He trudged toward the entrance, with each step becoming easier than the last.

The fluorescent lights bit his eyes. The smell of grilled meat and frying oil slowly wafted through the large room. Western memorabilia lined the walls and aisles. Runa stood at the counter talking with a clerk. As Max approached, she held out a chocolate brown ice cream cone.

"We'll be staying here tonight. We leave early tomorrow." She explained before seating herself at a small table. The brown of the ice cream contrasted heavily against her pale face. "Eat. Before it melts." She commanded and gestured to the food in his hand. 

Max shuffled to the table where she sat and slumped into the seat. He took a frozen bite and for a moment, the ever-present creases in his face faded. 

Her gaze caressed his shoulder. She scarfed down her cone and slid away from the table. Max stared into the drooping treat. A trickle of cold ran down his fingers, tapping the top of the speckled surface. A box smeared brown droplets across the table. Runa sat down, stuffing a receipt in her pocket.

"Your bandage needs to be changed. It stinks." She said, pointing at his neck.

Max looked down at the yellow bandage poking out of his collar. The acrid smell of the  puss and blood-soaked fibers filled his nostrils. Reflexively, he pulled away, loosening his grip. The cone slipped from the wax paper and splattered onto the table. 

Brown bits sprayed into Runa's face. A searing frozen glob shot into Max’s right eye. He yelped, as the burning sensation filled his eye socket. His finger clawed, gouging at bits of stinging milk. A hand pressed against the back of his head, before a wet cloth wiped the cream and pain away.

“Let’s go to the room,” Runa stated.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>


Max sat on the edge of the bed. His skin was beat red as he peeled away the yellow-stained bandage. Fiery pain flowed through his veins, emanating from his gaping wound. Across from him,  Runa sat and stared into her phone, a steady stream of white illuminating her face.

"Runa, can you give me a hand?" He asked, his voice carrying the frustration his sullen face couldn’t show. She looked up from her phone, seeing his struggle to wrap the bandage with one arm. Silently, she set down the phone and slid to his side.

"Let me see it." She said and pressed the gauze to his shoulder. "Hold this here." 

He held it in place and let the world move out of focus. Runa took the bandage, unfurling a section and pressed it to the wound. She expertly wrapped it over and under his right shoulder, before clipping it into place. As gracefully as she came, she glided back to her bed and returned to the phone. 

The black curtains and night sky loomed over her golden hair. The phantom tendrils touched her, as his mother’s accusation echoed in his ear. His gaze descended from the black, as the white light shined in her blue eyes.

"What are you doing?" Max asked.

Her gaze darted up, meeting his as he adjusted his shirt. Her mouth slightly opened before she returned to her phone. 

"I'm composing a message," Runa stated. Her digit slid across the screen as she silently worked.

"Who's it for?" He asked, his voice regaining some timbre.

"I'm trying to concentrate." She said, before shifting away from Max.

Gracefully, she flicked her finger across the device, petulantly tapping the screen.  Her hand flitted upward, pinching her furrowed brow. Her soft eyelids pressed together in strained thought. She tossed the phone on the bed, continuing to stare it at as her right hand moved subconsciously to her concealed holster. With a sigh, she collapsed backward onto the bed.

"I hate poems," she muttered.

"Wait... poetry?" Max asked. His gaze drifted from the girl to her phone.

"Yes," she replied.

"What's it about?" He probed and leaned forward, resting hands on his thighs.

"It's about how much I hate Father for making me write poems." She stated, before clicking the lamp and engulfing the room in darkness. Her body rolled to the window. The hum of the A/C kicked on as his eyebrow shot upward.

"Can I help?" He probed.

She perched herself up on an arm and peered into the green of Max's eyes. Her hand grabbed the phone before tossing it to him.

"Solve this and you can help." She said, before plopping backward onto the bed.

Max looked at the screen. Strange lines and scratch marks occurred regularly across it with no clues to its meaning.

“I can’t read this,” he stated before tossing it back. 

Runa caught the phone out of the air. Soft confusion swept her brow as she stared into the device. 

“Maybe if it was in English?” He suggested slightly cocking his head. 

She glanced up at him, then down to the phone. Her hand swept upward, massaging her brow.

“Ok, you write.” She said, before flicking a pen and pad to the boy. 

“I’m ready.” He responded and rested its tip against the page. 

Guttural sounds emanated from her mouth. A myriad of broken consonants and hellish vowels grumbled through the small space.

“I said English,” Max growled, rolling his eyes. Runa looked up from the phone and stared at him with her stoic expression.

“Oh,” She hummed. Returning to her phone, she stuttered through the poem, “Uh… Shield-Swan, lost… life-knife separated? No…” She muttered. Her voice, ebbed and flowed as she read, occasionally stopping for some time to think. Max watched her, the calm serene expression, mixed with slightly bulged eyes. Her finger rapped at her temple and her leg bounced to an agitated rhythm. She folded her limbs, curling over the device, then uncurled before slinging herself over the side of the bed. She tested each of the words in English and he wrote them once she sounded confident. The edda drew to a close. She tossed her phone before collapsing back on the bed with a load sigh. He stared at the strange yet simple poem in front of him.

"Board-Rider? Black death? Who's the Lord? Jesus?" He asked, rapping the pen on the paper.

"If you can't solve it, then toss it." Runa responded. Her voice regained its callous monotone and she rolled under the covers.

"I'm not sure what you mean by ‘weaver’, but weavers and threads often refer to fate in poems. Dark hearted is likely a foul turn…” He explained before his gaze darted upward.“Wait a second, what is this?" He stared as she watched from the corner of her eye, "Are you writing poems about me?"

"No, my father wrote it."  She corrected. Her eyes broke contact and shot to the window.

A forgotten pressure welled in his throat. He tried to cough as his diaphragm spasmed. Maniacal cackling burst from his mouth, echoing painfully in his ears and peeling his mind’s miasma.

"Why is your dad writing poems about me? This is beyond absurd." He squeaked out between spasms.

"Enough, you pass. I'll let you help tomorrow." She mutely stated and covered her ears. Motionless, she laid in her bed, her form silhouetted by the sterile light.

"Ok, cryptic woman." Max wiped a cathartic tear from his face. He set down the pad and laid back to watch the shadowed ceiling. The A/C’s hum played an unfamiliar tune in his ear.


<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>


The salty wind brushed Max's face. The black asphalt roared underneath him. He smashed his foot downward and immediately took flight as the board propelled him upward. It twisted under him, skidding on wheels and side. His feet caught the edge of the sled and it rocketed out from underneath him. Falling forward onto the asphalt, his hands caught the road. He stood, dusting off his jeans.

"Max!"

A blue truck appeared behind him, clipping and throwing him to the ground. He watched as his skateboard shattered into pieces under the truck’s wheel. It stopped as he tried to stand, but found himself unable to. In the corner of his eye, a bright golden light appeared beside the truck, growing brighter as it approached. Movement drew his gaze downward, to the black mass crawling along the leg of the opulent creature. Thick orange-eyed tendrils shot out, pinning him to the asphalt. He struggled against the mass of black cords. Above him, the effulgent creature strode into view with a brilliant unsettling smile on its face. It raised a pistol to his eye, leveling it as she squeezed the trigger.

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>



Max’s eyes bolted open. The fan’s humdrum grinded in his ears. He sat up, gripping the bridge of his nose. The fluorescent exterior light illuminated the center of the room. He glanced at Runa, sleeping peacefully in the bed beside him, her steady breathing barely audible over the soft ambience. His eyes shifted towards her covered legs. He stood and quietly crept to her side.

Carefully, he peeled away the sheet and inspected her pristine and white legs. Not a blemish remained of the necrotic wound. A warmth came over him and he replaced the covers, then returned to his own bed. Runa shifted against the cold intrusion and turned toward him in her sleep.

Max fixated on her mesmerizing face, studying the soft delicate features that belied the hardened warrior underneath.

"Venom-lace at Shield-swan's feet." He repeated as he forced his eyes away. Rolling back into bed, he concentrated on the sound of the A/C, as her breathing peaked above it. He watched as light played in the popcorn ceiling, creating faces within the random design. 

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>


Golden light drilled through Max's sleeping eyes. The warm morning sun embraced the room called by the soft, muffled voice of falling water. He tossed the delicate blankets off and moved to the window, looking into the green and gray of his temporary home. The liquid song quieted, followed by the sound of scraping steel and plastic. His eyes swept to the sound as the door opened. Electricity surged through his body as Runa entered, her form as graceful as her step.

"Put some clothes on!" He yelled and shied away from her, covering his heated, darting eyes. 

"Hurry up and shower." She commanded and tossed a towel at him. It bounced off harmlessly, tumbling down as he caught it. He scurried into the bathroom, pausing in the middle of the door. 

"Runa?" He said, his eyes peering into the lit bathroom.

"Yes?" She asked and clicked on a radio. An announcer blared into the room.

Max paused, images of the dream drowned by the image of her. He shook his head looking into the musky bathroom. 

"Never mind." He sighed and closed the door behind him. 

<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>



Max’s mouth fell open. His head swung side-to-side as he watched Runa lick her icy treat.

"Ice cream, first thing in the morning?" He questioned and sat back in his plastic chair. His gaze swept the inside of the diner. The sweet smell of maple and bacon settled in his nose. 

"Enjoy things while you can. Nothing lasts forever." She said as she licked the white and brown swirl. "Eat," she commanded, gesturing to his plate.

“I’m not really that hungry,” Max said as he picked and prodded his food. 

"We aren't stopping anytime soon. Eat." She reiterated, motioning to it again. 

He stared at his pancakes. The thought alone was difficult to swallow. His gaze drifted to her and her almost happy expression as she ate, then darted downward.

“What were you listening to while I was showering?” He asked, driving away the memories of his morning encounter.

“Road reports. Between the earthquakes and the military exercises, interstates are blocked up past Evanston, so we need to go around.” She explained before returning to her treat. 

Max subconsciously grasped the edge of the table, holding it between thumb and finger. He silently observed her darting, ever vigilant eyes that worked beneath her apparent enjoyment. Her right hand rested below the table as she ate, dangling from her holster.

“Why are you protecting me? You don't even know who I am.” He stated. His stomach twisted as she slowly licked the cone. The white of her face mirrored the hospital’s sterile walls.

“Because you are important.” She responded flatly. 

“That's not really an answer” He retorted. Phantom tendrils crawled outward from his stomach. His abdomen flexed, trying to contain them. His green eyes fastened to her blue as the knot in his stomach grew. 

“It's my job.” She replied and fixed her gaze on the treat in front of her.

“Another nonanswer,” Max muttered. His hand grew white under the pressure. Her lips, almost playfully, toyed with the dark cream, concealing her mouth.  He pushed his food aside. 

"If you aren't going to eat, then come, we have a lot of travel ahead of us." She stated before heading toward the door. He stood, leaving the food on his plate mostly untouched.



"Runa?" He ventured.

She turned to Max, licking away the chocolate cream from inside its waffle cone. The soft satisfaction of her frozen breakfast barely breached her otherwise icy demeanor. The cerulean of the sky flashed through the window, silhouetting her golden hair. His stomach tightened to the point of retching.

"What are you going to do when you get your gun?" He asked.

Runa replied without skipping a beat.

"Shoot you."

<div class="button-spacing"></div>



<script>
    export let bgImages;



  	

</script>

<style>
.button-spacing {
height: 10rem;
}
picture {
display: block;
width: 600px;
}
h1 {
text-align: left;
    @apply text-xl; 
}
.chapter-head {
height: 500px;
opacity: .8;
position: absolute;
top:-150px; 
right:-75px;

}
.chapter-divider {
margin-top: 200px;

}
.image-container {
position: relative;
}

</style>
