
---
title: "Tyranny"
---



<div class="image-container">
<picture class="chapter-head">
    <source
        media="(min-width:800px)"
        srcset= "/images/books/valkyriextruck/chapters/chapter14/heading.webp"
        />
    <source
        media="(max-width:799px)"
        srcset="/images/books/valkyriextruck/chapters/chapter14/heading-s.webp"
        />
        <img
           src="/images/books/valkyriextruck/chapters/chapter14/heading.webp" 
           alt="delivery truck"
           decoding="auto"
           />
        </picture>
</div>
<div class="chapter-divider"></div>

# Chapter 14: Tyranny


<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>


An amber glow drenched the black clouds above. Soot descended on the gray covered street, carrying with it the smell of ozone and sulfur. The frigid wind whipped across Max’s body, as the light burned against his cooked skin.

He turned, following a small stone path through a gray covered garden. Ash crunched under his foot as he approached the side of the stucco building. He unslung the rifle, and pressed the door open. Shattered glass covered the entryway. A plain archway framed a dining table across the room. A hallway disappeared to the right, just past a leather couch. 

Glass snapped under his foot, breaking the room’s silence. His rifle shook in his hand as he peered into every shadow. Carpet muffled his step, as he crept next to the hallway. He glanced into the darkness, seeing four doorways. A small drip echoed behind him. He wheeled around and walked into the kitchen. His trembling rifle snapped to a faucet leaking into a sink. 

Fabric scratched against his dry skin. He gulped, unable to quench his parched throat. He grabbed a glass from the counter and filled it with water. Metal and sulfur flooded his nostrils as he raised the glass to his cracked lips. He pinched his nose, and downed the water. His stomach twisted, then violently hurled fluid across the counter. He buckled over, feeling a pit in his stomach, and landed on the ground. Liquid dripped down from the counter, spraying across his shirt and face. Ash wafted into the room, through a broken sliding door.

Max stood, wiping his face and fighting the knot in his stomach. Leaning against the wall, he shuffled past the archway, and approached the first door on the left. He tested the knob and slowly pushed, revealing metal band posters scattered across the walls. A guitar stood prominently at the edge of the bed, with a large amp to its side. He slid backward, and wiped his sweating brow with a hand. He turned, and pressed open the door across the hallway. Canning jars laid sparsely across roughly built wooden shelves, filled with a variety of pickled goods. Max stepped into the dark room, removing a backpack from his shoulder, and stuffed three jars of vegetables and fruits in. 

A diesel engine broke the silence. 

His ears perked up. He moved back into the living room, passing the two couches. Glass clattered to the ground as he cleared the sill. He knelt and propped himself against the window bay.

A large canvas backed military truck parked outside the Tudor-style house. A man dressed in black stepped out from the passenger door. Max lifted his rifle and aimed through his dead red dot. Another door slammed shut. A camouflaged soldier stepped out from behind the vehicle. Max watched as they approached the other military truck. A small white object flashed in the man in black’s hand. A torrent of sudden realization flooded into him.

“They’re human,” Max gasped. Blood drained from his face. The tips of his fingers grew cold. The pad pressed into the too light trigger.

The gun roared out, shattering the window of their truck. The figure ducked, as he pointed out towards Max. The camouflaged man wheeled robotically, before breaking into a dead sprint. He raised his rifle, ripping out dozens of shots into the air.

Max ducked behind the windowsill as bullets snapped and cracked around him. Drywall and wood exploded past him as the sound of the diesel engine started. His heart pounded in his chest. His arms trembled as the shots grew louder, closer, more accurate with every one of the man’s steps. Max struggled for breath. He flicked the selector to auto, and slammed it down on the sill. His gun ripped out, quickly emptying. The gunfire stopped, leaving only muttering in its wake. Adrenaline poured through his veins, he crawled along the glass covered carpet, and peered over a couch. 

The camouflaged man laid in the yard, whispering into the ash-filled air. Max lifted his rifle, placing the man in his iron sights, and squeezed the trigger. Nothing, not even a click. His eyes bolted to the gun, clumsily turning it to the side to see an empty chamber. He pulled the magazine from his pocket and slammed it in. Lifting the rifle, he pulled. Nothing. He rotated the rifle, seeing the bullet’s brass, and pulled back on the charging handle. The bolt snapped forward. He aimed, and fired three shots into the man’s body. Its muttering continued as a spoiling poison in his gut.

He stepped forward from the door. The mutterings grew scattered, chaotic, as though a chorus of voices screamed over each other for his attention.  Each of their words stirred in his stomach, but their meanings failed to reach his ear. The sound crescendoed as he approached. Black tar dripped from the body, staining the gray ash below. A shot stood just above the chest plate, stained in pitch. The head thrashed in every direction on its otherwise motionless body. 

Max pressed the barrel into the man’s head. A shot roared out, and the vile sound stopped. Acrid rot overpowered the sulfur and metallic air. His stomach clenched, threatening to spew its bile into the ash. He leaned over to the side, heaving, and casting glances at the detonated remains of the man’s skull. Closing his eyes, he exhaled a smooth stream of warm air, before turning back to the corpse.

A red pouch flashed from the chest plate, bearing a red cross on a white circle. Max knelt over the body and snatched it, stuffing it in his pocket. His gaze snapped to the Tudor house, and he ran down the road.

He opened the door, shining a light down the stairs. A red smear trailed to the right. His eyes widened, his muscles tensed, and he sprinted down the stairs, with his rifle in hand. His boot slammed down on the bottom step.

“Ru…”

His leg snagged, rocketing him forward into the scarlet smear. His chest slammed into the concrete. Fabric scraped his burnt skin. Muscle squashed against his bones. He rolled to a side, groaning, before flashing his light into the murk. Gold and blue shined in the black. 

Runa crawled out from under the stairs with a massive shard of blood-stained glass in her hand. She pointed it toward him, dragging her body along the ground.

“Runa stop, it's me!” Max yelled. Her hand dropped the makeshift dagger, and she collapsed onto the concrete. 

“Good,” she muttered into the floor. “We need to move.”

 “Move? I can’t drag you around like that.” Max said.

“No time, pick me up,” she stated. “A Void-Anima could come any moment.” 

The flashlight slipped from his hand, drenching the room in pitch. Orange lit shadows flickered at the top of the stairs, twisting and crawling across the opening. The concrete felt warm against his frigid hands as his lungs drew shallow breaths.

“Max. Focus,” She said into concrete. “We need to run.”

“Where?” Max stuttered, with his eyes glued to the top of the stairs.

“I don’t know,” she said. 

Ice crawled up his arms. Sweat beaded down his brow as he watched the orange slits seem to slip down the stairs.  A tug pulled his foot. He jerked backward, darting his eyes down to Runa’s grasping hand.

“Let’s take the truck,” she suggested, pulling on his boot. “Pick me up.”

“It’s dead,” Max responded. Her hand tugged with incessant rhythm on his boot.

“Then on foot,” she said. “Anywhere is better than here.” He bolted to his feet and scooped the girl onto his left shoulder. Her heat radiated into his burnt skin. He inhaled sharply, bracing himself and marched up the stairs. She groaned painfully with every step.

“What are our options?” Max said, as he pressed into the orange drenched room. Runa recoiled, instinctively pulling away from the massive, twisting flames outside. His shirt scraped against his skin. He shied away and hauled her past the dining room.

“Crafter, or far away,” she gasped.

“I won’t make it back into the hills,” he said, as he marched past the overturned couch and swung the door open. The cooling wind of mountain air whipped by him. Runa relaxed on his shoulder. “And there won’t be a crafter here, if the last one left.”

“Yes,” she replied.

“So, what options did we ever have?" he said, marching past the truck into the barren street. “We can’t beat that creature.”

“None, we go to the truck,” she stated.

“And where is that?” Max snapped.

“You didn’t weave the truck near us?” Runa asked.

“It’s not like I can plop it on our lap.” He said.

“Why not?” she replied.

“It’s still in the city, it should be somewhere we can walk to, but I don’t know anything about Boise.” Max griped. “But that nuke probably destroyed it for all I know.”

“No,” She said. “We’d be dead.” Max stopped as he entered the main street. His head twisted, staring into her temple.

“What?” he asked.

“Keep going,” she ordered.

“No, we need a destination,” He leaned her against a fence and pulled the pad from his pocket. The tip trembled against the paper as his thoughts swept out of his mind.

“What do I write?" he asked, looking up from the page.

“You’re the weaver.” Runa responded, as she slumped down the fence. 

“Uhm, us, a pair? The environment is hellish, an inferno?” he muttered. “But where could we find safety? A sanctuary?” He stopped, looking up into the firestorm. Flames spiraled upward across the city below. The ground itself seemed to glow in pitch stained amber. He caught the twin spires of a church jut from the burning skyline, north of several flaming skyscrapers.

“I have an idea,” Max said. “It should buy us enough time to find the truck.” Runa barely held herself with an arm. 

“What is it?” she said.

“We’ll take refuge in a church. It stopped one before, I think it can do it again.” He explained as he scratched the page.

“Impossible. It can slip through the cracks in a wall,” she said.

“I know, but for some reason, it didn’t, when it attacked me,” Max said.

“Fine, you’re the weaver,” she stated. “Finish then explain.”

“It’ll be bad,” he replied, and pointed into the city-wide blaze. “We have to walk through that.”





<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>



The city's orange glow covered the landscape. Black smoke rose into the ash-covered sky. Wind whipped past Max into the fray, as long tendrils of orange flame licked the apocalyptic hellscape.

The pit in his stomach grew with every step. His parched throat screamed for breath in the heated air. Rifles clacked behind him as Runa’s limp legs bounced erratically off his backpack. She stared into the ground ahead, as her eyes darted in thought.

“You shut the door of the church and a piece of it fell off?” Runa grunted.

“Yeah, I was too tired to think about it much at the time, but I distinctly remember a black stain on the carpet.” Max explained.

“I’ve never heard of such a thing happening.” Runa said. 

“Unsurprising,” He grumbled.  His shoulders ached and lungs burned. His cooked skin protested the shifting weight of the girl. “I need to rest, I’m going to puke.”

“We have to keep moving.” she said, shifting her weight. 

“This would be easier if I didn’t have to carry you.” Max growled.

“Stop complaining.” Runa responded robotically.

“One little glass shard, and you’re useless.” Max forced a grim chuckle as he rounded a corner. A wall of heat rolled across his body. Burning waves, like the forked tongue of a serpent, lapped his skin. 

“Is that the one?” she said, pointing to a large stone cathedral, painted black against the orange glow. Prismatic light shone from inside the building. His feet moved faster, regaining strength as his body screamed in pain. Cracking wood filled the air. Smoke hung heavy against his sweat drenched mask. The hot air cooked his lungs as the blaze roasted his skin.  He sprinted up a stone staircase. Ahead stood a large wooden double door. His hand burned as he grabbed the door handle and wrenched it open.

A large blast of air sucked him inward. Heat snapped across his body as he rolled backwards onto the hot stone floor. His lungs failed him. Liquid filled his airways. He gasped, retching and heaving as his arms failed to obey his command. Runa slid along the stone surface, rolling to a stop. She groaned, heaving herself upward and catching the glint of melted chromatic glass just beyond the door. Her gaze fell to the gasping boy.

She crawled toward him. Her skin sizzled, like eggs, on the hot stone. Her hand grabbed his. 

“There’s a door at the bottom of the stairs, maybe that’s safe,” She said. Max continued gasping, and grabbing his throat. Using one arm, she gripped into the stone floor, and pulled him along the ground. Approaching the edge of the stairs, she pulled herself upwards. Her hand stuck to the railing. Bits of fried skin clung to the metal. Her eyes darted toward the unlit basement door.

“Fire,” Max rasped.

“It’s dark on the inside,” Runa responded. Her legs trembled beneath her. Her hand gripped the rail, as she dragged Max down the stairs He gasped with every breath, as he half-crawled behind her. She rounded the staircase and approached the small wooden door.

Propping herself against the heated stone, she swung her arm and punched the door off the hinges. Cold air flowed outward. She pressed into the dark room, lit by the outside flames. She steadied herself against each desk as she passed a large classroom. Max collapsed onto the ground behind her, breathing heavily. She left him, stumbling into a hallway. It teed at the end, with a door standing to either side. She leaned against the stone wall, catching a face carved into its surface. It slid inward and a door rotated back against the wall. A stone staircase led downward into the pitch.



<div class="scene-change" ><img src="/images/books/valkyriextruck/bw-tiremark.webp" alt="tire mark" /></div>



A drip echoed against the stone. The air smelled of marble and decay. Max opened his eyes to a placard bearing the words ‘deceased’ framed by a stone archway. His neck rested against a cool surface. The flashlight cast deep shadows with the room’s intricately adorned pillars. A glint of rippling light softly shone in the black. Warmth spread across his right hand. 

He turned, vertebrae slid on bone, reverberating through his body. The sash bound his hand to Runa’s. She stared at the placard, barely giving a glance as he rotated. He opened his mouth to speak, feeling his dry lips cling to each other, his vocal cords rattled together as he spoke.

“Where are we?" he rasped.

“Basement of that church,” she stated.

“Is that water?” Max asked, turning toward the glinting light in the darkness.

“Don’t,” Runa stated. 

He pulled the backpack between them closer to himself, and removed a jar of pickles. Her hand stopped his, pressing the jar back in. “Don’t,” His gaze returned to the rippling light, feeling his moisture leave with every breath. 

“No,” Runa stated. “We can’t leave until the fire dies out.” He gulped, watching the waves refract on the ceiling. His left hand began to unravel his right.

“Runa. I’m sorry, I couldn’t find any burn cream,” he said.

“Mor—phine,” she emphasized, touching a red pouch at her waist. Max stood, and the sash tumbled to the floor. “What are you doing? Sit,” she commanded. He stepped away and turned, reaching into his right pocket. The flashlight shone brightly in his eyes, forcing him to squint.

“I have to write,” he said, making small, backward steps toward the light. He drew the pad and pen from his pocket and pretended to scratch across its surface. 

“Sit,” she reiterated. “I bound your right hand, you can still write,” she sat up from the wall, coiling her legs beneath her.

Max bolted, sprinting across the room and dropping his tools to the floor. His stomping feet echoed across the marble, drowning the light footfall behind him. He grabbed the edges of an ornate font and slammed his head in, drinking deeply as sweat and grime washed away from his face. A hand grabbed his shoulder. He flew backwards, slamming into the ground. He groaned, and a foot rammed into his stomach. 

“Idiot!” Runa screamed overhead. He heaved, curling into a ball as her foot collided with his throbbing gut a second time. His mouth exploded with water, leaking his aqueous treasure onto the cold stone. Her foot reeled back again.

“Stop!” He gasped. Her kick halted just before his midsection. She set it on the floor and twisted away. He gripped his stomach, curling into a ball, as his diaphragm spasmed. 

“Do you have a death wish?” she asked. “The water is irradiated,”

“Tastes fine,” Max coughed. “Much better than the tap water.”

“The sash can’t fix everything,” she emphasized.

Max wobbled onto his feet, spitting bits of phlegm into the puddle below. Runa leaned back on a foot, raising her fists to her starkly shadowed face. A blue light rippled across the wall behind her. 

“Fine,” he muttered. “When can we leave then?”

“Two weeks,” she stated.

“Two weeks? I’ll die even if you don’t,” he snapped. “We have a jar of fruit between us.”

“Half a jar,” she corrected. Max straightened, stretching his abdomen, and stumbled toward her.

“So what do we do then?” he asked.

“I can get to the truck,” she said.

“In two weeks?” he snapped. “Will you just smell the water? It’s fine.”

 She lowered her guard and turned to the font. Leaning over it, her head jerked backward, twisting and turning erratically.

“See like I… Runa?” Max started.

“I don’t know what’s happening,” she said. “I can’t look at it.”

“What?” he stammered and limped up next to her.

“I don’t get it,” Runa said with a shove against the well’s side. She walked back to his bag. “Drink, I don’t care.”

A small blue light sat at the bottom of the well. A brilliant cerulean tone that defied its dim shade. Max squinted his eyes, as its source danced in the ripples, always in the edges of his vision. His arm was pulled down by the enthralling light. His fingers slid across the font's bottom, as he tried to catch its twirling essence. His index finger touched something sharp, as he ignored a distant, echoed warning. He traced the curved and multifaceted lines that belied their simple shape. He removed his finger, and a searing brilliance burned into his mind.

His body jerked backward, falling as Runa’s celeste eyes soared into view, reflecting the blue light. Her hand guided him and rested him on the floor. His mind swam, as her mouth moved as though to speak. His ears heard nothing in the stone silence of the room. Her gaze lifted to the light, as sound returned. A feminine, rhythmic breath slid in his eardrums, accompanied by the melody of his pumping heart. The warmth of her hand spread across his back.

A vibration echoed through the room. She pulled away, and reached into her pocket.

“Max, can you hear me?” she asked as the light of the phone reflected in her eyes. “They just turned on my truck.” The fog lifted from his mind.

“What? Why would they do that?" he asked, as her phone vibrated again.

“A new ashen world. A bird failing to take flight. Break— the circle of gold. Heart,” she read aloud.

“Heart?” he said, perking up an ear.

“I don’t understand. It must be The Fool.” she stated, as her eyes scanned the poem again.

“It almost sounds like a haik…” Max stopped, his eyes glued to her face. “That’s a weave.”

“They are threatening to destroy the truck,” she stated. Her gaze swept to the small staircase lit by the flashlight’s reflection. “It’s located at the airport.”

“What’s the circle of gold?" he asked. Runa tapped her holster, flashing the gold light within.

“If they destroy the truck, we’ll die,” she said. Max rolled his eyes.

“Yeah, we definitely won’t find another car,” he grumbled. He stood from the ground and felt his gaze returning to the font.

“No, if they detonate my truck, we will be engulfed in the explosion,” she explained. His eyes shot wide open and swept to her. She leaned against the wall, placing a hand on her chin. “The Void-Anima will be waiting for us, and his thralls will likely fight us along the way.” Max’s gaze darted to his pad, laying in the flashlights beam.

“I’ll weave something, there has to be a way out,” he said. He stepped to the center of the room and picked up the pad.

“You’re a novice,” she said. “Impressive, but we are facing a master.”

“Can we run?” Max asked.

“No, they’ll have anticipated running. I have to go for the truck,” she stated.

“But it’s a trap,” he replied.

“I know,” she acknowledged.

Max rapped his pen against the pad, scanning their sparse belongings. In the corner of his vision, he caught the soft blue light.

“Wait, who said it would be waiting at the truck? What if we fought it here instead?” he suggested.

“How would that help?” Runa stated. She picked up her rifle and quickly inspected it. Max motioned to the font.

“We don’t have weapons, so our best shot is getting whatever this is and the Void-Anima to interact,” he explained. “We’ll shoot the well. That should piss off whatever’s inside enough.” Her rifle clattered to the floor. Her gaze bolted upward and brow lifted.

“You’re insane,” she said. 

Max scratched his pen against the paper, beginning his outline.

“What options do we have? Dying next to your truck?” he snapped without a glance. Runa’s gaze drifted to the rifle at her feet. Her right hand rested on her holster. “I can’t figure out the heart, though. Why is it there?” Max continued.

“I don’t know, there were two punctuation marks on either side, colons,” she stated. Max stopped his writing, His head jerked upward, seeing Runa collect the rifle and bag.

“Emoji?” he asked. His gaze descended to the pad. “Never mind, the rest of it is vague enough, we could break any circle of gold and fulfill it. We just have to spring the trap early.”

“I hate this plan,” she stated.

“It’s this or death.” Max said. “Well, I have a working idea, but you’ll need to step outside. Bait him in, and I’ll shoot the font.”

“I hate this,” she said. He tore off a page and stuffed the pad in his pocket.

“Ready?” he asked. Her eye twitched. Runa slid up the stairs and put a hand on the door. Max scooped up his rifle, and crouched in the back of the room. She tested the handle, budging it slightly, before swinging it open. Pitch black covered her vision. The smell of char and rot filled the air. Heat pulsed through her skin. She flicked up the flashlight, casting it across the wainscotted wall. Whipping the lamp to either side, she glided through the doorway. Her muffled step slid across the carpet. Her rifle trained to every shadow. Like a phantom, she crept into the classroom.

A man stood in the center, dressed in military garb. He muttered jumbled tones through the sour air. Her rifle rang out, blasting bits of blackened flesh across the desks. He fell to the ground, as his arms reached out and grabbed the surrounding furniture, pulling them closer toward himself. Her eyes darted across the room as her rifle roared, silencing the thrall.

A cord ripped her leg out from beneath, slamming her nose into the thin carpet. Pain burst across her face. The flashlight, tumbled through the gloom, smashing against the stone wall and plunging the room into darkness, save for a green glow, like a faint wash of lime, creping across the etchings in the wainscot. 

A disheveled hand, with a bark-like texture and blacker than the shadows that engulfed the room, grasped her calf. Its  claws dug into her muscle, sending a tendril of burning venom through her veins. The grains of its skin slathered upward along her pant, as more grasping digits pulled her into the center of the room.

Her arms bolted upward, failing to find purchase in the carpet’s weave. The body lifted, sputtering into flame like a green geyser. A mass of liquid stone rose from the floor.  It soared upward to the ceiling as abscissal limbs and tendrils thrust from its center, spreading across the room. A face, with a soft, almost alluring shape, were it not covered in the twisting bark, emerged from the pitch, threatening to clamp its cuspids on her leg. 

She kicked it, popping the head, then it peeled backward into its writhing form. She pointed her gun toward the hand, and pulled the trigger. Green flame filled the air, bringing with it the smell of cooked flesh. 

Runa crawled away, as the hands and faces oozed down the iconography, flooding toward the hallway, and creeping toward the stairs.  She placed a foot beneath her and sprinted. A flaming tongue lashed out, gripping her hand and spinning her back toward the creature. Her legs kicked against the wall, as she fought against its pull. Her muscles flexed against stone, and bones popped along her spine. The green flame licked and seared her hand, leaving blackened flesh in its wake. Her feet slipped.

Gunfire roared out, severing the tongue. The creature surged along the walls, covering them in dendritic limbs filled with hands and faces. 

“Basement!” Runa screamed, as she flipped around. Max’s foot slipped behind the door frame. She sprinted into the stairway as the mass of crackling, splitting limbs encased the surrounding walls. Max stood in the center, slipping away behind the wall of teeth and flame.

A brilliant light burst through the blackened flesh, blinding her through the Void-Anima’s form. Her legs grew lifeless. Her arms sagged, as only a single thought coursed through her mind.



Submit or perish.



The multitude of bites and burns dulled. The flashlights beam cast a yellow light from the stairs. The blinding light had vanished, taking with it the scent of rot. Her gaze travelled along the crypt’s motionless interior. The wall wore a spiralling black, char along its surface. Burnt human hair hung thick in the air. Max, motionless, prostrated in front of the demolished font.

Every bone creaked as she lifted herself. Her muscles ached from exertion. Her head drooped as she crawled toward Max. The smell of cooked flesh grew stronger. She rolled him over, as smoke lifted from the burns on his arms and face. His green eyes lolled in his head as she tapped his cheek. 

“Max. Max, wake up,” She whispered. Her gaze drifted to the sash around her hand. She unwound it, and wrapped it around his arms and head. His body twitched as the fabric touched his skin. She leaned against the wall. Dim light fell across the empty wall and steps, revealing her damaged skin. Black tendrils spiralled outward from her charred and bit flesh. Her hand rested on the shoulder of the boy, as she softly patted him.

“Good work,” she said and forced herself to stand. Her rifle fell against her side, rocketing the venomous pain through her. She limped toward the stairwell, tightly squeezing the rifle’s grip. “Leave the rest to me.”

<div class="button-spacing"></div>



<script>



</script>

<style>
.button-spacing {
height: 10rem;
}
picture {
display: block;
width: 600px;
}
h1 {
text-align: left;
    @apply text-xl; 
}
.chapter-head {
height: 500px;
opacity: .8;
position: absolute;
top:-150px; 
right:-75px;

}
.chapter-divider {
margin-top: 200px;

}
.image-container {
position: relative;
}

</style>
